Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
        architecture: x64
        pool:
          vmImage: windows-2019
        kind: scenarios
        machinePool: Open
  ...

Reset retry count, added one to the retry count, and set the sleep time to 60 seconds.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Remove item and retrycount initializations as they are only used in the loop.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Add GitHub API call backoff for getting commit date (#2447)
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Allow for uploading partial benchmark results when some runs fail (#2445)
  scripts/benchmarks_ci.py
  scripts/dotnet.py
  scripts/micro_benchmarks.py
  scripts/performance/common.py
  src/harness/BenchmarkDotNet.Extensions/Extensions.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Update benchmarks_monthly.py to include preview5
  scripts/benchmarks_monthly.py
Due: none

Update the perfcontrib.py script to a new name, add some input validation
  scripts/benchmark_monthly_upload.py
Due: azure-pipelines-micro.yml

Update the perfcontrib.py script to a new name, add some input validation (#2456)
  scripts/benchmark_monthly_upload.py
Due: azure-pipelines-micro.yml

fix filename
  scripts/benchmarks_monthly_upload.py
Due: azure-pipelines-micro.yml

Fix typo in benchmarks_monthly_upload.py script name
  scripts/benchmarks_monthly_upload.py
Due: azure-pipelines-micro.yml

Fix typo in benchmarks_monthly_upload.py script name (#2461)
  scripts/benchmarks_monthly_upload.py
Due: azure-pipelines-micro.yml

Do some extra computation
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Create GCPerfSim.cs
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Do some extra computation (#2462)
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Add PaintDotNet startup tests
  azure-pipelines.yml
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
  scripts/ci_setup.py
  src/scenarios/paintdotnet/post.py
  src/scenarios/paintdotnet/pre.py
  src/scenarios/paintdotnet/test.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/startup.py
  src/scenarios/shared/testtraits.py
  src/scenarios/shared/util.py
  src/tools/ScenarioMeasurement/Startup/PDNStartupParser.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/Startup.csproj
  src/tools/ScenarioMeasurement/Util/ProcessHelper.cs
Due: azure-pipelines-micro.yml

Add Arm64 job to normal trigger
  azure-pipelines.yml
Due: none

Place PaintDotNet run and setup behind conditions to block on PR runs
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Fix the resume feature by moving the files in an independent loop
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Update azure-pipelines.yml
  azure-pipelines.yml
Due: none

Add the release/6.0 version to the channel map.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Backport: Update Windows RS4 x64 micro_net461 Open LTS to windows-latest (#2148)
  azure-pipelines-gc.yml
  azure-pipelines.yml
  eng/performance/benchmark_jobs.yml
  eng/performance/pr.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Fix merge bleed.
  azure-pipelines.yml
Due: none

Setup the channel map properly.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Wrap certification initialization with try-catch
  src/benchmarks/micro/libraries/System.Net.Http/Configuration.Certificates.cs
Due: azure-pipelines-micro.yml

Fix the resume feature by moving the files in an independent loop (#2466)
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

nit comment
  src/benchmarks/micro/libraries/System.Net.Http/Configuration.Certificates.cs
Due: azure-pipelines-micro.yml

Wrap certification initialization with try-catch (#2469)
  src/benchmarks/micro/libraries/System.Net.Http/Configuration.Certificates.cs
Due: azure-pipelines-micro.yml

Add release/6.0 channel map back.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Update the default channel when running on branch release/6.0 since branch based installing is no longer supported.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

First iteration of maui desktop changes/support
  scripts/dotnet.py
  src/scenarios/mauidesktop/post.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauidesktop/test.py
  src/scenarios/shared/precommands.py
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/WinUIParser.cs
Due: azure-pipelines-micro.yml

Add maui desktop scenario to scenarios for testing while figuring out final format.
  src/scenarios/mauidesktop/pre.py
Due: none

This version doesn't upport the WPF parser.
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: none

Add in the MauiDesktop scenario.
  eng/performance/scenarios.proj
  src/scenarios/mauidesktop/pre.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

Setup the precommands, execute to work properly.
  eng/performance/scenarios.proj
  src/scenarios/mauidesktop/pre.py
Due: azure-pipelines-micro.yml

Update scenarios.proj mauidesktop run names and run a warmup app run as it doesn't seem to run successfully the first time the app is executed.
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Fix encoding error.
  scripts/performance/common.py
Due: azure-pipelines-micro.yml

Update the net461 queue and remove the Start-Sleep powershell command, replacing it with taskkill.
  azure-pipelines.yml
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Take out pre-run altogether.
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Update getLogger().warn to getLogger().warning.
  scripts/benchmarks_ci.py
Due: azure-pipelines-micro.yml

Update getLogger().warn to getLogger().warning. (#2474)
  scripts/benchmarks_ci.py
Due: azure-pipelines-micro.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
