Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/sdk-perf-jobs.yml
    parameters:
  ...

Update src/benchmarks/micro/libraries/System.Linq/Perf.ImmutableArrayExtensions.cs
  src/benchmarks/micro/libraries/System.Linq/Perf.ImmutableArrayExtensions.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

MCP Server for GC.Infrastructure (#4921)
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.sln
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/AspNetBenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GC.Infrastructure.MCPServer.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GCPerfsim.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Microbenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Program.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Run.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Try to fix noisy app test runs.
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/androidinstrumentation.py
Due: azure-pipelines.yml

add RF Analysis configuration
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFramework/ReliabilityFramework_AnalyzeDump.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFramework/ReliabilityFramework_CreateTestSuite.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFAnalyze.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFCreateSuites.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFCreateSuitesCommand.cs
Due: none

Update src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFCreateSuites.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFCreateSuites.Configuration.cs
Due: none

Undo info log conversion from fstring to %s as it is not often called.
  src/scenarios/shared/androidhelper.py
Due: azure-pipelines.yml

Disable Android package verifier during Android test runs (#4934)
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/androidinstrumentation.py
Due: azure-pipelines.yml

add corerun build tool for mcp server
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
Due: none

track committed usage
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItem.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItemComparison.cs
Due: none

Add Partition to SVE micro benchmark
  src/benchmarks/micro/sve/Partition.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable memory consumption execpt for Blazor
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Refactor iOS runtime measurements
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable memory consumption execpt for Blazor (#4945)
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use net9.0_18.5 version 18.5.9219 instead of 18.5.9223.
  NuGet.config
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Use net9.0_18.5 version 18.5.9219 instead of 18.5.9223. (#4947)
  NuGet.config
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Make TraceCollector work on Linux (#4706)
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/GC.Analysis.API.UnitTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GC.Analysis.API.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/GC.Infrastructure.Core.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

replace sum with average
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItem.cs
Due: none

Update target framework for micro benchmarks (#4914)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
Due: azure-pipelines.yml

Add Partition to SVE micro benchmark (#4943)
  src/benchmarks/micro/sve/Partition.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Refactor iOS runtime measurements (#4933)
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add version control tools
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/VersionControl.cs
Due: none

add exception handling
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
Due: none

handle error
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/VersionControl.cs
Due: none

return for all branches
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
Due: none

improve prompts for corerun build tools
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
Due: none

remove traces of hybrid globalization
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add NoR2R runs
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add NoR2R to job name
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove Windows x86
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add NoR2R runs (#4954)
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add corerun build tool for MCP server (#4938)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/VersionControl.cs
Due: none

Add Configuration for analyzing dump and format console log for RF (#4931)
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFramework/ReliabilityFramework_AnalyzeDump.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFramework/ReliabilityFramework_CreateTestSuite.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFAnalyze.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFCreateSuites.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestAnalyze.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestCreateTestSuite.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFAggregateCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFCreateSuitesCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

improve prompts and output message for gcperfsim, microbenchmarks and aspnetbenchmarks tests
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/AspNetBenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GCPerfsim.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Microbenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Run.cs
Due: none

parameterize the success output string with the inputs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
Due: none

Added instructions for the MCP Server launch
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/README.md
Due: none

Fixed up md linting issues
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/README.md
Due: none

Fixed linting errors
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/README.md
Due: none

Added instructions for the MCP Server launch (#4960)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/README.md
Due: none

fix referenced package version error
  src/benchmarks/gc/GC.Infrastructure/Notebooks/DataManager.dib
Due: none

testing
  azure-pipelines.yml
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
