Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Standardize the iOS Scenario names to match android name convention.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Optimize CopyFilesRecursively for Linux
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Utilities.cs
Due: none

add sdk intall time to the PERFLAB_DATA
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines.yml

Update src/scenarios/shared/versionmanager.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines.yml

[Android] Add MAUI Android Sample Content template app + refactor TTFD naming (#4837)
  eng/performance/maui_scenarios_android.proj
  scripts/dotnet.py
  src/scenarios/mauisamplecontentandroid/post.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/mauisamplecontentandroid/test.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add datetime of SDK install to the PERFLAB_DATA (#4838)
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines.yml

Add CodegeType to mobile iOS runs and setup RuntimeType and CodegenType to be saved as configurations.
  eng/pipelines/sdk-perf-jobs.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Don't include the TTFD in the Blazor test name, especially as we are not currently running the startup tests for blazor.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the iOS scenarios build flow to match android (#4834)
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  scripts/run_performance_job.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

partial revert of previous change
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Download binlog files
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add devicebuild scenario and implement build time parser in the Startup tool
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/testtraits.py
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
  src/tools/ScenarioMeasurement/Util/Util.csproj
Due: azure-pipelines.yml

Copy binlog files to payload directory
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

partial revert of previous change (#4839)
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix android binlog path
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

disable non-android private jobs
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BuildTimeParser to measure total build time
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
Due: azure-pipelines.yml

add CoreCLR R2R and Mono AOT Android SDK jobs
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix binlog path
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

rename R2RComposite
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

do not run SOD measurements on galaxy Pixels
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add Android NativeAOT MAUI scenarios
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Switch the default counter settings in BuildTimeParser
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
Due: azure-pipelines.yml

SVE microbenchmarks with string operations
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Measure AndroidAppBuilderTask
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
Due: azure-pipelines.yml

temporary disable MAUI apps with NativeAOT
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

refactor comments
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Revert "disable non-android private jobs"
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update scripts/run_performance_job.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Rename DEVICEBUILD to BUILDTIME
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/testtraits.py
Due: azure-pipelines.yml

Check for binlog path
  src/scenarios/shared/runner.py
  src/tools/ScenarioMeasurement/Directory.Packages.props
  src/tools/ScenarioMeasurement/Util/Util.csproj
Due: azure-pipelines.yml

Filtering string benchmarks to only run on aarch64
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add check for SVE support in string benchmarks
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[Android] Add Mono AOT, CoreCLR R2R, CoreCLR R2R Composite, NativeAOT Android SDK configurations (#4843)
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Improve file handling
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add filter to benchmarks for SVE support
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Naming changes to string benchmarks
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add build time measurement to Startup tool (#4842)
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/testtraits.py
  src/tools/ScenarioMeasurement/Directory.Packages.props
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
  src/tools/ScenarioMeasurement/Util/Util.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix binlog path validation for build time measurements
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml
