Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

fix referenced package version error (#4961)
  src/benchmarks/gc/GC.Infrastructure/Notebooks/DataManager.dib
Due: none

Handle error and improve success message (#4958)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/AspNetBenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GCPerfsim.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Microbenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Run.cs
Due: none

Add redact logs step after submit to helix
  eng/BinlogSecretsRedactionFile.txt
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix log path, and add additional secret name
  eng/BinlogSecretsRedactionFile.txt
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add cancellationtoken and abstract process to prevent duplication
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Tools/AspNetBenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Tools/CoreRun.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Tools/GCPerfsim.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Tools/Microbenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Tools/Run.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Tools/VersionControl.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Utilities/CliCommand.cs
Due: none

return double.NaN in case divide by zero
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItemComparison.cs
Due: none

Track committed usage (#4940)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItem.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItemComparison.cs
Due: none

resolve copilot's review
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Utilities/CliCommand.cs
Due: none

resolve conflicts
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/AspNetBenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GCPerfsim.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Microbenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Run.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/VersionControl.cs
Due: none

add cancellationtoken and abstract process to prevent duplication (#4964)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/CoreRun.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Utilities/CliCommand.cs
Due: none

Add linux support for redact-logs
  eng/common/post-build/redact-logs.sh
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix typo
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix arguments
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add redaction (#4968)
  eng/BinlogSecretsRedactionFile.txt
  eng/common/post-build/redact-logs.sh
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix FSharp test issue on net10.0.
  src/scenarios/fsharpcompilerservice/src/DependencyManager/DependencyProvider.fs
Due: azure-pipelines.yml

Setup testing.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the location of the redact-logs.sh file so that maestro updates will not remove the file and break the repo. Also updated the script path in run-performance-job to use the new path.
  eng/performance/redact-logs.sh
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

remove traces of hybrid globalization (#4953)
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the location of the redact-logs.sh file so that maestro updates will not remove the file and break the repo. Also updated the script path in run-performance-job to use the new path. (#4970)
  eng/performance/redact-logs.sh
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add dotnet11 feeds.
  NuGet.config
Due: azure-pipelines.yml

Disable F# for x86 runs.
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Setup testing."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add tracking issue for x86 OOM.
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Only comment out the F# Compiler Service test build.
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Improve StrIndexOf SVE benchmark
  src/benchmarks/micro/sve/StrIndexOf.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Optimise SVE microbenchmark routines
  src/benchmarks/micro/sve/Partition.cs
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add benchmarks for Zstandard
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix F# nested type definition error & disable x86. (#4972)
  eng/performance/sdk_scenarios.proj
  src/scenarios/fsharpcompilerservice/src/DependencyManager/DependencyProvider.fs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add benchmark for ImmutableArrayExtensions (#4915)
  src/benchmarks/micro/libraries/System.Linq/Perf.ImmutableArrayExtensions.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Wrap with NET11_0_OR_GREATER
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add support for iOS CoreCLR scenarios
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Test build
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use MSBuild property functions instead of `_TargetFrameworkVersionWithoutV`
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use `IsTargetFrameworkCompatible`
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

remove `netcoreapp3.1` condition
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Suppress warning NU1510
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Enable strict type checking + python code cleanup
  .vscode/settings.json
  requirements.txt
  scripts/benchmarks_ci.py
  scripts/benchmarks_local.py
  scripts/benchmarks_monthly.py
  scripts/benchmarks_monthly_upload.py
  scripts/build_runtime_payload.py
  scripts/channel_map.py
  scripts/ci_setup.py
  scripts/dotnet.py
  scripts/micro_benchmarks.py
  scripts/performance/common.py
  scripts/performance/logger.py
  scripts/performance/tracer.py
  scripts/run_performance_job.py
  scripts/send_to_helix.py
  scripts/upload.py
  src/scenarios/shared/codefixes.py
  src/scenarios/shared/crossgen.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
  src/scenarios/shared/testtraits.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

.NET projects warnings cleanup, nullability, and update min dependency to net472
  eng/pipelines/sdk-perf-jobs.yml
  scripts/channel_map.py
  scripts/run_performance_job.py
  src/Directory.Build.props
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/README.md
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/ExclusionFilter.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/PartitionFilterTests.cs
  src/tools/CertHelperTests/CertRotatorTests.csproj
  src/tools/Reporting/Reporting.Tests/Reporting.Tests.csproj
  src/tools/Reporting/Reporting/Build.cs
  src/tools/Reporting/Reporting/Counter.cs
  src/tools/Reporting/Reporting/Os.cs
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/Reporting/Reporting/Reporting.csproj
  src/tools/Reporting/Reporting/Run.cs
  src/tools/Reporting/Reporting/Test.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Only import typing_extensions when type checking
  scripts/performance/tracer.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix dotnet version regex
  scripts/dotnet.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
