Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
        architecture: x64
        pool:
          vmImage: windows-2019
        kind: scenarios
        machinePool: Open
  ...

Add WinForms to scenarios.proj
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Fix typo
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Add flag to precommands for Windows UI testing
  eng/performance/scenarios.proj
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

Add Windows only check to WinForms test
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Address review feedback
  src/scenarios/shared/postcommands.py
Due: none

Add win forms startup (#2359)
  eng/performance/scenarios.proj
  src/scenarios/shared/precommands.py
  src/scenarios/windowsformslarge/src/Events.cs
  src/scenarios/windowsformslarge/src/Form1.Designer.cs
  src/scenarios/windowsformslarge/src/Form3.Designer.cs
  src/scenarios/windowsformslarge/src/WinformsNetCorePerfApp1.Designer.cs
  src/scenarios/windowsformslarge/src/WinformsNetCorePerfApp1.csproj
  src/scenarios/windowsformslarge/test.py
Due: azure-pipelines-micro.yml

remove entire SDK folder to avoid issues for users who inadvertently start a run in the wrong shell architecture type or without --architecture arm64
  scripts/benchmarks_monthly.py
Due: none

use machine architecture as default SDK architecture
  scripts/benchmarks_monthly.py
  scripts/dotnet.py
  scripts/performance/common.py
Due: azure-pipelines-micro.yml

remove entire SDK folder to avoid issues for users who inadvertently start a run in the wrong shell architecture type or without --architecture arm64 (#2373)
  scripts/benchmarks_monthly.py
Due: none

Fix capture when time is over 1 second and added an error if more than one s (for seconds) shows up.
  src/scenarios/shared/runner.py
Due: none

Fix capture when time is over 1 second and added an error if more than one s (for seconds) shows up. (#2376)
  src/scenarios/shared/runner.py
Due: none

use machine architecture as default SDK architecture (#2374)
  scripts/benchmarks_monthly.py
  scripts/dotnet.py
  scripts/performance/common.py
Due: azure-pipelines-micro.yml

Support a --resume argument to resume a MicroBenchmarks run from previous results
  scripts/benchmarks_ci.py
  scripts/benchmarks_monthly.py
  scripts/micro_benchmarks.py
  src/benchmarks/micro/Program.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Use block-scoped namespaces and return value to avoid dead code elimination
  src/benchmarks/micro/libraries/System.IO/StreamReaderReadToEndTests.cs
  src/benchmarks/micro/libraries/System.IO/StringReaderReadToEndTests.cs
Due: azure-pipelines-micro.yml

Remove loops because BenchmarkDotNet does it already
  src/benchmarks/micro/libraries/System.IO/StringReaderReadToEndTests.cs
Due: azure-pipelines-micro.yml

Update microbenchmark-design-guidelines.md
  docs/microbenchmark-design-guidelines.md
Due: none

Show existing results in the output
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

blazor_scenarios: Fix issues caused by `dotnet` being shared by all the workitems (#2367)
  src/scenarios/blazor/post.py
  src/scenarios/blazor/pre.py
  src/scenarios/blazoraot/post.py
  src/scenarios/blazoraot/pre.py
  src/scenarios/blazorminapp/post.py
  src/scenarios/blazorminapp/pre.py
  src/scenarios/blazorminappaot/post.py
  src/scenarios/blazorminappaot/pre.py
  src/scenarios/blazorpizza/pre.py
  src/scenarios/blazorpizzaaot/post.py
  src/scenarios/blazorpizzaaot/pre.py
  src/scenarios/shared/postcommands.py
  src/scenarios/shared/precommands.py
Due: none

Bumped version.
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Revert "Disable PerfFileStream while we wait for dotnet/runtime#67545 to be fixed. (#2371)"
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines-micro.yml

Bumped version. (#2380)
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Add support for the s390x architecture
  src/scenarios/shared/util.py
Due: none

Use platform target AnyCPU for architecture s390x
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Add support for the s390x architecture (#2383)
  src/scenarios/shared/util.py
Due: none

extend ResultsComparer with the possibility to decompress files produced by benchmarks_monthly.py (#2368)
  src/tools/ResultsComparer/Data.cs
  src/tools/ResultsComparer/Helper.cs
  src/tools/ResultsComparer/Program.cs
  src/tools/ResultsComparer/README.md
  src/tools/ResultsComparer/ResultsComparer.csproj
Due: none

ResultsComparer improvements (#2372)
  src/tools/ResultsComparer/MultipleInputsComparer.cs
  src/tools/ResultsComparer/MultipleInputsOptions.cs
  src/tools/ResultsComparer/Program.cs
  src/tools/ResultsComparer/Stats.cs
Due: none

Bump BDN to 0.13.1.1786
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

WIP
  src/scenarios/wpflarge/test.py
  src/scenarios/wpfsfc/post.py
  src/scenarios/wpfsfc/pre.py
  src/scenarios/wpfsfc/src/App.xaml
  src/scenarios/wpfsfc/src/App.xaml.cs
  src/scenarios/wpfsfc/src/Window1.xaml
  src/scenarios/wpfsfc/src/Window1.xaml.cs
  src/scenarios/wpfsfc/src/wpfsfc.csproj
  src/scenarios/wpfsfc/test.py
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/WPFParser.cs
  src/tools/ScenarioMeasurement/Util/ProcessHelper.cs
Due: none

Bump BDN to 0.13.1.1786 (#2385)
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

MauiBlazorAndroid Scenario
  .gitignore
  src/scenarios/mauiblazorandroid/post.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorandroid/test.py
Due: none

Revert "Disable PerfFileStream while we wait for dotnet/runtime#67545 to be fixed. (#2371)" (#2381)
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines-micro.yml

MauiBlazorIOS Scenario
  src/scenarios/mauiblazorios/post.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiblazorios/test.py
Due: none

MauiBlazorAndroid Scenario (#2386)
  .gitignore
  src/scenarios/mauiblazorandroid/post.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorandroid/test.py
Due: none

update GCPerfSim #if NET5_0 to #NET5_0_OR_GREATER. add missing "-ee" flag described in doc.
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

update GCPerfSim #if NET5_0 to #NET5_0_OR_GREATER. add missing "-ee" flag described in doc. (#2388)
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

MAUI Mac Catalyst
  src/scenarios/mauiblazormaccatalyst/post.py
  src/scenarios/mauiblazormaccatalyst/pre.py
  src/scenarios/mauiblazormaccatalyst/test.py
Due: none

Revert "MAUI Mac Catalyst"
  src/scenarios/mauiblazormaccatalyst/post.py
  src/scenarios/mauiblazormaccatalyst/pre.py
  src/scenarios/mauiblazormaccatalyst/test.py
Due: none

Update parser to correct algorithm
  src/tools/ScenarioMeasurement/Startup/WPFParser.cs
Due: none

Added WPF startup scenarios to scenarios.proj file.
  eng/performance/scenarios.proj
  src/tools/ScenarioMeasurement/Startup/WPFParser.cs
Due: azure-pipelines-micro.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
