Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Write gcperfsim result in json (#4651)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
Due: none

Create new CollectTypeMap to separate between the crank and local runs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
Due: none

Fix up notebook pipeline (#4716)
  gc-azure-pipelines.yml
Due: none

Comment out PerfBDN dependency locations.
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup testing.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix missed PerfBDN dependency location.
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Setup testing."
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "[main] Update dependencies to ensure coherency (#4719)"
  NuGet.config
  eng/Version.Details.xml
  eng/common/core-templates/job/publish-build-assets.yml
  eng/common/sdk-task.ps1
  eng/common/tools.ps1
  global.json
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Revert "[main] Update dependencies to ensure coherency (#4719)" (#4731)
  NuGet.config
  eng/Version.Details.xml
  eng/common/core-templates/job/publish-build-assets.yml
  eng/common/sdk-task.ps1
  eng/common/tools.ps1
  global.json
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

change output structure
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/AnalyzeTrace.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
Due: none

update value of splitName
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/AnalyzeTrace.cs
Due: none

Disable PerfBDN tests. (#4730)
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup android only testing.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix incorrect runtime flavor.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix missing comma.
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update sdk_scenarios to support net10.0.
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup sdk_scenarios only testing.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Setup android only testing."
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Set the CompilationMode for the android apps to JIT.
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the sdk_scenarios to use the current PERFLAB_Framework for the target framework instead of the special stuff it was trying to do.
  eng/performance/Scenarios.Common.props
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix FSharpSource.fsi accessibility error.
  src/scenarios/fsharpcompilerservice/src/Service/FSharpSource.fsi
Due: azure-pipelines.yml

Update net462 channel to use 10.0 branch.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Setup sdk_scenarios only testing."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Try running with the previous frameworks being tested.
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Reapply "Setup sdk_scenarios only testing."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Build the support tools (Startup, SOD) using the supporting target framework instead of the framework name for special cases (nativeaot*, net462).
  scripts/performance/common.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

System.Reflection.Metadata.TypeName benchmarks (#4699)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Reflection.Metadata/Perf.TypeName.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add perfetto config
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Try keeping more tests by not targetting net8.0 with net9.0 sdk.
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Reapply "Setup sdk_scenarios only testing.""
  eng/performance/sdk_scenarios.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disabled failing SDK ASP.NET MVC App Template test.
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Enable Android CoreCLR and device startup testing (#4738)
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update CollectTypeMap for Linux
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
Due: none

disable linux trace for microbenchmark
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultsAnalyzer.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/Microbenchmark.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Traces for each config type
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
Due: none

Fix FSharp and inner loop SDK scenarios. (#4742)
  eng/performance/Scenarios.Common.props
  eng/performance/sdk_scenarios.proj
  src/scenarios/fsharpcompilerservice/src/Service/FSharpSource.fsi
Due: azure-pipelines-micro.yml, azure-pipelines.yml

new perf builds pipeline
  eng/pipelines/register-build-jobs.yml
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/runtime-perf-build-jobs.yml
  eng/pipelines/templates/register-build-job.yml
  eng/pipelines/templates/upload-build-artifacts-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add flaky on VM to some SSL tests
  src/benchmarks/micro/libraries/System.Net.Security/SslStreamTests.Protocols.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

New gcperfsim output structure (#4733)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/AnalyzeTrace.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
Due: none

Remove schedule for release/6.0 branch
  azure-pipelines.yml
Due: azure-pipelines.yml
