Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Add release/6.0 to performance-ci runs and add Maui WinUI (#2468)
  azure-pipelines-gc.yml
  azure-pipelines.yml
  eng/performance/benchmark_jobs.yml
  eng/performance/pr.yml
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
  scripts/channel_map.py
  scripts/dotnet.py
  scripts/performance/common.py
  src/scenarios/mauidesktop/post.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauidesktop/test.py
  src/scenarios/shared/precommands.py
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/WinUIParser.cs
Due: azure-pipelines-micro.yml

Setup reporter based testing.
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: azure-pipelines-micro.yml

Update to PDN.zip and add support for local runs
  eng/performance/scenarios.yml
  src/scenarios/paintdotnet/pre.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

Switch SOD file scan check from output regex based to json based, that will work when running with inlab set true.
  src/scenarios/shared/sod.py
Due: none

Revert "Setup reporter based testing."
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: azure-pipelines-micro.yml

Base64Tests: Use valid input data
  src/benchmarks/micro/libraries/System.Buffers/Base64Tests.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Add pdn (#2436)
  azure-pipelines.yml
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
  scripts/ci_setup.py
  src/scenarios/paintdotnet/post.py
  src/scenarios/paintdotnet/pre.py
  src/scenarios/paintdotnet/test.py
  src/scenarios/shared/precommands.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/startup.py
  src/scenarios/shared/testtraits.py
  src/scenarios/shared/util.py
  src/tools/ScenarioMeasurement/Startup/PDNStartupParser.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/Startup.csproj
  src/tools/ScenarioMeasurement/Util/ProcessHelper.cs
Due: azure-pipelines-micro.yml

Reboot iOS device if we detect device is in a blocked state
  scripts/performance/common.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml

Add Base64DecodeInvalidData
  src/benchmarks/micro/libraries/System.Buffers/Base64Tests.cs
Due: azure-pipelines-micro.yml

Update the names of the Maui Desktop tests.
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Revert "Add Base64DecodeInvalidData"
  src/benchmarks/micro/libraries/System.Buffers/Base64Tests.cs
Due: azure-pipelines-micro.yml

Use all of s_encodingMap
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Raise error when SOD scenario does not have any files sized (#2446)
  src/scenarios/shared/sod.py
Due: none

Add mauiVersion additional data support. Added version collection to test.py, added addition of the data to additionalData in Reporter.cs and cleaned some unnecessary lines in pre.py and test.py.
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauidesktop/test.py
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Update src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Base64Tests: Use valid input data (#2479)
  src/benchmarks/micro/libraries/System.Buffers/Base64Tests.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

[wasm] Fix wasm perf runs
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml

Switch to using BUILD_REPOSITORY_PROVIDER to detect internal runs
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Switch to using BUILD_REPOSITORY_PROVIDER to detect internal runs (#2493)
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

PR feedback
  src/scenarios/shared/runner.py
Due: none

[wasm] Fix wasm perf runs (#2492)
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml

Add MauiVersion to Maui Desktop testing and Cleanup Maui Desktop testing (#2490)
  eng/performance/scenarios.proj
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauidesktop/test.py
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Missed changing some channels originally, this fixes the missed changes.
  azure-pipelines.yml
Due: none

Reboot iOS device if we detect device is in a blocked state (#2477)
  scripts/performance/common.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml

Missed changing some channels originally, this fixes the missed changes. (#2509)
  azure-pipelines.yml
Due: none

Set version for notebook for Jupyter notebooks.
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Update the rollback file for maui desktop runs to get the newer Maui versions running.
  src/scenarios/mauidesktop/pre.py
Due: none

Set version for notebook for Jupyter notebooks. (#2511)
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Update the rollback file for maui desktop runs to get the newer Maui versions running. (#2513)
  src/scenarios/mauidesktop/pre.py
Due: none

Add `mauiblazordesktop` scenario
  eng/performance/scenarios.proj
  src/scenarios/mauiblazordesktop/post.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/test.py
Due: azure-pipelines-micro.yml

Update pre.py
  src/scenarios/mauiblazordesktop/pre.py
Due: none

Add If statement benchmarks
  src/benchmarks/micro/runtime/Statements/If.cs
Due: azure-pipelines-micro.yml

Add publish ready to run, per recommendation of JPeppers.
  src/scenarios/mauidesktop/pre.py
Due: none

First working iteration of MauiBlazor WinUI startup with inner startu… (#1)
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/src/Replacement.Index.razor.cs
  src/scenarios/mauiblazordesktop/test.py
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/WinUICustomParser.cs
Due: none

Add support for listing uploads
  scripts/benchmarks_monthly_upload.py
Due: azure-pipelines-micro.yml

Add publish ready to run, per recommendation of JPeppers. (#2519)
  src/scenarios/mauidesktop/pre.py
Due: none

Add support for listing uploads (#2520)
  scripts/benchmarks_monthly_upload.py
Due: azure-pipelines-micro.yml

Only take the first frame stop, hopefully will fix pipeline issue.
  src/tools/ScenarioMeasurement/Startup/WinUICustomParser.cs
Due: none

Make sure the traces get uploaded.
  src/scenarios/mauiblazordesktop/test.py
Due: none
