Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

AddCreateTestSuiteCommandToGCInfra
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
Due: none

use default tracing arguments to collect cpu type trace
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
Due: none

Update src/scenarios/shared/runner.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

setup rollback file maui sdk workload install
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

disable non-android jobs
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add android feeds to `Nuget.Config`
  NuGet.config
Due: azure-pipelines.yml

codegen_type in scenario name
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  scripts/run_performance_job.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "disable non-android jobs"
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

setup runtime Android sample app AOT/R2R testings
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

storing latest builds reverted
  eng/pipelines/upload-latest-build.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[android] Accept both `ActivityManager` and `ActivityTaskManager` for reporting TTID and TTFD (#4780)
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Setup runtime Android sample app AOT/R2R tests (#4808)
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

upload latest build template added + cleanups (#4801)
  eng/pipelines/templates/register-build-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable Crossgen tests as they are all failing.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable Crossgen tests as they are all failing. (#4820)
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

simplify scenario naming and add blazor droid TTID
  eng/performance/maui_scenarios_android.proj
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/netandroid/pre.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "add android feeds to `Nuget.Config`"
  NuGet.config
Due: azure-pipelines.yml

extract latest dotnet feed from repo Nuget.config
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines.yml

remove MAUI TTID blazor for now
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add mobile SDK version extraction
  eng/performance/maui_scenarios_android.proj
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add runtime version and commit to the version json
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines.yml

pass commit hashes to kusto
  src/scenarios/shared/versionmanager.py
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

default template name
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

fix nuget rewrite
  NuGet.config
Due: azure-pipelines.yml

use PERFLAB_DATA_ for commit hash
  src/scenarios/shared/versionmanager.py
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup new dotnet new android measurements using Mono or CoreCLR runtimes (#4770)
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the iOS scenarios to use the same flow as android, bringing them up to running net10.
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update iOS builds to use the latest macos and xcode version.
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the net_ios dll used for getting the ios version for mobile tests to the correct one.
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines.yml

Test building SOD and Startup for x64.
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add new Maui Sample Content Android scenario - adds support for maui sample content android scenario by passing an extra argument to the dotnet new command
  eng/performance/maui_scenarios_android.proj
  scripts/dotnet.py
  src/scenarios/mauisamplecontentandroid/post.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/mauisamplecontentandroid/test.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

refactor scenario name for TTFD
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

fix _ScenarioName
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml
