Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

Add PairwiseAdd and ComplexMultiply to SVE microbenchmark
  src/benchmarks/micro/sve/ComplexMultiply.cs
  src/benchmarks/micro/sve/PairwiseAdd.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add UpscaleFilter to SVE microbenchmark
  src/benchmarks/micro/sve/UpscaleFilter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add TCPChecksum to SVE microbenchmark
  src/benchmarks/micro/sve/TCPChecksum.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add SobelFilter to SVE microbenchmark
  src/benchmarks/micro/sve/SobelFilter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add ScatterStore and GatherLoad to SVE microbenchmark
  src/benchmarks/micro/sve/GatherLoad.cs
  src/benchmarks/micro/sve/ScatterStore.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add VectorMax and Clamp to SVE microbenchmark
  src/benchmarks/micro/sve/Clamp.cs
  src/benchmarks/micro/sve/VectorMax.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add floating-point routines to SVE microbenchmark
  src/benchmarks/micro/sve/Exponent.cs
  src/benchmarks/micro/sve/FP64Overflow.cs
  src/benchmarks/micro/sve/FastDivision.cs
  src/benchmarks/micro/sve/MultiplyPow2.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add ComplexDotProduct to SVE microbenchmark
  src/benchmarks/micro/sve/ComplexDotProduct.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add OddEvenSort to SVE microbenchmark
  src/benchmarks/micro/sve/OddEvenSort.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add .azuredevops/dependabot.yml
  .azuredevops/dependabot.yml
Due: azure-pipelines.yml

Improve granularity of Perf.Utf8Encoding benchmarks
  src/benchmarks/micro/libraries/System.Text.Encoding/Perf.Utf8Encoding.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add .azuredevops/dependabot.yml (#5047)
  .azuredevops/dependabot.yml
Due: azure-pipelines.yml

Stop doing certhelper build on WASM runs
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Stop doing certhelper build on WASM runs (#5050)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Wrap with NET11_0_OR_GREATER
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add benchmarks for Zstandard
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix build
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

fixup! Fix build
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[clr-ios] Add support for CoreCLR R2R scenarios
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add UseMonoRuntime property
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

WIP.
  docs/maui-version-sync.md
  scripts/sync_maui_versions.py
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove the need for the maui versions to be in the performance eng/version.details.xml.
  docs/maui-version-sync.md
  eng/Version.Details.xml
  scripts/sync_maui_versions.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Remove unneeded files.
  docs/maui-version-sync.md
  scripts/sync_maui_versions.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup testing.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[clr-ios] Add support for CoreCLR R2R scenarios (#5053)
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Don't run pip libraries
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Try install_versioned_maui
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines.yml

Fix NuGet.config path
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Revert changes
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/netios/pre.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Fix placement of Maui Nuget Config.
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Fix maui blazor app build.
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorios/pre.py
Due: azure-pipelines.yml

Revert "Setup testing."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Some cleanup for PR.
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Remove extra space.
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
Due: azure-pipelines.yml

Disable blazor_scenarios testing in runtime-wasm-perf-jobs.yml until it is fixed.
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable blazor_scenarios testing in runtime-wasm-perf-jobs.yml until it is fixed. (#5058)
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Undo removal of the Version.Details.xml file to ensure maestro has the correct feeds to update.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Update channel mapping for 11 daily branch to use the net11 TFM now that it has switched to 11 alpha.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update channel mapping for 11 daily branch to use the net11 TFM now that it has switched to 11 alpha. (#5064)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update Maui runs to get NuGet.config and Version.Details.xml from maui repo (#5056)
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
