Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Commented out assert, added project and solution for debugging.
  src/benchmarks/gc/gc.pyproj
  src/benchmarks/gc/gc.sln
Due: none

Remove earlier changes to be even with upstream repo.
  src/benchmarks/gc/gc.pyproj
  src/benchmarks/gc/gc.sln
Due: none

Try using the same xharness version as from runtime release/7.0
  eng/Versions.props
Due: azure-pipelines-micro.yml

Add iOS mobile tests to release/7.0 (#2973)
  azure-pipelines.yml
  eng/Versions.props
  eng/performance/build_machine_matrix.yml
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiios/test.py
  src/scenarios/mauiiospodcast/post.py
  src/scenarios/mauiiospodcast/pre.py
  src/scenarios/mauiiospodcast/test.py
  src/scenarios/mauishared/mauisharedpython.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml

Update benchmarking-workflow-dotnet-runtime.md
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Update benchmarking-workflow-dotnet-runtime.md (#2974)
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Revert "Use default analyzer loader in Roslyn benchmarks (#2952)"
  src/benchmarks/real-world/Roslyn/CompilerBenchmarks.csproj
  src/benchmarks/real-world/Roslyn/CoreClrAnalyzerAssemblyLoader.cs
  src/benchmarks/real-world/Roslyn/Helpers.cs
  src/benchmarks/real-world/Roslyn/StageBenchmarks.cs
Due: azure-pipelines-micro.yml

Change centos7 to ubuntu for the build container.
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

CentOS should use the centos build container.
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Use a different build container for Ubuntu runs (CentOS testing needed) (#2980)
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Update the machine pool name.
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Add ubuntu-arm64 run capabilities for realworld scenarios in private runs.
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Nativeaot is not supported on ubuntu-arm64: /usr/bin/ld.bfd: unrecognised emulation mode: aarch64linux.
  azure-pipelines.yml
Due: none

Put the upload blob and queue send message into a looping try catch that tries to do the action 3 times with 5 seconds between attempts.
  scripts/upload.py
Due: azure-pipelines-micro.yml

Add Linux arm64 to real world benchmarks (#2986)
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Remove extra line space and default to retry on Exception exception rather than None and setting it after.
  scripts/performance/common.py
Due: azure-pipelines-micro.yml

Add retries to result uploading (#2970)
  scripts/performance/common.py
  scripts/upload.py
Due: azure-pipelines-micro.yml

Enhancements to GCPerfSim (#2921)
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
  src/benchmarks/gc/src/exec/GCPerfSim/phases_req_svr.txt
Due: azure-pipelines-gc.yml

Add a few struct promotion related benchmarks
  src/benchmarks/micro/runtime/Struct/FilteredSpanEnumerator.cs
  src/benchmarks/micro/runtime/Struct/GSeq.cs
  src/benchmarks/micro/runtime/Struct/SpanWrapper.cs
Due: azure-pipelines-micro.yml

Add a few struct promotion related benchmarks (#2991)
  src/benchmarks/micro/runtime/Struct/FilteredSpanEnumerator.cs
  src/benchmarks/micro/runtime/Struct/GSeq.cs
  src/benchmarks/micro/runtime/Struct/SpanWrapper.cs
Due: azure-pipelines-micro.yml

Enable BinaryFormatter for BDN
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Enable BinaryFormatter for micro benchmarks in BDN (#2994)
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Make it so that setup_loggers will only setup 1 logger in a at most once fashion. This will keep child calls to setup_loggers from creating duplicate loggers and duplicate output lines.
  scripts/performance/logger.py
Due: azure-pipelines-micro.yml

Make it so that setup_loggers will only setup 1 logger in a at most once fashion. This will keep child calls to setup_loggers from creating duplicate loggers and duplicate output lines. (#2995)
  scripts/performance/logger.py
Due: azure-pipelines-micro.yml

Remove testing pipeline job.
  azure-pipelines.yml
Due: none

Add galaxy to the android scenario runs.
  azure-pipelines.yml
Due: none

Add Mobile Galaxy Queue for Android Tests (#2999)
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml

Added PowerShell real-world benchmarks
  src/benchmarks/real-world/PowerShell.Benchmarks/Categories.cs
  src/benchmarks/real-world/PowerShell.Benchmarks/Engine.Compiler.cs
  src/benchmarks/real-world/PowerShell.Benchmarks/Engine.Parser.cs
  src/benchmarks/real-world/PowerShell.Benchmarks/Engine.ScriptBlock.cs
  src/benchmarks/real-world/PowerShell.Benchmarks/PowerShell.Benchmarks.csproj
  src/benchmarks/real-world/PowerShell.Benchmarks/Program.cs
Due: azure-pipelines-micro.yml

Added README.md
  src/benchmarks/real-world/PowerShell.Benchmarks/README.md
Due: azure-pipelines-micro.yml

Update README.md
  src/benchmarks/real-world/PowerShell.Benchmarks/README.md
Due: azure-pipelines-micro.yml

Try changing centos 7 to use mariner 2.0.
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Setup testing for only mariner.
  azure-pipelines.yml
Due: none

Pin urllib to version 1.26.15 based on github comments to fix ssl requests error.
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Pin urllib to version 1.26.15 based on github comments to fix ssl requests error. (#3011)
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Try a more specific image.
  azure-pipelines.yml
Due: none

Try ubuntu to see if the nativeaot scenarios work on it.
  azure-pipelines.yml
Due: none

Revert "Setup testing for only mariner."
  azure-pipelines.yml
Due: none

Remove Centos/Mariner build machine as it is not used if this PR is merged, and centos7 is no longer supported.
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Try to fix name collision.
  azure-pipelines.yml
Due: none
