Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/sdk-perf-jobs.yml
    parameters:
  ...

Move performance testing YAML from dotnet/runtime to dotnet/performance (#4639)
  azure-pipelines.yml
  eng/performance/benchmark_jobs.yml
  eng/performance/gc_jobs.yml
  eng/performance/scenarios.yml
  eng/performance/send-to-helix.yml
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-slow-perf-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  eng/pipelines/templates/download-artifact-step.yml
  eng/pipelines/templates/download-specific-artifact-step.yml
  eng/pipelines/templates/run-performance-job-script-step.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/run-scenarios-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/templates/send-to-helix-step.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

First pass at adding perfetto support for the android runs for local testing. Still need to add copy of the file to the upload dir if running in helix.
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Add another benchmark + use explicit pre-alloc'd value types
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add doc for android startup scenario local testing. (#4664)
  docs/android-startup-scenarios.md
  docs/scenarios-workflow.md
  src/scenarios/genericandroidstartup/post.py
  src/scenarios/genericandroidstartup/pre.py
  src/scenarios/genericandroidstartup/test.py
Due: azure-pipelines.yml

Fix for Mac Certs
  scripts/performance/common.py
  scripts/upload.py
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/Program.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix up after rebase
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Further rebase fixups
  scripts/upload.py
  src/tools/CertHelper/Program.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove logging
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix for Mac Certs (#4680)
  scripts/performance/common.py
  scripts/upload.py
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/Program.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Additional reflection invoke benchmarks (#4588)
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Fix for Mac Certs (#4680)"
  scripts/performance/common.py
  scripts/upload.py
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/Program.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove the non-existant argument send_certificate_chain from ClientAssertionCredential.
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove the non-existant argument send_certificate_chain from ClientAssertionCredential. (#4688)
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add back SNI support for ClientCredential
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

make TraceCollector work on Linux
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/GC.Infrastructure.Core.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

Add GetPid Function
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GCAnalysis/GCAnalysisExt.cs
Due: none

Add logging for cert failure
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add SNI for CertHelper
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/Program.cs
Due: azure-pipelines.yml

Add SNI for upload.py and CertHelper (#4697)
  scripts/upload.py
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/Program.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

make sure nettrace exists if required on Linux
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
Due: none

Add Runtime info in the GCProcessData
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Analyzer.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GCAnalysis/GCProcessData.cs
Due: none

System.Reflection.Metadata.TypeName benchmarks
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Reflection.Metadata/Perf.TypeName.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update maui versions manually from maui net9.0 repo.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

add a new line above return
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GCAnalysis/GCAnalysisExt.cs
Due: none

Update maui versions manually from maui net9.0 repo. (#4703)
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

add benchmarks for AssemblyQualifiedName
  src/benchmarks/micro/libraries/System.Reflection.Metadata/Perf.TypeName.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

enable trace collection for microbenchmarks on Linux
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultsAnalyzer.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/Microbenchmark.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Move System.Diagnostics.DiagnosticSource, System.IO.Pipelnes, and System.Threading.Channels to be conditioned on whether we are running net10.0 or lower.
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Move System.Diagnostics.DiagnosticSource, System.IO.Pipelnes, and System.Threading.Channels to be conditioned on whether we are running net10.0 or lower. (#4709)
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Copied current tiger runs to also run on viper queue so we have some time of overlapping data running as well as removed the nodynamicpgo and nor2r runs as they are not currently being looked at.
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

delete the extra line
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GCAnalysis/GCAnalysisExt.cs
Due: none

add space and code improve
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Analyzer.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GCAnalysis/GCProcessData.cs
Due: none

Remove duplicate viper job and add windows_x86 to the kept version of the job.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove the no longer used jitoptrepeat experiment jobs.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Removed nor2r and nodynamicpgo testing from perf-slow.
  eng/pipelines/runtime-slow-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Removed unnecessary comment based on request in PR review. Also removed accidentally added typo.
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-slow-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the runtime jobs we are running (#4710)
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-slow-perf-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix up notebook pipeline
  gc-azure-pipelines.yml
Due: none

Add Runtime info in the GCProcessData. (#4698)
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Analyzer.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GCAnalysis/GCProcessData.cs
Due: none

Add GetPid Function (#4695)
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GCAnalysis/GCAnalysisExt.cs
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
