Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

Add logcat dump on Android Device Startup failure (#5230)
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Set RunKind env var for PreparePayloadWorkItems msbuild call
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address review: scope makedirs and filter crash logs
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

average gcperfsim results
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/RunCommand.cs
Due: none

update code based on copilot reviews
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ConfigurationBase.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSimFunctional.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
Due: none

Run iOS simulator inner loop on AzDO agent instead of Helix Mac queue
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/run-ios-innerloop-on-agent.sh
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS on-agent: export HELIX_* before sourcing machine-setup.sh
  eng/pipelines/templates/run-ios-innerloop-on-agent.sh
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS on-agent: pip install requirements.txt before running scenario
  eng/pipelines/templates/run-ios-innerloop-on-agent.sh
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS on-agent: authenticate PerfLab upload via AzureCliCredential
  eng/pipelines/templates/run-ios-innerloop-on-agent.sh
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS on-agent upload: raise AzureCliCredential subprocess timeout to 300s
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix GC aspnet test machines
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-All.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-Linux.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/SampleCrank.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ASPNetBenchmarks - All.csv
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ASPNetBenchmarks.csv
  src/benchmarks/gc/GC.Infrastructure/README.md
  src/benchmarks/gc/GC.Infrastructure/docs/ASPNETBenchmarks.md
Due: none

Apply suggestions from code review
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ASPNetBenchmarks - All.csv
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

remove invalid parameter for microbenchmarks
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
Due: none

iOS inner loop: run simulator + device on Helix (Xcode 26.5)
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS inner loop: run on Mac.iPhone.17.Perf (fully-provisioned queue)
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS inner loop: revert queue to Mac.iPhone.13.Perf (only queue with Xcode 26.5)
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update code based on copilot review comments
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
Due: none

Average gcperfsim results (#5233)
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/Microbenchmark.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ConfigurationBase.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSimFunctional.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/InputConfiguration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/RunCommand.cs
Due: none

Fix GC aspnet test machines (#5234)
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-All.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-Linux.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/SampleCrank.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ASPNetBenchmarks - All.csv
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ASPNetBenchmarks.csv
  src/benchmarks/gc/GC.Infrastructure/README.md
  src/benchmarks/gc/GC.Infrastructure/docs/ASPNETBenchmarks.md
Due: none

Migrate GC benchmarks to .NET10 runtime
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/GC.Analysis.API.UnitTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GC.Analysis.API.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GC.Infrastructure.Core.UnitTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/GC.Infrastructure.Core.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GC.Infrastructure.MCPServer.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/GC.Infrastructure.NotebookTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
  src/benchmarks/gc/GCPerfSim/GCPerfSim.csproj
Due: none

Fix few forgotten yaml files
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/GCPerfSimFunctionalRun.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/Normal_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/Normal_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFramework/ReliabilityFramework_CreateTestSuite.yaml
Due: none

Fix gc pipelines file
  gc-azure-pipelines.yml
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Fix more yaml files
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/HighMemory.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_NormalServer.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowMemoryContainer.yaml
Due: none

Migrate GC benchmarks to .NET10 runtime (#5235)
  gc-azure-pipelines.yml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/GCPerfSimFunctionalRun.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/HighMemory.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_NormalServer.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowMemoryContainer.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/Normal_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/Normal_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFramework/ReliabilityFramework_CreateTestSuite.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/GC.Analysis.API.UnitTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GC.Analysis.API.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GC.Infrastructure.Core.UnitTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/GC.Infrastructure.Core.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GC.Infrastructure.MCPServer.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/GC.Infrastructure.NotebookTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
  src/benchmarks/gc/GC.Infrastructure/README.md
  src/benchmarks/gc/GCPerfSim/GCPerfSim.csproj
Due: none

Address review: use mlaunch crash snapshot diff for iOS device
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Fix GC performance infrastructure tests on Linux
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItem.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Remove forgotten extra console log
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

Fix GC performance infrastructure tests on Linux (#5236)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItem.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Make GC regression/improvement categorization direction-aware
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GCPerfSim/ComparisonCategorization.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/MetricDirection.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItemComparison.cs
Due: none

Address Copilot review feedback: explicit Analysis using + real NaN assertions
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GCPerfSim/ComparisonCategorization.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItemComparison.cs
Due: none

Make GC regression/improvement categorization direction-aware (#5237)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GCPerfSim/ComparisonCategorization.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/MetricDirection.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItemComparison.cs
Due: none

illustrate all iterations for microbenchmarks
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
Due: none

Fix GC ASPNet bnechmarks on Linux
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ASPNetBenchmarks-Linux.csv
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
Due: none

Copilot feedback
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
Due: none

update code according to copilot reviews
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

Fix GC ASPNet bnechmarks on Linux (#5239)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ASPNetBenchmarks-Linux.csv
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
Due: none

Generalize upload-build-artifacts-job.yml for multi-tenant BCS uploads
  eng/pipelines/templates/upload-build-artifacts-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Parameterize register-build-job.yml with repoName
  eng/pipelines/register-build-jobs.yml
  eng/pipelines/templates/register-build-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove accidentally duplicated steps block from upload-build-artifacts-job.yml
  eng/pipelines/templates/upload-build-artifacts-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Clean up unused parameter and stray escape in upload template
  eng/pipelines/templates/upload-build-artifacts-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
