Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Try to avoid exceptions with empty counters part 2
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Add benchmark for large number of ConfigurationProvider (#2572)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
Due: azure-pipelines-micro.yml

Add release/7.0 channel to channel map and remove preview releases as their values do not match what they would be.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Add If statement benchmarks (#2517)
  src/benchmarks/micro/runtime/Statements/If.cs
Due: azure-pipelines-micro.yml

update channel 7 branch to be 7.0 so it should move automatically between 7.0.1xx to 7.0.2xx if that time comes, and setup main to be for net8.0.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Don't update main.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Add temp nuget url to the scenarios that use it.
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauidesktop/pre.py
Due: none

Add release/7.0 channel to channel map (#2583)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Adds benchmarks for GetChildKeys (#2336)
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/GetChildKeysTests.cs
Due: azure-pipelines-micro.yml

Revert reporter changes
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Add ILLink jobs to azure pipelines
  azure-pipelines.yml
Due: none

Update public pool names
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
Due: azure-pipelines-micro.yml

Update public pool names
  eng/common/templates/job/source-build.yml
Due: azure-pipelines-micro.yml

Update public pool names (#2588)
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
Due: azure-pipelines-micro.yml

Update public pool names (#2589)
  eng/common/templates/job/source-build.yml
Due: azure-pipelines-micro.yml

Undo Merge fix
  eng/common/templates/job/source-build.yml
Due: azure-pipelines-micro.yml

Re-enable a benchmark was disabled earlier due to an issue
  src/benchmarks/micro/libraries/System.Runtime.Numerics/Perf.BigInteger.cs
Due: azure-pipelines-micro.yml

proj file fix
  src/benchmarks/real-world/FSharp/FSharp.fsproj
Due: azure-pipelines-micro.yml

Try to add a job for F# benchmarks
  eng/performance/pr.yml
Due: azure-pipelines-micro.yml

Add release/7.0-rc1 to channel map.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Add release/7.0-rc1 to channel map. (#2593)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

PR Feedback
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  src/benchmarks/real-world/ILLink/BasicBenchmark.cs
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/benchmarks/real-world/ILLink/Program.cs
  src/benchmarks/real-world/ILLink/SampleProject/HelloWorld.template.csproj
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Fix bug where the decompressor was not appending rc1
  src/tools/ResultsComparer/Data.cs
Due: none

Update Data.cs
  src/tools/ResultsComparer/Data.cs
Due: none

Modify ci_setup get date backoff to be based off of the counter reset time instead of arbitrarily waiting since the api call counter only resets once an hour.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Fix bug where the decompressor was not appending rc1 to filename (#2596)
  src/tools/ResultsComparer/Data.cs
Due: none

Fix some randomly failing Perf.File tests on wasm/aot
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs
Due: azure-pipelines-micro.yml

Reduce randomness of invoke benchmarks
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Fix some randomly failing Perf.File tests on wasm/aot (#2601)
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs
Due: azure-pipelines-micro.yml

Update pipeline queues for public jobs
  azure-pipelines.yml
Due: none

Undo autoformatting
  azure-pipelines.yml
Due: none

Remove comment
  azure-pipelines.yml
Due: none

Update SecretManager version to include my change
  .config/dotnet-tools.json
Due: none
