Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

Fix aspnetcore perf-build CI failures found in first test runs (#5255)
  eng/pipelines/aspnetcore-perf-build-jobs.yml
  eng/pipelines/aspnetcore-perf-build.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Reduce SSWE download retries to 3 and timeout to 60s
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Validate SSWE model by SHA256 instead of size heuristics
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Quote MICROSOFTML_RESOURCE_PATH export and skip trailing retry sleep
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS inner loop: skip Xcode version validation to unblock net11-p7 build
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix mlnet performance benchmark timeouts by pre-provisioning the SSWE model into the Helix payload (#5250)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Apply comment suggestions from code review
  src/benchmarks/micro/libraries/System.IO/BinaryWriterExtendedTests.cs
  src/benchmarks/micro/libraries/System.IO/BinaryWriterTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add file-backed cert store so CertHelper works on Mac
  scripts/performance/common.py
  src/tools/CertHelper/ILocalCertStore.cs
  src/tools/CertHelper/LocalCert.cs
  src/tools/CertHelper/Program.cs
  src/tools/CertHelperTests/FileLocalCertStoreTests.cs
  src/tools/CertHelperTests/LocalCertTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address PR review: reliable X509 rotation and restrict Mac key files
  src/tools/CertHelper/ILocalCertStore.cs
Due: azure-pipelines.yml

Add file-backed cert store so CertHelper works on Mac (#5257)
  scripts/performance/common.py
  src/tools/CertHelper/ILocalCertStore.cs
  src/tools/CertHelper/LocalCert.cs
  src/tools/CertHelper/Program.cs
  src/tools/CertHelperTests/FileLocalCertStoreTests.cs
  src/tools/CertHelperTests/LocalCertTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BenchmarkDotNet to 0.16.0-nightly.20260703.576
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Bump net10.0 ExtensionsVersion to 10.0.3
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Load macOS Key Vault certs as Exportable only so private key survives export
  src/tools/CertHelper/KeyVaultCert.cs
Due: azure-pipelines.yml

Fix net8.0/net9.0 restore: float Microsoft.Extensions.Primitives to 10.0.3
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Load macOS Key Vault certs as Exportable only so private key survives export (#5259)
  src/tools/CertHelper/KeyVaultCert.cs
Due: azure-pipelines.yml

use GCTraceMetrics to represent result of gcperfsim-compare run
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
Due: none

replace PercentageDelta with RegressionPercentageDelta
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
Due: none

update code based on copilot's comments
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
Due: none

Update BenchmarkDotNet to 0.16.0-nightly.20260703.576 (#5258)
  eng/Versions.props
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update code based on copilot comments
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GCPerfSim/ComparisonCategorization.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/AnalyzeTrace.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
Due: none

clean the code
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GCPerfSim/ComparisonCategorization.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
Due: none

update code based on copilot comments
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
Due: none

Escape the path before writing markup
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
Due: none

Download version-pinned NuGet.config for MAUI workload install
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/mauisamplecontentios/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/netios/pre.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Download version-pinned NuGet.config for MAUI workload install (#5261)
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/mauisamplecontentios/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/netios/pre.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Migrate perf artifact download steps to DownloadPipelineArtifact@2
  eng/pipelines/templates/download-artifact-step.yml
  eng/pipelines/templates/download-specific-artifact-step.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BenchmarkDotNet to 0.16.0-nightly.20260714.579
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS inner loop: harden device signing-artifact discovery against timeout
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Migrate perf artifact download steps to DownloadPipelineArtifact@2 (#5262)
  eng/pipelines/templates/download-artifact-step.yml
  eng/pipelines/templates/download-specific-artifact-step.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS inner loop: fix device signing — use real profile + codesign + devicectl
  src/scenarios/mauiiosinnerloop/setup_helix.py
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines.yml

iOS inner loop: auto-detect signing identity + check system profile dir
  src/scenarios/mauiiosinnerloop/setup_helix.py
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines.yml

Re implement gcperfsim compare (#5260)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/GCPerfSim/ComparisonCategorization.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/AnalyzeTrace.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
Due: none

Migrate "Download binlog files" steps to DownloadPipelineArtifact@2
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Normalize remaining downloads to DownloadPipelineArtifact@2
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Copilot/perf binlog download pipeline artifact (#5264)
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS inner loop: sign device app via the Helix XHarness recipe (download profile + keychain)
  eng/performance/maui_scenarios_ios.proj
  src/scenarios/mauiiosinnerloop/pre.py
  src/scenarios/mauiiosinnerloop/setup_helix.py
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

iOS inner loop: import Apple WWDR G3 intermediate before codesign
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines.yml

iOS inner loop: import full Apple cert chain + signing diagnostics
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines.yml

iOS inner loop: codesign without --keychain so System Apple Root anchor is used
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines.yml

iOS inner loop: trust Apple Root anchor + import chain into login keychain
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
