Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Add String/StreamReader.ReadToEnd benchmarks (#2177)
  docs/microbenchmark-design-guidelines.md
  src/benchmarks/micro/libraries/System.Buffers/Base64Tests.cs
  src/benchmarks/micro/libraries/System.Collections/Iterate/IterateFor.cs
  src/benchmarks/micro/libraries/System.IO/StreamReaderReadLineTests.cs
  src/benchmarks/micro/libraries/System.IO/StreamReaderReadToEndTests.cs
  src/benchmarks/micro/libraries/System.IO/StringReaderReadToEndTests.cs
Due: azure-pipelines-micro.yml

remove .NET 7 Preview 2 workaround (we don't need to run Preview 1 results anymore)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Text.RegularExpressions/Perf.Regex.Industry.cs
Due: azure-pipelines-micro.yml

set C# version to 8.0 in explicit way so we it can be build using netcoreapp3.1 SDK and does not get accidentaly broken over time
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/Common/AlignedMemory.cs
  src/benchmarks/micro/libraries/CommonUtils/PerfUtils.cs
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.RandomAccess.NoBuffering.cs
Due: azure-pipelines-micro.yml

Revert "Revert "Revert "Mark these as NoAOT to allow for an AOT Arm64 run from Nov 2021 (#2406)" (#2407)" (#2409)" (#2411)
  src/benchmarks/micro/libraries/System.Buffers/BinaryReadAndWriteTests.cs
  src/benchmarks/micro/libraries/System.Memory/Constructors.cs
  src/benchmarks/micro/libraries/System.Numerics.Vectors/GenericVectorConstructorTests.cs
  src/benchmarks/micro/libraries/System.Numerics.Vectors/Perf_VectorConvert.cs
  src/benchmarks/micro/libraries/System.Runtime.Extensions/Perf.Path.cs
  src/benchmarks/micro/libraries/System.Text.RegularExpressions/Perf.Regex.Industry.cs
  src/benchmarks/micro/runtime/Span/Indexer.cs
  src/benchmarks/micro/runtime/StoreBlock/StoreBlock.cs
Due: azure-pipelines-micro.yml

Remove Preview2 workaround, make sure microbenchmarks can be build using 3.1 SDK (#2426)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/Common/AlignedMemory.cs
  src/benchmarks/micro/libraries/CommonUtils/PerfUtils.cs
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.RandomAccess.NoBuffering.cs
  src/benchmarks/micro/libraries/System.Text.RegularExpressions/Perf.Regex.Industry.cs
Due: azure-pipelines-micro.yml

make sure the data is not duplicated
  src/tools/ResultsComparer/Data.cs
Due: none

make sure the data is not duplicated (#2427)
  src/tools/ResultsComparer/Data.cs
Due: none

ensure correctness of the decompressed data:
  src/tools/ResultsComparer/Data.cs
Due: none

ensure correctness of the decompressed data: (#2430)
  src/tools/ResultsComparer/Data.cs
Due: none

Exclude System.Formats.Tar from unsupported frameworks in MicroBenchmarks.csproj
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Tar Benchmarks
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.Tar.cs
Due: azure-pipelines-micro.yml

Fix restore: S.F.Tar is inbox in 7.0-prev4, so does not need to be referenced as a package.
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Rename to Perf.TarFile.cs
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Fix build failures and setup/cleanup exceptions.
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Update expired certificates for HTTPS/TLS benchmarks (#2405)
  src/benchmarks/micro/libraries/System.Net.Http/ec256.pfx
  src/benchmarks/micro/libraries/System.Net.Http/ec512.pfx
  src/benchmarks/micro/libraries/System.Net.Http/ecdsa.pfx
  src/benchmarks/micro/libraries/System.Net.Http/rsa2048.pfx
  src/benchmarks/micro/libraries/System.Net.Http/rsa4096.pfx
Due: azure-pipelines-micro.yml

Do Compile Remove only oncece for S.F.Tar, in a new ItemGroup for anything except 7.0
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Improve error handling in perfcontrib
  scripts/perfcontrib.py
Due: azure-pipelines-micro.yml

Absorb some setup in the benchmark tests themselves to avoid IterationSetup
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Create script to contribute data gathered using `benchmarks-monthly.py` (#2422)
  scripts/perfcontrib.py
Due: azure-pipelines-micro.yml

Simplify benchmark method names
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Move delete after calling CreateFromDirectory
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

add missing input.tar to comment on top
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Add benchmark for `File.Move`
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs
Due: azure-pipelines-micro.yml

System.Formats.Tar benchmarks (#2432)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Readd change for 1s+ time parsing that got clobbered.
  src/scenarios/shared/runner.py
Due: none

Fix Parenths.
  src/scenarios/shared/runner.py
Due: none

Android Mobile - Re-add change for 1s+ time parsing that got clobbered. (#2438)
  src/scenarios/shared/runner.py
Due: none

Target newer dotnet versions
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.csproj
Due: azure-pipelines-gc.yml

Disable Perf.TarFile for wasm, as the library is not supported on wasm
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Disable Perf.TarFile for wasm, as the library is not supported on wasm (#2443)
  src/benchmarks/micro/libraries/System.Formats.Tar/Perf.TarFile.cs
Due: azure-pipelines-micro.yml

Allow for uploading partial benchmark results when some runs fail
  scripts/benchmarks_ci.py
  scripts/dotnet.py
  scripts/micro_benchmarks.py
  scripts/performance/common.py
  src/harness/BenchmarkDotNet.Extensions/Extensions.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Target newer dotnet versions (#2441)
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.csproj
Due: azure-pipelines-gc.yml

Update retry, but it appears that this may not be the issue, so also print the http response to see if there is a different issue not being bubbled up.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

First iteration of Fail on no files for size on disk tests.
  src/scenarios/shared/sod.py
Due: none

Remove default argument for success_exit_codes
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Use the proper state for determining failure.
  src/scenarios/shared/sod.py
Due: none

Allow for empty scenario names to still match, and change from match to search so we actually get results.
  src/scenarios/shared/sod.py
Due: none

Add 1 to the retry count so we try 4 times, up to 90 seconds of wait time, and set the sleep time as the 2 seconds is not enough as it seems.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Add critical validation error field on all tests in run
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Change to allow for testing.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml
