Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  ...

common class for server run command build (#4851)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ASPNetBenchmarks.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ServerRun.CommandBuilder.cs
Due: none

Use hash of the test name to determine what partition it is run in
  src/harness/BenchmarkDotNet.Extensions/PartitionFilter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Safely handle the case where multiple tests have the same name
  scripts/benchmarks_ci.py
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use hash of the test name to determine what partition it is run in (#4896)
  scripts/benchmarks_ci.py
  src/harness/BenchmarkDotNet.Extensions/PartitionFilter.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fixed Viper queue names in build-machine-matrix to be camel case to match the microbenchmarks.
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fixed Viper queue names in build-machine-matrix to be camel case to match the microbenchmarks. (#4897)
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix duplicated test name in Perf.TypeName and update validation
  src/benchmarks/micro/libraries/System.Reflection.Metadata/Perf.TypeName.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update maui package versions.
  NuGet.config
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Setup testing.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update XCode version used.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Setup testing."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update maui dependencies to fix builds (#4899)
  NuGet.config
  eng/Version.Details.xml
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Add an ArtifactsLogDirectory to run_performance_job.py and use it in maui_scenarios_ios.proj and maui_scenarios_android.proj so that the app binlogs are available in AzDo.
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add histogram summaries to comparison report
  reports/net9to10/README.md
  reports/net9to10/linux-arm64-ampere_histogram.png
  reports/net9to10/linux-mono-tiger_histogram.png
  reports/net9to10/linux-monoaot-ampere_histogram.png
  reports/net9to10/linux-wasm-tiger_histogram.png
  reports/net9to10/linux-wasmaot-viper_histogram.png
  reports/net9to10/linux-x64-tiger_histogram.png
  reports/net9to10/windows-x64-tiger_histogram.png
Due: azure-pipelines.yml

Add histogram summaries to comparison report (#4901)
  reports/net9to10/README.md
  reports/net9to10/linux-arm64-ampere_histogram.png
  reports/net9to10/linux-mono-tiger_histogram.png
  reports/net9to10/linux-monoaot-ampere_histogram.png
  reports/net9to10/linux-wasm-tiger_histogram.png
  reports/net9to10/linux-wasmaot-viper_histogram.png
  reports/net9to10/linux-x64-tiger_histogram.png
  reports/net9to10/windows-x64-tiger_histogram.png
Due: azure-pipelines.yml

Only have one command that uses a binlogpath parameter based on whether artifactslogdir is set.
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Try having the BinlogPath in the PreparePayloadWorkItem group.
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Reapply "Setup testing."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable codesigning using new parameter for iOS app builds.
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines.yml

Revert "Reapply "Setup testing.""
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove _RequireCodeSigning as it has been replaced by EnableCodeSigning.
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines.yml

Update iOS builds to disable code signing again (#4902)
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines.yml

use latest perfview
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
Due: none

clean the code
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
Due: none

Add standard parameter for binlog save location to PrepareWorkloadItemItems call (#4903)
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimFunctionalCommand.cs
Due: none

Ensure binlog is still copied to traces dir for maui build time scenarios
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Determine correct path for prepare payload binlog
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Continue to save binlogs to payload dir for maui scenarios, but ensure to make a copy in the artifacts dir
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix path to binlog
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Ensure binlog is still copied to traces dir for maui build time scenarios (#4909)
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update config (#4908)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimFunctionalCommand.cs
Due: none

use latest Microsoft.Diagnostics.Tracing.TraceEvent
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GC.Analysis.API.csproj
Due: none

update Microsoft.Diagnostics.Tracing.TraceEvent for unittest project
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/GC.Analysis.API.UnitTests.csproj
Due: none

enable collecting dump for gcperfsim-functional test
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimFunctionalCommand.cs
Due: none

Add test manifest support for running microbenchmarks
  .vscode/settings.json
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  requirements.txt
  scripts/run_performance_job.py
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/Program.cs
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/BenchmarkManifest.cs
  src/harness/BenchmarkDotNet.Extensions/CommandLineOptions.cs
  src/harness/BenchmarkDotNet.Extensions/ExclusionFilter.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabCommandLineOptions.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
  src/harness/BenchmarkDotNet.Extensions/TestNameFilter.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/CommandLineOptionsTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
