Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

"Microbechmark" (missing 'n')
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

avoid breaking formatting
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

sort improvements in ascending order
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
Due: none

Convert to ToDictionary(x => x.Item1, x => x.Item2) (or tuple names) for each projection
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
Due: none

provide key value pair projection
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
Due: none

sort in order by index
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

remove Spectre markup tokens from output path
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

take non-replayable enumerables into consideration
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Statistics.cs
Due: none

check if TraceConfigurations is null
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

Check if first baseline/comparand is null
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
Due: none

skip null or empty MicrobenchmarkResult collection
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

skip null or empty MicrobenchmarkResults collection
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

apply q1 and q3 on valid collection
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Statistics.cs
Due: none

use run.Name instead of trace path
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

check possible null value
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

check if metric is in OtherMetricsDiffPerc
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
Due: none

Add a guard for an empty GC list
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

check metric for both baseline and comparand
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
Due: none

formatting
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

Enable runtime-async for net11.0+
  src/Directory.Build.props
  src/Directory.Build.targets
Due: azure-pipelines.yml

Migrate BenchmarkDotNet.Extensions to BDN 0.16.0 APIs
  docs/benchmarkdotnet.md
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/README.md
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/MandatoryCategoryValidator.cs
  src/harness/BenchmarkDotNet.Extensions/NoWasmValidator.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/TooManyTestCasesValidator.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/UniqueArgumentsValidatorTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BenchmarkDotNet to 0.16.0-nightly.20260518.1249
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix nullability errors surfaced by net8.0 retarget
  src/harness/BenchmarkDotNet.Extensions/DiffableDisassemblyExporter.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/TooManyTestCasesValidator.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/UniqueValuesGeneratorTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Gate runtime-async behind 'runtimeasync' experiment
  scripts/ci_setup.py
  src/Directory.Build.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Switch micro entrypoint to RunAsync to avoid discovery-time deadlock
  src/benchmarks/micro/Program.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

check keys existence
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
Due: none

don't drop bdn results even gcprocessdata are not found
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

fix possible bugs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

fix bugs for addtional metrics comparison results presentation
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
Due: none

Pass RunKind to Send job to Helix step
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update bdn 0.16 binarydata and async (#5217)
  docs/benchmarkdotnet.md
  eng/Versions.props
  scripts/ci_setup.py
  src/Directory.Build.props
  src/Directory.Build.targets
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/Program.cs
  src/benchmarks/micro/README.md
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/DiffableDisassemblyExporter.cs
  src/harness/BenchmarkDotNet.Extensions/MandatoryCategoryValidator.cs
  src/harness/BenchmarkDotNet.Extensions/NoWasmValidator.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/TooManyTestCasesValidator.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/UniqueArgumentsValidatorTests.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/UniqueValuesGeneratorTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update Roslyn version to match updated BDN.
  src/benchmarks/real-world/Roslyn/CompilerBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove daily from downlevel runs to prevent failures with unpublished packages.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add runtime async and remove nor2r
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

remove empty constructor and unused imports
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

avoid printing dup command line args
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/MarkdownReportBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
Due: none

Guard Helix traces cleanup on non-null upload dir
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Address review feedback: align with Android inner-loop PR
  eng/performance/maui_scenarios_ios.proj
  eng/performance/maui_scenarios_ios_innerloop.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/mauiiosinnerloop/post.py
  src/scenarios/mauiiosinnerloop/run-local.sh
  src/scenarios/shared/const.py
  src/scenarios/shared/ioshelper.py
  src/scenarios/shared/runner.py
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/IOSInnerLoopParser.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address review feedback: msbuild arg splitting, source restore, log show sudo
  eng/performance/maui_scenarios_ios.proj
  src/scenarios/shared/ioshelper.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address review feedback: source restore, adb timeout, PEP 604 compat
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml
