Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Remove last tiger job. (#5096)
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update to latest BDN for MonoAOT fix.
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove Tiger SDK jobs and add Windows CI jobs. (#5095)
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove 10.0 runs from sdk jobs as we are hitting failures due to new packages not yet being available in public feeds.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove 10.0 runs from sdk jobs as we are hitting failures due to new packages not yet being available in public feeds. (#5100)
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Import WasmSdk
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update to latest BDN for MonoAOT fix. (#5099)
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Set System.Net.SecurityProtocolType on windows prior to executing dotnet install script (#5088)
  scripts/dotnet.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add es-metadata.yml
  es-metadata.yml
Due: azure-pipelines.yml

Add es-metadata.yml (#5102)
  es-metadata.yml
Due: azure-pipelines.yml

Fix codeGenType
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix: Check upload return code in parsetraces methods
  src/scenarios/shared/devicepowerconsumption.py
  src/scenarios/shared/memoryconsumption.py
  src/scenarios/shared/startup.py
Due: azure-pipelines.yml

Fix: Check upload return code in parsetraces methods (#5103)
  src/scenarios/shared/devicepowerconsumption.py
  src/scenarios/shared/memoryconsumption.py
  src/scenarios/shared/startup.py
Due: azure-pipelines.yml

Add back in dotnet 10 performance runs and set channel 10.0 quality to preview.
  eng/pipelines/sdk-perf-jobs.yml
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Fix codeGenType"
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Pin cryptography==46.0.3 to fix win_arm64 install failure
  requirements.txt
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Replace win-arm64/ubuntu-arm64 with -ampere variants in sdk-perf-jobs.yml
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Pin cryptography==46.0.3 to fix win_arm64 install failure (#5106)
  eng/pipelines/sdk-perf-jobs.yml
  requirements.txt
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update Xcode to 26.2
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

disable tests
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

make version manager cross platform
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines.yml

more cross-platform path fixes
  src/scenarios/bdnandroid/test.py
  src/scenarios/mauiandroid/test.py
  src/scenarios/mauiblazorandroid/test.py
  src/scenarios/mauiblazorios/test.py
  src/scenarios/mauiios/test.py
  src/scenarios/mauisamplecontentandroid/test.py
  src/scenarios/netandroid/test.py
  src/scenarios/netios/test.py
Due: azure-pipelines.yml

fix debug path dll paths for android
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/netandroid/pre.py
Due: azure-pipelines.yml

set EmbedAssembliesIntoApk=true for debug
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "disable tests"
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

nits android.proj
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update Xcode to 26.2 (#5108)
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Enable Maui iOS scenarios
  eng/performance/maui_scenarios_ios.proj
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address code review feedback
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Enable Maui iOS scenarios (#5109)
  eng/performance/maui_scenarios_ios.proj
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add MAUI Sample Content for iOS
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

disable tests#
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

simplify iOS sdk scenarios
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add maui -sc app
  src/scenarios/mauisamplecontentios/post.py
  src/scenarios/mauisamplecontentios/pre.py
  src/scenarios/mauisamplecontentios/test.py
Due: azure-pipelines.yml

try removing some payload data to reduce size
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix: Update device information extraction to include UDID
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Fix: Update test command arguments for device startup in maui_scenarios_ios.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

fix interpreter + more removal
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix device selection by switching from device name to UUID (#5111)
  eng/performance/maui_scenarios_ios.proj
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add debug build configuration support for MAUI Android and iOS scenarios (#5061)
  NuGet.config
  eng/Version.Details.xml
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
  scripts/run_performance_job.py
  src/scenarios/bdnandroid/test.py
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiandroid/test.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorandroid/test.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiblazorios/test.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiios/test.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/mauisamplecontentandroid/test.py
  src/scenarios/netandroid/pre.py
  src/scenarios/netandroid/test.py
  src/scenarios/netios/pre.py
  src/scenarios/netios/test.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml
