Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Address pr feedback
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/Program.cs
  src/tools/CertHelperTests/KeyVaultCertTests.cs
Due: azure-pipelines.yml

Create python-publish.yml
  .github/workflows/python-publish.yml
Due: azure-pipelines.yml

Address PR feedback
  src/tools/CertHelper/KeyVaultCert.cs
Due: azure-pipelines.yml

Generate json for gcperfsim and gcperfsim-compare commands
  global.json
  global.json.bak
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
Due: azure-pipelines.yml

clean the code
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
Due: none

restore global.json
  global.json
  global.json.bak
Due: azure-pipelines.yml

Address PR comments
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-slow-perf-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Cert rotator (#4617)
  scripts/performance/common.py
  scripts/performance/constants.py
  scripts/run_performance_job.py
  scripts/upload.py
  src/tools/CertHelper/AssemblyInfo.cs
  src/tools/CertHelper/CertHelper.csproj
  src/tools/CertHelper/CertHelper.sln
  src/tools/CertHelper/Constants.cs
  src/tools/CertHelper/IX509Store.cs
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/LocalCert.cs
  src/tools/CertHelper/Program.cs
  src/tools/CertHelperTests/CertRotatorTests.csproj
  src/tools/CertHelperTests/KeyVaultCertTests.cs
  src/tools/CertHelperTests/LocalCertTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix Alpine builds and add try except
  scripts/run_performance_job.py
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix Alpine builds and add try except (#4654)
  scripts/run_performance_job.py
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix WASM dotnet pathing bug
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add join for executable
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add brackets to if else statement
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix WASM dotnet pathing bug (#4655)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Replace underscore with dash in musl rid
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert global.json to match what dotnet/runtime has as wasm runs are failing due to using the runtimes installed version and not the latest daily like our main runs.
  global.json
Due: azure-pipelines.yml

Updated the `IsWhiteSpace `method to test for whitespace characters other than space.
  src/benchmarks/micro/libraries/System.Memory/ReadOnlySpan.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Updated tests for nine whitespaces.
  src/benchmarks/micro/libraries/System.Memory/ReadOnlySpan.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert global.json to match what dotnet/runtime has as wasm runs are failing due to using the runtimes installed version and not the latest daily like our main runs. (#4657)
  global.json
Due: azure-pipelines.yml

and csv benchmarks for string.Split
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Runtime/Perf.String.cs
  src/benchmarks/micro/libraries/System.Runtime/TestData/500_Cities__City-level_Data__GIS_Friendly_Format___2019_release.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/Monthly_Motor_Fuel_Sales_Reported_by_States__Selected_Data_from_FHWA_Monthly_Motor_Fuel_Report.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/TMEDTREND_PUBLIC_240528.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/ai_inventory.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/date_table.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/tri_2012_nd.csv
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Replace underscore with dash in musl rid (#4656)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix quoting issue between python 3.12 and older versions
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix quoting issue between python 3.12 and older versions (#4660)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add doc for android startup scenario local testing
  docs/android-startup-scenarios.md
  docs/scenarios-workflow.md
Due: none

Remove the separate version of XHarness CLI for iOS and Android runs, and instead use a shared version in Versions.props and Version.Details.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Fix incorrect path.
  docs/android-startup-scenarios.md
Due: none

Clean up no longer necessary pathing for android docs.
  docs/android-startup-scenarios.md
Due: none

Add comment on the .NET Core version necessary to have.
  docs/android-startup-scenarios.md
Due: none

Add the prereq of having an Android Device.
  docs/android-startup-scenarios.md
Due: none

Update the ios xcode version as xcode 16 was removed.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the ios xcode version as xcode 16 was removed. (#4667)
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove the separate version of XHarness CLI for iOS and Android runs, and instead use a shared version in Versions.props and Version.Details.xml (#4665)
  eng/Version.Details.xml
  eng/Versions.props
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Add net9.0 runs into the performance repo channel runs.
  azure-pipelines.yml
Due: azure-pipelines.yml

Update android startup doc per feedback and added note on --use-fully-drawn-time
  docs/android-startup-scenarios.md
Due: none

Add net9.0 runs back into the performance repo channel runs. (#4672)
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix default parameter values for pipeline
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix if else condition for python variable
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update Maui related versions.
  NuGet.config
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Add a new scenario folder named genericandroidstartup and updated the android startup scenarios doc to use it.
  docs/android-startup-scenarios.md
  src/scenarios/genericandroidstartup/post.py
  src/scenarios/genericandroidstartup/pre.py
  src/scenarios/genericandroidstartup/test.py
Due: azure-pipelines.yml

Updates per feedback. Removed --unzip pre.py as it shouldn't be needed and updated the python reference to only have python.
  docs/android-startup-scenarios.md
  src/scenarios/genericandroidstartup/pre.py
Due: azure-pipelines.yml
