Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

Add MAUI desktop BenchmarkDotNet benchmarks scenario
  eng/performance/maui_desktop_benchmarks.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/mauiDesktopBenchmarks/post.py
  src/scenarios/mauiDesktopBenchmarks/pre.py
  src/scenarios/mauiDesktopBenchmarks/test.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add Cobalt SVE microbenchmarks run and SVE mandatory category
  eng/pipelines/runtime-perf-jobs.yml
  src/benchmarks/micro/Program.cs
  src/benchmarks/micro/Properties/AssemblyInfo.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Refactor MAUI desktop BDN benchmarks to use shared Runner infrastructure
  eng/performance/maui_desktop_benchmarks.proj
  src/scenarios/mauiDesktopBenchmarks/test.py
  src/scenarios/shared/bdndesktop.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add Cobalt SVE microbenchmarks run and SVE mandatory category (#5127)
  eng/pipelines/runtime-perf-jobs.yml
  src/benchmarks/micro/Program.cs
  src/benchmarks/micro/Properties/AssemblyInfo.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Split MAUI-specific logic into test.py, make BDNDesktopHelper reusable
  eng/performance/maui_desktop_benchmarks.proj
  src/scenarios/mauiDesktopBenchmarks/test.py
  src/scenarios/shared/bdndesktop.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add androidinnerloop test type with build+deploy orchestration
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Add mauiandroiddeploy scenario
  src/scenarios/mauiandroiddeploy/post.py
  src/scenarios/mauiandroiddeploy/pre.py
  src/scenarios/mauiandroiddeploy/test.py
Due: azure-pipelines.yml

Add AndroidInnerLoopParser for deploy binlog parsing
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines.yml

Add build task/target counters to AndroidInnerLoopParser
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines.yml

Add remaining Android build task counters
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines.yml

Add WaitForAppDetection task counter
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines.yml

Add remaining uncaptured task counters
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines.yml

Fix invalid `csharp_space_around_declaration_statements` option value (#5132)
  src/tools/.editorconfig
Due: azure-pipelines.yml

Fix missing validation and None scenarioname in androidinnerloop handler
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Rename scenario mauiandroiddeploy to mauiandroidinnerloop
  src/scenarios/mauiandroidinnerloop/post.py
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/test.py
Due: azure-pipelines.yml

refactor: remove wasm args (#5134)
  docs/benchmarking-workflow-dotnet-runtime.md
  eng/Versions.props
  scripts/benchmarks_local.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Refactor `markdownlint` workflow (#4999)
  .github/workflows/markdownlint.yml
Due: azure-pipelines.yml

Disable dsymutil for iOS Debug builds to fix mauiios scenario failure
  src/scenarios/Directory.Build.props
Due: azure-pipelines.yml

Update BDN to have bin log space fix
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add MAUI Android inner loop measurement skill
  .github/skills/maui-android-innerloop/SKILL.md
Due: none

Fix code review
  src/benchmarks/micro/sve/ComplexMultiply.cs
  src/benchmarks/micro/sve/PairwiseAdd.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove testing changes
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove extra newline
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix output buffer size
  src/benchmarks/micro/sve/UpscaleFilter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add explicit cast
  src/benchmarks/micro/sve/TCPChecksum.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use 16-bit predicates in sve loop
  src/benchmarks/micro/sve/TCPChecksum.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Wire MAUI Android inner loop scenario into CI pipeline
  eng/performance/maui_scenarios_android_innerloop.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/mauiandroidinnerloop/post.py
  src/scenarios/mauiandroidinnerloop/pre.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add MAUI Android inner loop CI scenario
  .github/skills/maui-android-innerloop/SKILL.md
  eng/performance/maui_scenarios_android_innerloop.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/mauiandroidinnerloop/post.py
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/test.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix inner loop config: Debug+FastDev only
  eng/performance/maui_scenarios_android_innerloop.proj
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix pre.py invocation: add required subcommand
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix payload size: restore NuGet packages on Helix
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/mauiandroidinnerloop/pre.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix correlation payload OOM: install workload on Helix
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix workload install: remove invalid --skip-sign-check
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add verbose debugging to Helix PreCommands
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Diagnostic: minimal Helix workitem to isolate failure
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Test: add workload install + restore + test.py back
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix PYTHONPATH: add scenarios dir for shared module resolution
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix RuntimeFlavor handling for inner loop run_kind
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix PreCommands: remove redundant env vars causing semicolon corruption
  eng/performance/maui_scenarios_android_innerloop.proj
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
