Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml

change BytesAllocatedPerOperation to long?
  src/tools/ResultsComparer/DataTransferContracts.cs
  src/tools/ResultsComparer/MultipleInputsComparer.cs
Due: none

Add dictionary tests for non-string reference type
  src/benchmarks/micro/libraries/System.Collections/DataTypes.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Add additional large struct test
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
Due: azure-pipelines-micro.yml

Add dictionary tests for non-string reference type (#2609)
  src/benchmarks/micro/libraries/System.Collections/DataTypes.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

add benchmarks for ordered dictionary
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Collections/Add/AddGivenSize.cs
  src/benchmarks/micro/libraries/System.Collections/Add/TryAddDefaultSize.cs
  src/benchmarks/micro/libraries/System.Collections/Add/TryAddGivenSize.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsKeyFalse.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsKeyTrue.cs
  src/benchmarks/micro/libraries/System.Collections/Create/CtorDefaultSize.cs
  src/benchmarks/micro/libraries/System.Collections/Create/CtorFromCollection.cs
  src/benchmarks/micro/libraries/System.Collections/Create/CtorGivenSize.cs
  src/benchmarks/micro/libraries/System.Collections/CreateAddAndClear.cs
  src/benchmarks/micro/libraries/System.Collections/CreateAddAndRemove.cs
  src/benchmarks/micro/libraries/System.Collections/Indexer/IndexerSet.cs
  src/benchmarks/micro/libraries/System.Collections/Iterate/IterateFor.cs
  src/benchmarks/micro/libraries/System.Collections/Iterate/IterateForEach.cs
  src/benchmarks/micro/libraries/System.Collections/OrderedDictionary/Perf_OrderedDictionary.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
Due: azure-pipelines-micro.yml

initialize dictionary in benchmark
  src/benchmarks/micro/libraries/System.Collections/OrderedDictionary/Perf_OrderedDictionary.cs
Due: azure-pipelines-micro.yml

EnvironmentProvider creation in a RecommendedConfig moved to a static variable
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

[M] Cleanup Reporting.Reporter tool (#4520)
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
  src/tools/Reporting/Reporting.Tests/EnvironmentProviderMock.cs
  src/tools/Reporting/Reporting.Tests/ReporterTests.cs
  src/tools/Reporting/Reporting/Build.cs
  src/tools/Reporting/Reporting/Counter.cs
  src/tools/Reporting/Reporting/EnvironmentExtensions.cs
  src/tools/Reporting/Reporting/EnvironmentProvider.cs
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/Reporting/Reporting/Run.cs
  src/tools/Reporting/Reporting/Test.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.cs
  src/tools/ScenarioMeasurement/PowerConsumption/PowerConsumption.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: azure-pipelines-micro.yml

WIP
  scripts/certdeploy.ps1
Due: azure-pipelines-micro.yml

Supress SYSLIB0057
  src/benchmarks/micro/libraries/System.Net.Http/Configuration.Certificates.cs
Due: azure-pipelines-micro.yml

fix whitespace
  src/benchmarks/micro/libraries/System.Net.Http/Configuration.Certificates.cs
Due: azure-pipelines-micro.yml

Update `BENCHMARKS_LOCAL_README.md` reference
  docs/README.md
Due: none

Update `BENCHMARKS_LOCAL_README.md` reference (#4575)
  docs/README.md
Due: none

add iteration parameter for microbenchmarks and use 1 as default value
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
Due: none

repeat bdnProcess based on `Environment.iteration`
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

add iteration for BaseMicrobenchmark config file
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
Due: none

improve unique random values generation
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Additional invoke benchmarks
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Made progress with notebook
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/GCDynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/OOM_Example.ipynb
Due: none

Added the OOMDetails + Tuning Gen2 Dynamic Events
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/GCDynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/OOM_Example.ipynb
Due: none

comment out output.path check logic for aspnetbenchmarks (#4315)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ASPNetBenchmark.Configuration.cs
Due: none

Enable iteration for microbenchmarks (#4581)
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
Due: none

Update main channel branch to using net10.0
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

A few other updates for net10 functionality.
  scripts/micro_benchmarks.py
  src/scenarios/build-common/Blazor.PackageVersions.props
Due: azure-pipelines-micro.yml

Take in a darc update as well.
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Update main channel branch to using net10.0
  scripts/channel_map.py
  scripts/micro_benchmarks.py
  src/scenarios/build-common/Blazor.PackageVersions.props
Due: azure-pipelines-micro.yml

Take arcade and runtime darc updates.
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/core-templates/steps/source-build.yml
  eng/common/cross/build-rootfs.sh
  eng/common/cross/toolchain.cmake
  global.json
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Add net10 package feeds.
  NuGet.config
Due: none

Add global.net9.json for net9.0 runs.
  global.net9.json
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

Added net10 condition to Microbenchmarks.csproj.
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

One more missed net9.0 -> net10.0 replacement.
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/README.md
Due: azure-pipelines-micro.yml

Update channel main to net10 (#4610)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/core-templates/steps/source-build.yml
  eng/common/cross/build-rootfs.sh
  eng/common/cross/toolchain.cmake
  global.json
  global.net9.json
  scripts/channel_map.py
  scripts/ci_setup.py
  scripts/micro_benchmarks.py
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/README.md
  src/scenarios/build-common/Blazor.PackageVersions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Fix minor global.json issue in global.net9.json causing runs that use global.net9.json to fail.
  global.net9.json
Due: none

Fix minor global.json issue in global.net9.json causing runs that use global.net9.json to fail. (#4613)
  global.net9.json
Due: none

Move runtime yaml into performance repository
  azure-pipelines.yml
  eng/performance/benchmark_jobs.yml
  eng/performance/gc_jobs.yml
  eng/performance/scenarios.yml
  eng/performance/send-to-helix.yml
  eng/performance/templates/build-machine-matrix.yml
  eng/performance/templates/download-artifact-step.yml
  eng/performance/templates/download-specific-artifact-step.yml
  eng/performance/templates/run-performance-job.yml
  eng/performance/templates/run-scenarios-job.yml
  eng/performance/templates/runtime-perf-job.yml
  eng/performance/templates/send-to-helix-step.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix missing end parenthesis
  eng/performance/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml

Fix string quoting issues
  eng/performance/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml

Fix elseif
  eng/performance/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml

Fix variable propagation
  eng/performance/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml

Fix variables to be an array
  eng/performance/templates/run-performance-job.yml
  eng/performance/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml
