Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - release/6.0
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 22H2
  ...

scattermode, width, debug
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

Create parse micro-bench for JsonNode and fix other JsonNode bench namespace
  src/benchmarks/micro/libraries/System.Text.Json/Node/NodeParse.cs
  src/benchmarks/micro/libraries/System.Text.Json/Node/ParseThenWrite.cs
Due: azure-pipelines-micro.yml

WIP: Updating maui version stuff.
  eng/Version.Details.xml
  scripts/run_performance_job.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Run the version update.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Also update the rollback version mappings.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Update Maui Versions and name for runtime version (#4396)
  eng/Version.Details.xml
  scripts/run_performance_job.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Remove usages of the ubuntu 18.04 queue as they are EOL.
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Remove usages of the ubuntu 18.04 queue as they are EOL. (#4403)
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Add more F# microbenchmarks (#4375)
  src/benchmarks/micro-fsharp/Equality/Arrays.fs
  src/benchmarks/micro-fsharp/Equality/BasicTypes.fs
  src/benchmarks/micro-fsharp/Equality/FSharpCoreFunctions.fs
  src/benchmarks/micro-fsharp/MicrobenchmarksFSharp.fsproj
Due: none

Support decoding array in dynamic event
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/DynamicEventTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
Due: none

GCPerfSim updates (#4193)
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

Update secret sync version
  .config/dotnet-tools.json
Due: none

Update secret sync version (#4427)
  .config/dotnet-tools.json
Due: none

Disable release/7.0 runs as net7.0 is no longer supported.
  azure-pipelines.yml
Due: none

Remove release/7.0 tiggers from main branch yml.
  azure-pipelines.yml
Due: none

Update trigger and PR yaml triggers to no longer trigger for release/7.0.
  azure-pipelines.yml
Due: none

Remove release/7.0 tiggers from main branch yml. (#4432)
  azure-pipelines.yml
Due: none

[Release/7.0] Disable release/7.0 runs (#4431)
  azure-pipelines.yml
Due: none

Update the Maui version mappings.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Update the Maui version mappings. (#4433)
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Added the initial scaffolding for the Notebook based testing project
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.sln
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/GC.Infrastructure.NotebookTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Tests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Utils.cs
Due: none

Add release/9.0 and matching 10.0 channel maps.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Include recent changes from runtime repo
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Disable startup scenarios on Ubuntu (backport #4366 to release/6.0)
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Disable SDK scenarios on Ubuntu (backport #4403 to release/6.0)
  azure-pipelines.yml
Due: none

Only build startup and SOD for runtime scenarios
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Added more tests and built out functionality further
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.sln
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/FunctionalTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/GC.Infrastructure.NotebookTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/GC.Infrastructure.NotebookTests.sln
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/NotebookException.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/NotebookParser/NotebookDataModel.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/TestNotebooks/CompilationFailure.dib
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/TestNotebooks/CompilationFailure.ipynb
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/TestNotebooks/ExceptionFailure.dib
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/TestNotebooks/ExceptionFailure.ipynb
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Tests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Utils.cs
Due: none

Included relative paths for the GCAnalysisExample notebook
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/GCAnalysisExamples.ipynb
Due: none

Fixed compilation error because of warning of uninitialized property
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/NotebookParser/NotebookDataModel.cs
Due: none

Added overrides for the working path
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/FunctionalTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Utils.cs
Due: none

Fix infinite loop in zip creation
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix some directory issues
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix some copytree logic
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Copy ios apps into correct dir
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix iosSampleApp copying + add better logging
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix PDN download and error code
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Add release/9.0 and matching 10.0 channel maps. (#4439)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Address PR comments
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Comment out remaining spots for sdk scenarios
  azure-pipelines.yml
Due: none

Fixed API a bit mroe
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/FunctionalTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Utils.cs
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
