Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  ...

Fixed merge conflicts
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

More fixes for merge conflicts
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

[perf] Add hybrid globalization performance measurements for Maui scenarios (#3263)
  azure-pipelines.yml
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  eng/performance/send-to-helix.yml
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

Add perf report walkthrough doc (#3326)
  docs/perfreport-walkthrough.md
Due: none

Added robustness to the GCPerfSim Runs
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
Due: none

Fixed syntax for the Low Volatility Run
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
Due: none

Improved overall reliability of GCPerfSim runs
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/AnalyzeTrace.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItem.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/CrankConfiguration.yaml
Due: none

Cleaned up the yaml for the Low Vol runs
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
Due: none

Added fix for certain cases where the log wasn't being downloaded
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ASPNetBenchmarks.CommandBuilder.cs
Due: none

Removed the stream writer and replaced with Console
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Removed the Console Write
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Added changes
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

Update BDN version
  eng/Versions.props
Due: azure-pipelines-micro.yml

Update BDN version (#3331)
  eng/Versions.props
Due: azure-pipelines-micro.yml

Added back one more lohPauseMeasure comment
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

More cleanup
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

[wasm] Fix scripts to track change in BDN
  scripts/benchmarks_local.py
  scripts/performance_setup.py
Due: azure-pipelines-micro.yml

address feedback, and add comments
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

[wasm] Fix scripts to track change in BDN (#3344)
  scripts/benchmarks_local.py
  scripts/performance_setup.py
Due: azure-pipelines-micro.yml

GC PerfSim Infrastructure Improvements (#3334)
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/AnalyzeTrace.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/ResultItem.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCompare.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/CrankConfiguration.yaml
Due: none

GCPerfSim Improvements (#3339)
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

Cleared output
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-All.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-Aot-Windows.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-Linux.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
Due: none

Updated plot for vol
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
Due: none

Fix hybrid globalization command line parameter
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Added benchmark filtering and fix path in the notebook
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ASPNetBenchmark.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
Due: none

Ordering in terms of filters and matches on ends + regexes
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
Due: none

Fix hybrid globalization command line parameter (#3346)
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Parser fallback.
  src/tools/ScenarioMeasurement/Startup/TimeToMain2Parser.cs
Due: none

Build LTTng provider only on 2204.
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Check for 22.04 queue.
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/LTTngForwardingEventListener.cs
  src/tools/ScenarioMeasurement/Startup/PerfCollect.cs
  src/tools/ScenarioMeasurement/Startup/PerfLabValues.cs
Due: none

Better checks in PerfCollect.
  src/tools/ScenarioMeasurement/Startup/PerfCollect.cs
Due: none

Test maui startup measurements
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Enable startup measurements for MAUI iOS scenarios
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

[perf] Enable startup measurements for MAUI iOS scenarios (#3352)
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Update secret manager version.
  .config/dotnet-tools.json
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
