Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Move env vars from per-item PreCommands to HelixPreCommands property
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix MSBuild IsPosixShell condition syntax in .proj
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Move setup_helix.py from Command to per-item PreCommands
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Move HelixPreCommands env vars to Target to fix .NET SDK ordering
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix OverrideDotnetCliRoot Target ordering — remove conflicting BeforeTargets
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Replace HelixPreCommands Target with per-item PreCommands using ;; escaping
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BCS upload templates to use public $web container (#5174)
  eng/pipelines/templates/register-build-job.yml
  eng/pipelines/templates/upload-build-artifacts-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix SVE benchmark CreateWhileLessThanMask API rename for .NET 11
  src/benchmarks/micro/sve/Clamp.cs
  src/benchmarks/micro/sve/ComplexDotProduct.cs
  src/benchmarks/micro/sve/ComplexMultiply.cs
  src/benchmarks/micro/sve/Exponent.cs
  src/benchmarks/micro/sve/FP64Overflow.cs
  src/benchmarks/micro/sve/FastDivision.cs
  src/benchmarks/micro/sve/GatherLoad.cs
  src/benchmarks/micro/sve/Logarithm.cs
  src/benchmarks/micro/sve/MultiplyAdd.cs
  src/benchmarks/micro/sve/MultiplyPow2.cs
  src/benchmarks/micro/sve/OddEvenSort.cs
  src/benchmarks/micro/sve/PairwiseAdd.cs
  src/benchmarks/micro/sve/Partition.cs
  src/benchmarks/micro/sve/ScatterStore.cs
  src/benchmarks/micro/sve/SobelFilter.cs
  src/benchmarks/micro/sve/SquareRoot.cs
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
  src/benchmarks/micro/sve/SveMaskHelper.cs
  src/benchmarks/micro/sve/TCPChecksum.cs
  src/benchmarks/micro/sve/UpscaleFilter.cs
  src/benchmarks/micro/sve/VectorMax.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Extract env vars into _WindowsEnvVars/_LinuxEnvVars properties for readability
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable PublishReadyToRunStripDebugInfo/StripInliningInfo for iOS CoreCLR R2R (#5182)
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Avoid failures when `dpkg` is locked. (#5180)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix python command for Linux Helix work items (#5179)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Increase DictionaryContainsKeyLarge probe count to 8192
  src/benchmarks/micro/libraries/System.Collections/Contains/DictionaryContainsKey.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add Dictionary and HashSet Remove/Contains benchmarks with multi-size coverage
  src/benchmarks/micro/libraries/System.Collections/Contains/DictionaryContainsKey.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/HashSetContains.cs
  src/benchmarks/micro/libraries/System.Collections/Dictionary/DictionaryTryRemove.cs
  src/benchmarks/micro/libraries/System.Collections/Remove/RemoveFalse.cs
  src/benchmarks/micro/libraries/System.Collections/Remove/RemoveTrue.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add DictionaryContainsKeyLarge: 1M-entry lookup benchmark
  src/benchmarks/micro/libraries/System.Collections/Contains/DictionaryContainsKey.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use Add instead of indexer for re-add after Remove
  src/benchmarks/micro/libraries/System.Collections/Dictionary/DictionaryTryRemove.cs
  src/benchmarks/micro/libraries/System.Collections/Remove/RemoveTrue.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove Size=8192 from new benchmarks to match existing collection benchmark sizes
  src/benchmarks/micro/libraries/System.Collections/Contains/DictionaryContainsKey.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/HashSetContains.cs
  src/benchmarks/micro/libraries/System.Collections/Dictionary/DictionaryTryRemove.cs
  src/benchmarks/micro/libraries/System.Collections/Remove/RemoveFalse.cs
  src/benchmarks/micro/libraries/System.Collections/Remove/RemoveTrue.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Temporarily disable all non-SVE perf jobs for test run
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix SveMaskHelper to use reflection+delegate caching for API rename compat
  src/benchmarks/micro/sve/SveMaskHelper.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix startup measurement to use logcat Displayed time with cold start guarantee
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Add multiple startup iterations and runtime validation
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Fix grep crash on no-match and add WaitTime fallback
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Add Dictionary and HashSet Remove/Contains benchmarks (#5178)
  src/benchmarks/micro/libraries/System.Collections/Contains/DictionaryContainsKey.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/HashSetContains.cs
  src/benchmarks/micro/libraries/System.Collections/Dictionary/DictionaryTryRemove.cs
  src/benchmarks/micro/libraries/System.Collections/Remove/RemoveFalse.cs
  src/benchmarks/micro/libraries/System.Collections/Remove/RemoveTrue.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Change back to python for Widnows agent_python as py launcher ignores .venv
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Wire MAUI Android inner loop into CI pipeline
  eng/performance/maui_scenarios_android_innerloop.proj
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add MAUI Android inner loop scenario scripts
  src/scenarios/mauiandroidinnerloop/post.py
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/setup_helix.py
  src/scenarios/mauiandroidinnerloop/test.py
Due: azure-pipelines.yml

Add AndroidInnerLoopParser for build/deploy binlog analysis
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines.yml

Add ANDROIDINNERLOOP test type to Python test framework
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/startup.py
Due: azure-pipelines.yml

Make screen timeout configurable and validate cold startup LaunchState
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Change back to python for Widnows agent_python as py launcher ignores .venv (#5185)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Temporarily disable all non-SVE perf jobs for test run"
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address review notes
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/mauiandroidinnerloop/post.py
  src/scenarios/shared/runner.py
  src/tools/ScenarioMeasurement/Util/Parsers/AndroidInnerLoopParser.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Set SVE tests to only use new APIs on net11.0
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/sve/Clamp.cs
  src/benchmarks/micro/sve/ComplexDotProduct.cs
  src/benchmarks/micro/sve/ComplexMultiply.cs
  src/benchmarks/micro/sve/Exponent.cs
  src/benchmarks/micro/sve/FP64Overflow.cs
  src/benchmarks/micro/sve/FastDivision.cs
  src/benchmarks/micro/sve/GatherLoad.cs
  src/benchmarks/micro/sve/Logarithm.cs
  src/benchmarks/micro/sve/MultiplyAdd.cs
  src/benchmarks/micro/sve/MultiplyPow2.cs
  src/benchmarks/micro/sve/OddEvenSort.cs
  src/benchmarks/micro/sve/PairwiseAdd.cs
  src/benchmarks/micro/sve/Partition.cs
  src/benchmarks/micro/sve/ScatterStore.cs
  src/benchmarks/micro/sve/SobelFilter.cs
  src/benchmarks/micro/sve/SquareRoot.cs
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
  src/benchmarks/micro/sve/SveMaskHelper.cs
  src/benchmarks/micro/sve/TCPChecksum.cs
  src/benchmarks/micro/sve/UpscaleFilter.cs
  src/benchmarks/micro/sve/VectorMax.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix SVE benchmark CreateWhileLessThanMask API rename for .NET 11 (#5183)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/sve/Clamp.cs
  src/benchmarks/micro/sve/ComplexDotProduct.cs
  src/benchmarks/micro/sve/ComplexMultiply.cs
  src/benchmarks/micro/sve/Exponent.cs
  src/benchmarks/micro/sve/FP64Overflow.cs
  src/benchmarks/micro/sve/FastDivision.cs
  src/benchmarks/micro/sve/GatherLoad.cs
  src/benchmarks/micro/sve/Logarithm.cs
  src/benchmarks/micro/sve/MultiplyAdd.cs
  src/benchmarks/micro/sve/MultiplyPow2.cs
  src/benchmarks/micro/sve/OddEvenSort.cs
  src/benchmarks/micro/sve/PairwiseAdd.cs
  src/benchmarks/micro/sve/Partition.cs
  src/benchmarks/micro/sve/ScatterStore.cs
  src/benchmarks/micro/sve/SobelFilter.cs
  src/benchmarks/micro/sve/SquareRoot.cs
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
  src/benchmarks/micro/sve/TCPChecksum.cs
  src/benchmarks/micro/sve/UpscaleFilter.cs
  src/benchmarks/micro/sve/VectorMax.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add wasm_coreclr and coreclr_r2r_interpreter build artifact support
  eng/pipelines/runtime-perf-build-jobs.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add metric filter for gcperfsim test
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/LowVolatilityRuns.yaml
Due: none

Add iOSInnerLoopParser, wire Startup.cs, fix Reporter.cs
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/iOSInnerLoopParser.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add shared Python infrastructure for iOS inner loop
  src/scenarios/shared/const.py
  src/scenarios/shared/ioshelper.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Add mauiiosinnerloop scenario directory (pre/test/post.py)
  src/scenarios/mauiiosinnerloop/post.py
  src/scenarios/mauiiosinnerloop/pre.py
  src/scenarios/mauiiosinnerloop/test.py
Due: azure-pipelines.yml

Add setup_helix.py for iOS Helix bootstrap
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml
