Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

Exclude Perf_String.Split_Csv from WASM runs
  src/benchmarks/micro/libraries/System.Runtime/Perf.String.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Exclude Perf_String.Split_Csv from WASM runs (#5214)
  src/benchmarks/micro/libraries/System.Runtime/Perf.String.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update src/tools/ResultsComparer.Tests/DataTests.cs
  src/tools/ResultsComparer.Tests/DataTests.cs
Due: azure-pipelines.yml

present list of microbenchmarkresults
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Presentation.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Add test coverage for ResultsComparer and CLI helper paths (#5199)
  eng/pipelines/sdk-perf-jobs.yml
  src/harness/BenchmarkDotNet.Extensions/CommandLineOptions.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/CommandLineOptionsTests.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/PartitionFilterTests.cs
  src/tools/Reporting/Directory.Packages.props
  src/tools/ResultsComparer.Tests/ConsoleOutputCollection.cs
  src/tools/ResultsComparer.Tests/DataTests.cs
  src/tools/ResultsComparer.Tests/HelperTests.cs
  src/tools/ResultsComparer.Tests/ProgramTests.cs
  src/tools/ResultsComparer.Tests/ResultsComparer.Tests.csproj
  src/tools/ResultsComparer.Tests/ResultsComparerTestData.cs
  src/tools/ResultsComparer.Tests/StatsTests.cs
  src/tools/ResultsComparer/Data.cs
  src/tools/ResultsComparer/Directory.Packages.props
  src/tools/ResultsComparer/MultipleInputsComparer.cs
  src/tools/ResultsComparer/Program.cs
  src/tools/ResultsComparer/Properties/AssemblyInfo.cs
  src/tools/ResultsComparer/ResultsComparer.sln
  src/tools/ResultsComparer/Stats.cs
  src/tools/ResultsComparer/TwoInputsComparer.cs
  src/tools/ScenarioMeasurement/Startup.Tests/StartupTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

rename iteration section to iterations for Run.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
Due: none

Potential fix for pull request finding
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
Due: none

fix for microbencharmks comparison
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

fix bugs intrduced in previous commit
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Add json-only comparison
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
Due: none

extract a shared helper for analyze command
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

take trace type into consideration
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

move MicrobenchmarkResult to GC.Infrastructure.Core.Analysis.Microbenchmarks namespace
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
Due: none

validate if run is null
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

rename PauseDurationSeconds_SumWhereIsGen1 to PauseDurationMSec_SumWhereIsGen1
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
Due: none

assign value for PromotedMB_MeanWhereIsGen1
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
Due: none

Rename MicroBenchmarks.Serializers.BinaryData to BinaryDataPayload
  src/benchmarks/micro/Serializers/DataGenerator.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/ReadJson.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/WriteJson.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Rename MicroBenchmarks.Serializers.BinaryData to BinaryDataPayload (#5216)
  src/benchmarks/micro/Serializers/DataGenerator.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/ReadJson.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/WriteJson.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Potential fix for pull request finding
  src/benchmarks/micro/libraries/System.Memory/SpanHelpers.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add MAUI Desktop BenchmarkDotNet benchmarks scenario
  eng/performance/maui_desktop_benchmarks.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/harness/BenchmarkDotNet.Extensions/ExclusionFilter.cs
  src/scenarios/mauiDesktopBenchmarks/post.py
  src/scenarios/mauiDesktopBenchmarks/pre.py
  src/scenarios/mauiDesktopBenchmarks/test.py
  src/scenarios/shared/bdndesktop.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add properties for microbenchmarks comparison
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Presentation.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

get value from StatsData if property is not found in GCTraceMetrics
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
Due: none

filtering to finite values
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Statistics.cs
Due: none

check possible null references
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

add console output when analyzing results
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

Drop daily quality from release/10.0 and 10.0 channels
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use shared performance.common helpers instead of rolling our own
  src/scenarios/mauiDesktopBenchmarks/test.py
  src/scenarios/shared/bdndesktop.py
Due: azure-pipelines.yml

Align _collect_results with the benchmarks_ci.py upload pattern
  src/scenarios/mauiDesktopBenchmarks/post.py
  src/scenarios/shared/bdndesktop.py
Due: azure-pipelines.yml

redesign microbenchmarks result
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

Drop daily quality from release/10.0 and 10.0 channels (#5219)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

redesign microbenchmarkresult
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/BdnJsonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
Due: none

move presentation to analyze-command
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Presentation.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

improve performance of analyzing stage
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

includes int type properties
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
Due: none

check key existence and set parallelism degree to 2 * cpu_count
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
Due: none

check if metricName is a key of StatsData
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
Due: none

Filter out null GCTraceMetrics instances before calling CompareGCTraceMetric
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
Due: none

update initialization of OtherMetrics for MicrobenchmarkComparisonResult
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
Due: none

comment out cpu_columns related code
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
Due: none

remove unused imports
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
