Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  ...

Try a run with windows 2022.
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[maui, android] explicitly set R2R properties
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[maui, android] explicitly set R2R properties (#4879)
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add performance internal runs for Viper machine queues.
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add performance internal runs for Viper machine queues. (#4880)
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update windows open queue to windows11 and VMimage to windows 2025 (#4875)
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove PerfSurf and PerfOwl runs
  eng/pipelines/runtime-slow-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix net462 build failures by adding missing System.IO.Pipelines and System.Threading.Channels packages (#4881)
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove PerfOwl runs and logical machine to queue
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove logical machine to queue for Surf and Owl
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove PerfSurf and PerfOwl runs (#4882)
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-slow-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove alpine job and cut down on perftiger jobs as the alpine machines have been decom'd and the perftiger machines have had a portion decom'd.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove the alpine supporting infra as we no longer have alpine.
  eng/pipelines/runtime-perf-build-jobs.yml
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
  helix.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

- don't disable WasmRunWasmOpt via WasmNativeStrip
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove alpine job and cut down on perftiger jobs (#4886)
  eng/pipelines/runtime-perf-build-jobs.yml
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
  helix.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove tiger runs from wasm runtime runs.
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove tiger runs from wasm runtime runs. (#4888)
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

don't disable WasmRunWasmOpt via WasmNativeStrip (#4887)
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Create linux-wasm-tiger_changepoint_report.md
  reports/linux-wasm-tiger_changepoint_report.md
Due: none

Update linux-wasm-tiger_changepoint_report.md
  reports/linux-wasm-tiger_changepoint_report.md
Due: none

Create linux-monoaot-ampere_changepoint_report.md
  reports/linux-monoaot-ampere_changepoint_report.md
Due: none

Create linux-mono-tiger_changepoint_report.md
  reports/linux-mono-tiger_changepoint_report.md
Due: none

Create windows-x64-tiger_changepoint_report.md
  reports/windows-x64-tiger_changepoint_report.md
Due: none

Create linux-x64-tiger_changepoint_report.md
  reports/linux-x64-tiger_changepoint_report.md
Due: none

Add Arm64 report
  reports/linux-arm64-ampere_changepoint_report.md
Due: none

Add ranges to MonoAOT and Mono comparison reports.
  reports/linux-mono-tiger_changepoint_report.md
  reports/linux-monoaot-ampere_changepoint_report.md
Due: none

Add readme and remove extra unneeded info from arm64 report
  reports/README.md
  reports/linux-arm64-ampere_changepoint_report.md
Due: none

Add .NET 9 to 10 performance reports (#4889)
  reports/README.md
  reports/linux-arm64-ampere_changepoint_report.md
  reports/linux-mono-tiger_changepoint_report.md
  reports/linux-monoaot-ampere_changepoint_report.md
  reports/linux-wasm-tiger_changepoint_report.md
  reports/linux-x64-tiger_changepoint_report.md
  reports/windows-x64-tiger_changepoint_report.md
Due: none

Add improvement reports
  reports/README.md
  reports/net9to10/README.md
  reports/net9to10/linux-arm64-ampere_improvement_report.md
  reports/net9to10/linux-arm64-ampere_regression_report.md
  reports/net9to10/linux-mono-tiger_improvement_report.md
  reports/net9to10/linux-mono-tiger_regression_report.md
  reports/net9to10/linux-monoaot-ampere_improvement_report.md
  reports/net9to10/linux-monoaot-ampere_regression_report.md
  reports/net9to10/linux-wasm-tiger_improvement_report.md
  reports/net9to10/linux-wasm-tiger_regression_report.md
  reports/net9to10/linux-x64-tiger_improvement_report.md
  reports/net9to10/linux-x64-tiger_regression_report.md
  reports/net9to10/windows-x64-tiger_improvement_report.md
  reports/net9to10/windows-x64-tiger_regression_report.md
Due: none

Fix regression report title
  reports/net9to10/linux-arm64-ampere_regression_report.md
  reports/net9to10/linux-mono-tiger_regression_report.md
  reports/net9to10/linux-monoaot-ampere_regression_report.md
  reports/net9to10/linux-wasm-tiger_regression_report.md
  reports/net9to10/linux-x64-tiger_regression_report.md
  reports/net9to10/windows-x64-tiger_regression_report.md
Due: none

Add .NET 9 to 10 improvement reports (#4890)
  reports/README.md
  reports/net9to10/README.md
  reports/net9to10/linux-arm64-ampere_improvement_report.md
  reports/net9to10/linux-arm64-ampere_regression_report.md
  reports/net9to10/linux-mono-tiger_improvement_report.md
  reports/net9to10/linux-mono-tiger_regression_report.md
  reports/net9to10/linux-monoaot-ampere_improvement_report.md
  reports/net9to10/linux-monoaot-ampere_regression_report.md
  reports/net9to10/linux-wasm-tiger_improvement_report.md
  reports/net9to10/linux-wasm-tiger_regression_report.md
  reports/net9to10/linux-x64-tiger_improvement_report.md
  reports/net9to10/linux-x64-tiger_regression_report.md
  reports/net9to10/windows-x64-tiger_improvement_report.md
  reports/net9to10/windows-x64-tiger_regression_report.md
Due: none

add benchmarks
  src/benchmarks/gc/GCPerfSim/CustomEvents.cs
  src/benchmarks/gc/GCPerfSim/GCPerfSim.csproj
  src/benchmarks/gc/GCPerfSim/Harness.cs
Due: none

add all scenarios
  src/benchmarks/gc/GCPerfSim/Harness.cs
Due: none

Add updates for the global.net8.json and global.net9.json files.
  global.net8.json
  global.net9.json
Due: azure-pipelines.yml

Disable most of the tests for now and trying to use the 10.0 versions of arcade and helix sdks.
  eng/pipelines/sdk-perf-jobs.yml
  global.net8.json
  global.net9.json
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update WindowsCollectTypeMap and remove benchmarks
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GCPerfSim/CustomEvents.cs
  src/benchmarks/gc/GCPerfSim/Harness.cs
Due: none

Add reports for wasm aot
  reports/net9to10/README.md
  reports/net9to10/linux-wasmaot-viper_improvement_report.md
  reports/net9to10/linux-wasmaot-viper_regression_report.md
Due: none

Change minuses to pluses for change percent
  reports/net9to10/linux-wasmaot-viper_regression_report.md
Due: none

Restore original global.json before sending to helix
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add .NET 9 to 10 performance report for WASM AOT (#4894)
  reports/net9to10/README.md
  reports/net9to10/linux-wasmaot-viper_improvement_report.md
  reports/net9to10/linux-wasmaot-viper_regression_report.md
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
