Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
      - release/7.0
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  ...

Added warning disables for the newly added CA2022 warning about not reading SSL streams inexactly. (#4094)
  src/benchmarks/micro/libraries/System.Net.Security/SslStreamTests.Context.cs
  src/benchmarks/micro/libraries/System.Net.Security/SslStreamTests.cs
Due: azure-pipelines-micro.yml

Benchmark Parse/ToString with Large number (#4086)
  src/benchmarks/micro/libraries/System.Runtime.Numerics/Perf.BigInteger.cs
Due: azure-pipelines-micro.yml

Setup the first iOS startup iteration to start 10 minutes in the past, and use the latest of all events found to determine the time that should be used for the testing going forward.
  src/scenarios/shared/runner.py
Due: none

removing unneeded perf tests
  src/benchmarks/micro/libraries/System.Net.Http/Perf.WinHttpHandler.cs
Due: azure-pipelines-micro.yml

Setup the first iOS startup iteration to start 10 minutes in the past, and use the latest of all events found to determine the time that should be used for the testing going forward. (#4103)
  src/scenarios/shared/runner.py
Due: none

Update runs to use new queues
  eng/performance/build_machine_matrix.yml
  helix.yml
Due: azure-pipelines-micro.yml

Update runs to use new queues (#4106)
  eng/performance/build_machine_matrix.yml
  helix.yml
Due: azure-pipelines-micro.yml

Update ImageSharp from version 2.1.3 -> 2.1.7.
  src/benchmarks/real-world/ImageSharp/ImageSharp.Benchmarks.csproj
Due: azure-pipelines-micro.yml

Update ImageSharp from version 2.1.3 -> 2.1.7. (#4108)
  src/benchmarks/real-world/ImageSharp/ImageSharp.Benchmarks.csproj
Due: azure-pipelines-micro.yml

Update src/benchmarks/micro/libraries/System.Net.Http/Perf.WinHttpHandler.cs
  src/benchmarks/micro/libraries/System.Net.Http/Perf.WinHttpHandler.cs
Due: azure-pipelines-micro.yml

adusted WinHttpHandler benchmark to build properly on net462
  src/benchmarks/micro/libraries/System.Net.Http/Perf.WinHttpHandler.cs
Due: azure-pipelines-micro.yml

Move dotnet-path to be defined individually in each of the single benchmark cases. Also added RestoreAdditionalProjectSources for WasmAOT tests so the built packages are found.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add RestoreAdditionalProjectSources to WasmInterpreter runs and readd dependency generation completion message.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

fix typo.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

attempting to resolve test failures by adding a conditional to WinHttpHandler package reference.
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Update GC black requirement.
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Enable JitOptRepeat as a perf experiment
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

adding SupportOSPlatform attribute behind conditional for netcore
  src/benchmarks/micro/libraries/System.Net.Http/Perf.WinHttpHandler.cs
Due: azure-pipelines-micro.yml

Enable JitOptRepeat as a perf experiment (#4121)
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

Update GC black requirement. (#4119)
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Update GC black requirement. (#4120)
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

use SslProtocols.Tls12, as SslProtocols.None throws on net462 targets
  src/benchmarks/micro/libraries/System.Net.Http/Perf.WinHttpHandler.cs
Due: azure-pipelines-micro.yml

Fix Wasm benchmark_local setup (#4118)
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Added a few more places we handle errors from the crank agent
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
Due: none

enable single file upload for gcperfsim
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
Due: none

Add latest changes from runtime repo
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Add dictionary tests for non-string reference type
  src/benchmarks/micro/libraries/System.Collections/DataTypes.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Add additional large struct test
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
Due: azure-pipelines-micro.yml

Replaced all DOTNET instances with COMPlus
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/GCPerfSimFunctionalRun.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/HighMemory.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_NormalServer.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LargePages_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowMemoryContainer.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/Normal_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/Normal_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/SampleCrank.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Microbenchmark/Microbenchmarks_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/NoMicrobenchmarkConfigurationsSpecified.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/NoMicrobenchmarkFilterSpecified.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/NoMicrobenchmarkFrameworkVersionSpecified.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/NoOutputSpecified.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/NoTraceConfigurationTypeSpecified.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/SimpleValidConfiguration.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/SimpleValidConfiguration_BDNArgumentsSpecified.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Microbenchmarks/Configurations/SimpleValidConfiguration_OverridingFramework.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ASPNetBenchmarks.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ASPNetBenchmark.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSimFunctional.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/InputConfiguration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimFunctionalCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/GCPerfSim_Normal_Workstation.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Fixed duplication in the README
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Update runs to use new queues (#4106)
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Update Tiger queues.
  azure-pipelines.yml
Due: none

Fix wasm bundle path and add arg support for local commit time
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix local commit time code
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Only set core_root for coreclr runs
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix ios hello world copying
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix wasm copying and prereq check on linux
  eng/performance/helix.proj
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fixed up the mechanism with which nettrace files are produced
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Analyzer.cs
Due: none

Fix wasm args quoting and PreparePayloadWorkItems usage
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
