Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

Fix link in README (#2874)
  README.md
Due: none

SOD formatting (#2871)
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

String
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

String (#2875)
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Publish also mstat file.
  src/scenarios/emptyconsolenativeaot/pre.py
Due: none

Fix name
  src/scenarios/emptyconsolenativeaot/pre.py
Due: none

Update fallback for SOD and Startup to net6.0.
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.csproj
  src/tools/ScenarioMeasurement/Startup.Tests/Startup.Tests.csproj
  src/tools/ScenarioMeasurement/Startup/Startup.csproj
Due: none

Publish also mstat file. (#2873)
  src/scenarios/emptyconsolenativeaot/pre.py
Due: none

Update fallback for SOD and Startup to net6.0. (#2878)
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.csproj
  src/tools/ScenarioMeasurement/Startup.Tests/Startup.Tests.csproj
  src/tools/ScenarioMeasurement/Startup/Startup.csproj
Due: none

Initial code.
  src/tools/ScenarioMeasurement/SizeOnDisk/MStatProcessor.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Processing also mstat (for NativeAOT) file as part of SOD.
  src/tools/ScenarioMeasurement/SizeOnDisk/MStatProcessor.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.csproj
Due: none

Cleanup
  src/tools/ScenarioMeasurement/SizeOnDisk/MStatProcessor.cs
Due: none

Update JupyterLab.
  src/benchmarks/gc/src/analyze_requirements.txt
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

don't use strings for MemoryCache keys, as they produce different hash codes for every benchmark run
  src/benchmarks/micro/libraries/Microsoft.Extensions.Caching.Memory/MemoryCacheTests.cs
Due: azure-pipelines-micro.yml

Processing also mstat (for NativeAOT) file as part of SOD. (#2879)
  src/tools/ScenarioMeasurement/SizeOnDisk/MStatProcessor.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.csproj
Due: none

Fix GHSA-5crp-9r3c-p9vr
  src/tools/Reporting/Reporting/Reporting.csproj
  src/tools/ResultsComparer/ResultsComparer.csproj
Due: azure-pipelines-micro.yml

Update JupyterLab. (#2880)
  src/benchmarks/gc/src/analyze_requirements.txt
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Fix GHSA-5crp-9r3c-p9vr (#2882)
  src/tools/Reporting/Reporting/Reporting.csproj
  src/tools/ResultsComparer/ResultsComparer.csproj
Due: azure-pipelines-micro.yml

don't use strings for MemoryCache keys, as they produce different hash codes for every benchmark run (#2881)
  src/benchmarks/micro/libraries/Microsoft.Extensions.Caching.Memory/MemoryCacheTests.cs
Due: azure-pipelines-micro.yml

Fix Maui android scenario publish and run problems.
  eng/performance/maui_scenarios_android.proj
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiandroidpodcast/pre.py
  src/scenarios/mauiblazorandroid/pre.py
Due: azure-pipelines-micro.yml

Setup testing.
  azure-pipelines.yml
Due: none

Remove podcast app from testing until it is fixed.
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml

Revert "Setup testing."
  azure-pipelines.yml
Due: none

Add back in using downloaded nuget files.
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
Due: none

Revert "Revert "Setup testing.""
  azure-pipelines.yml
Due: none

Copy the downloaded nuget configuration file to the app directory as a nuget.config file.
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
Due: none

Revert "Revert "Revert "Setup testing."""
  azure-pipelines.yml
Due: none

Update docs for running benchmarks for wasm
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Update docs for running benchmarks for wasm (#2889)
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Handle PDN version (printing in log and storing)
  eng/performance/scenarios.yml
  src/scenarios/paintdotnet/test.py
Due: azure-pipelines-micro.yml

Store and print PDN version (#2892)
  eng/performance/scenarios.yml
  src/scenarios/paintdotnet/test.py
Due: azure-pipelines-micro.yml

Small cleanup.
  src/scenarios/paintdotnet/pre.py
Due: none

Update maui net8.0 android build (#2884)
  eng/performance/maui_scenarios_android.proj
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiandroidpodcast/pre.py
  src/scenarios/mauiblazorandroid/pre.py
Due: azure-pipelines-micro.yml

Small cleanup. (#2893)
  src/scenarios/paintdotnet/pre.py
Due: none

[wasm] Update docs to add --run-isolated to the command line
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

[wasm] Update docs to add --run-isolated to the command line (#2894)
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Cleanup after unpacking
  src/scenarios/paintdotnet/pre.py
Due: none

Add C# record and polymorphism benchmarks to STJ.
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/Serializers/DataGenerator.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/ReadJson.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/WriteJson.cs
Due: azure-pipelines-micro.yml

Add C# record and polymorphism benchmarks to STJ. (#2896)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/Serializers/DataGenerator.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/ReadJson.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/WriteJson.cs
Due: azure-pipelines-micro.yml

Clean PDN package after unpacking (#2897)
  src/scenarios/paintdotnet/pre.py
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
