Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

Cleared outputs for the GCAnalysisExamples
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/GCAnalysisExamples.ipynb
Due: none

Saved and cleared outputs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/GCAnalysisExamples.ipynb
Due: none

Renamed trace
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/Traces/GCAnalysisExamples.zip
Due: none

Cleaned up execution counts
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/GCAnalysisExamples.ipynb
Due: none

Fixed up one last execution count
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/GCAnalysisExamples.ipynb
Due: none

Update the version bands
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Make GCPerfSim NativeAOT friendly
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
  src/benchmarks/gc/GCPerfSim/Harness.cs
Due: none

Make GCPerfSim NativeAOT friendly (#4449)
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
  src/benchmarks/gc/GCPerfSim/Harness.cs
Due: none

Added the etl.zip to the GCAnalysisExamples.
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/Traces/GCAnalysisExamples.etl.zip
Due: none

Fix incorrect tfm condition check
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Address PR comments
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Addressed feedback: Changed the process model and test mechanism
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Exceptions/NotebookException.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Exceptions/NotebookOutputDetectionException.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/FunctionalTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/GC.Infrastructure.NotebookTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/NotebookParser/NotebookDataModel.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/NotebookRunner.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Utils.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/BenchmarkAnalysis.dib
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/CustomDynamicEvents.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/CustomTraceEventExample.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/Traces/DynamicEvents.etl.zip
Due: none

Clean up redundant info in the BenchmarkAnalysis.dib
  src/benchmarks/gc/GC.Infrastructure/Notebooks/BenchmarkAnalysis.dib
Due: none

Supporting changes to implement python pipeline for performance runs on runtime repo (#4156)
  eng/performance/helix.proj
  scripts/ci_setup.py
  scripts/dotnet.py
  scripts/performance/common.py
  scripts/performance/logger.py
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml

Add JsonNode construction benchmarks
  src/benchmarks/micro/libraries/System.Text.Json/Node/Perf_Create.cs
Due: azure-pipelines-micro.yml

Address feedback
  src/benchmarks/micro/libraries/System.Text.Json/Node/Perf_Create.cs
Due: azure-pipelines-micro.yml

Fix sanity check arg
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix sanity check arg (#4464)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Add JsonNode construction benchmarks (#4463)
  src/benchmarks/micro/libraries/System.Text.Json/Node/Perf_Create.cs
Due: azure-pipelines-micro.yml

Fix configs for wasm aot and mono aot
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix check in other places
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Don't pass corerun on Mono AOT
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Parse version > 9 in dotnet.py
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

More fixes
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Print sdk dirs found in the CI
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Update scripts/dotnet.py
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Move diag to exception message
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Delete special condition (since we were not using the fork earlier)
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Reapply the workaround (needed after all=
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Allow more digits on the 1st position of version.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

return 10.0 for nativeaot9.0
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Update azure-pipelines.yml
  azure-pipelines.yml
Due: none

revert 9.0->10.0
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Update channel_map.py
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Update Data.cs
  src/tools/ResultsComparer/Data.cs
Due: none

make regex non-greedy
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Updated notebooks and added test sources
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Exceptions/NotebookOutputDetectionException.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/FunctionalTests.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/CPUAnalysisExamples.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/CustomDynamicEvents.ipynb
Due: none

Fix configs for wasm aot and mono aot (#4469)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
