Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Update iOS build matrix to use macos-26
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Restore active Xcode selection in setup_helix.py — fixes Xcode version mismatch on Helix
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Fix sign tool resolution — fall back to login shell execution
  src/scenarios/shared/ioshelper.py
Due: azure-pipelines.yml

Fix Xcode version parsing — regex greedily captured trailing dot
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Use in-box manifest for workload install — avoid Xcode version skew
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Enable runtime-async for net11.0+
  src/Directory.Build.props
  src/Directory.Build.targets
Due: azure-pipelines.yml

Use in-box manifest on build agent — stop shipping incompatible SDK packs
  src/scenarios/mauiiosinnerloop/pre.py
Due: azure-pipelines.yml

Revert to --from-rollback-file and make Xcode diagnostic-only
  src/scenarios/mauiiosinnerloop/pre.py
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Condition Microsoft.Extensions.Primitives for TFMs below net10.0
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Capture BenchmarkDotNet version in AdditionalData (#5190)
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add timeout to workload install to prevent NuGet download hangs
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Temporarily pin iOS workload to 26.2 for Xcode compatibility
  src/scenarios/mauiiosinnerloop/pre.py
Due: azure-pipelines.yml

Add active Xcode selection and version validation to setup_helix.py
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

fixup! Add active Xcode selection and version validation to setup_helix.py
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Fix Xcode selection: match workload-required version, not highest
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

fixup! Fix Xcode selection: match workload-required version, not highest — validate post-switch version
  src/scenarios/mauiiosinnerloop/setup_helix.py
Due: azure-pipelines.yml

Add Arm64 composite runs (#5189)
  eng/pipelines/runtime-perf-jobs.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Condition Microsoft.Extensions.Primitives for TFMs below net10.0 (#5196)
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BDN.Extensions harness for BDN 0.16.0 async API changes
  src/harness/BenchmarkDotNet.Extensions/MandatoryCategoryValidator.cs
  src/harness/BenchmarkDotNet.Extensions/NoWasmValidator.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/TooManyTestCasesValidator.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BenchmarkDotNet to 0.16.0-nightly.20260324.479 for verification testing
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Replace custom SyncAsyncEnumerable with System.Linq.AsyncEnumerable.ToAsyncEnumerable()
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/MandatoryCategoryValidator.cs
  src/harness/BenchmarkDotNet.Extensions/NoWasmValidator.cs
  src/harness/BenchmarkDotNet.Extensions/SyncAsyncEnumerable.cs
  src/harness/BenchmarkDotNet.Extensions/TooManyTestCasesValidator.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add Microsoft.Bcl.AsyncInterfaces package reference for netstandard2.0
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix BDN 0.16.0 async validators to avoid deadlock with BDN SynchronizationContext
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/MandatoryCategoryValidator.cs
  src/harness/BenchmarkDotNet.Extensions/NoWasmValidator.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/SyncAsyncEnumerable.cs
  src/harness/BenchmarkDotNet.Extensions/TooManyTestCasesValidator.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add coverage for ResultsComparer and CLI helpers
  src/harness/BenchmarkDotNet.Extensions/CommandLineOptions.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/CommandLineOptionsTests.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/PartitionFilterTests.cs
  src/tools/Reporting/Reporting.Tests/Reporting.Tests.csproj
  src/tools/ResultsComparer.Tests/DataTests.cs
  src/tools/ResultsComparer.Tests/HelperTests.cs
  src/tools/ResultsComparer.Tests/ProgramTests.cs
  src/tools/ResultsComparer.Tests/ResultsComparer.Tests.csproj
  src/tools/ResultsComparer.Tests/ResultsComparerTestData.cs
  src/tools/ResultsComparer.Tests/StatsTests.cs
  src/tools/ResultsComparer/Data.cs
  src/tools/ResultsComparer/Program.cs
  src/tools/ResultsComparer/Properties/AssemblyInfo.cs
  src/tools/ResultsComparer/ResultsComparer.sln
  src/tools/ResultsComparer/TwoInputsComparer.cs
  src/tools/ScenarioMeasurement/Startup.Tests/StartupTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix microbenchmark local run defaults
  docs/benchmarkdotnet.md
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Simplify microbenchmark TFM gating
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove redundant immutable package pin
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Tighten PR feedback follow-ups
  docs/benchmarkdotnet.md
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Document opt-in net472 references
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add wasm and core cl rr2r builds to per commit builds (#5191)
  eng/pipelines/runtime-perf-build-jobs.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Restore test projects to net11.0
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
  src/tools/Reporting/Reporting.Tests/Reporting.Tests.csproj
  src/tools/ResultsComparer.Tests/ResultsComparer.Tests.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address PR review feedback
  src/tools/ResultsComparer.Tests/ConsoleOutputCollection.cs
  src/tools/ResultsComparer.Tests/ProgramTests.cs
  src/tools/ResultsComparer.Tests/StatsTests.cs
  src/tools/ResultsComparer/Data.cs
  src/tools/ResultsComparer/MultipleInputsComparer.cs
  src/tools/ResultsComparer/Stats.cs
  src/tools/ResultsComparer/TwoInputsComparer.cs
Due: azure-pipelines.yml

Clarify benchmark SDK requirements
  docs/benchmarkdotnet.md
Due: none

Add some CopyTo tests for Span (#5032)
  src/benchmarks/micro/libraries/System.Memory/Span.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add benchmarks for ordered dictionary
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Collections/Add/AddGivenSize.cs
  src/benchmarks/micro/libraries/System.Collections/Add/TryAddDefaultSize.cs
  src/benchmarks/micro/libraries/System.Collections/Add/TryAddGivenSize.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsKeyFalse.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsKeyTrue.cs
  src/benchmarks/micro/libraries/System.Collections/Create/CtorDefaultSize.cs
  src/benchmarks/micro/libraries/System.Collections/Create/CtorFromCollection.cs
  src/benchmarks/micro/libraries/System.Collections/Create/CtorGivenSize.cs
  src/benchmarks/micro/libraries/System.Collections/CreateAddAndClear.cs
  src/benchmarks/micro/libraries/System.Collections/CreateAddAndRemove.cs
  src/benchmarks/micro/libraries/System.Collections/Indexer/IndexerSet.cs
  src/benchmarks/micro/libraries/System.Collections/Iterate/IterateFor.cs
  src/benchmarks/micro/libraries/System.Collections/Iterate/IterateForEach.cs
  src/benchmarks/micro/libraries/System.Collections/OrderedDictionary/Perf_OrderedDictionary.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

initialize dictionary in benchmark
  src/benchmarks/micro/libraries/System.Collections/OrderedDictionary/Perf_OrderedDictionary.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Wrap Index microbenchmark in a preprocessor
  src/benchmarks/micro/libraries/System.Linq/Perf.Enumerable.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Rename microbenchmark for clarity
  src/benchmarks/micro/libraries/System.Linq/Perf.Enumerable.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Swap Index's argument source to IEnumerableArgument
  src/benchmarks/micro/libraries/System.Linq/Perf.Enumerable.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove temporary workload pin — restore dynamic NuGet feed resolution
  src/scenarios/mauiiosinnerloop/pre.py
Due: azure-pipelines.yml
