Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - release/7.0
    always: true
  jobs:
  - ${{ if or(eq(variables['System.TeamProject'], 'public'), parameters.runPublicJobs) }}:
    - template: /eng/performance/build_machine_matrix.yml
      parameters:
  ...

Use the Maestro versions.
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Use the Maestro versions. (#3175)
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Disable Maestro for linker stuff
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Disable Maestro for linker stuff (#3188)
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Cleanup of Versions from Maestro.
  eng/Version.Details.xml
  eng/Versions.props
  scripts/parse_props.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

More partitions to prevent NativeAOT micro benchmarks OOM
  eng/performance/helix.proj
Due: azure-pipelines-micro.yml

Fix ILLink packages
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Add `BinaryReader` benchmarks et. al. (#3114)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.IO/BinaryReaderTests.cs
  src/benchmarks/micro/libraries/System.IO/BinaryWriterTests.cs
  src/benchmarks/micro/libraries/System.IO/DummyReadStream.cs
Due: azure-pipelines-micro.yml

More partitions to prevent NativeAOT micro benchmarks OOM (#3172)
  eng/performance/helix.proj
Due: azure-pipelines-micro.yml

Cleanup tool build changes (#3179)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Cleanup of Versions from Maestro. (#3197)
  eng/Version.Details.xml
  eng/Versions.props
  scripts/parse_props.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Fix ILLink packages (#3199)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Switch pwsh to powershell.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Added build args and some benchmark run args for the added WasmWasm RunType.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Increase Sorting invocations per iteration
  src/benchmarks/micro/runtime/Span/Sorting.cs
Due: azure-pipelines-micro.yml

Avoid benchmarking cached IPAddress ToString
  src/benchmarks/micro/libraries/System.Net.Primitives/IPAddressPerformanceTests.cs
Due: azure-pipelines-micro.yml

Increase Sorting invocations per iteration (#3202)
  src/benchmarks/micro/runtime/Span/Sorting.cs
Due: azure-pipelines-micro.yml

Avoid benchmarking cached IPAddress ToString (#3203)
  src/benchmarks/micro/libraries/System.Net.Primitives/IPAddressPerformanceTests.cs
Due: azure-pipelines-micro.yml

Temporarily increase timeouts for perf jobs, because of limited capacity in "ubuntu.1804.amd64.tiger.perf" queue.
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Temporarily increase timeouts for perf jobs, because of limited capacity in "ubuntu.1804.amd64.tiger.perf" queue. (#3205)
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

add tests for ReceiveFrom and SendTo
  src/benchmarks/micro/libraries/System.Net.Sockets/Perf.Socket.cs
Due: azure-pipelines-micro.yml

Revert "Cleanup tool build changes (#3179)"
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Setup testing.
  azure-pipelines.yml
Due: none

Revert "Setup testing."
  azure-pipelines.yml
Due: none

Revert https://github.com/dotnet/performance/commit/860d6a17d0c17592e2f4d803038d99969f3d8778 (#3222)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Remove release/7.0 branch temporarily
  azure-pipelines.yml
  src/benchmarks/micro/out.txt
Due: azure-pipelines-micro.yml

wip work
  eng/performance/Scenarios.Common.props
  helix.yml
  scripts/ci_setup.py
  scripts/performance/common.py
  scripts/performance_setup.py
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml

Remove release/7.0 branch temporarily (#3225)
  azure-pipelines.yml
  src/benchmarks/micro/out.txt
Due: azure-pipelines-micro.yml

last tweaks for today
  eng/performance/Scenarios.Common.props
  eng/performance/helix.proj
  helix.yml
  scripts/benchmarks_ci.py
  scripts/run_performance_job.py
  scripts/send_to_helix.py
  scripts/upload.py
Due: azure-pipelines-micro.yml

Add additional setup steps for the runtimes for each run.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add prereqs section, fix EMSDK_PATH setting, fix provision name.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Make sure directories are made for file copy.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Mitigate WasmWasm commit issue due to now have a way to run multiple wasm benchmarks at once.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add consistent dotnet instance so that tools (wasm-tools, etc.) can be installed and then passed into BDN.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add wasmsdk tool install for WasmWasm runs.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

More bug fixes and work towards scenarios support
  eng/performance/Scenarios.Common.props
  eng/performance/scenarios.proj
  helix.yml
  scripts/ci_setup.py
  scripts/dotnet.py
  scripts/performance_setup.py
  scripts/run_performance_job.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

Ensure python 3.10 is used in the pipeline
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Remove unused args from ci_setup
  scripts/ci_setup.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Cleanup some comments.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Fix workload being installed.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
