Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Fixed documentation
  docs/microbenchmark-design-guidelines.md
Due: none

Fix compilation errors in AlignedMemory On newer platforms, the NativeMemory.AlignedAlloc wants UIntPtr not uint arguments
  src/benchmarks/micro/libraries/Common/AlignedMemory.cs
Due: azure-pipelines-micro.yml

Add support for decimals in ValuesGenerator. (#2547)
  docs/microbenchmark-design-guidelines.md
  src/benchmarks/micro/libraries/Common/AlignedMemory.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/UniqueValuesGeneratorTests.cs
Due: azure-pipelines-micro.yml

First step in secret management
  .config/dotnet-tools.json
  .config/settings.json
  .vault-config/dotnet-perf-keyvault.yaml
Due: none

Add a new flag to ResultsComparer to prevent the Base and Diff columns from being created.
  src/tools/ResultsComparer/MultipleInputsComparer.cs
  src/tools/ResultsComparer/MultipleInputsOptions.cs
  src/tools/ResultsComparer/Program.cs
Due: none

Fix compile errors
  src/tools/ResultsComparer/MultipleInputsComparer.cs
  src/tools/ResultsComparer/Program.cs
Due: none

add binary xml version to xml benchmarks
  src/benchmarks/micro/Serializers/Xml_FromStream.cs
  src/benchmarks/micro/Serializers/Xml_ToStream.cs
Due: azure-pipelines-micro.yml

fix indentation
  src/benchmarks/micro/Serializers/Xml_FromStream.cs
Due: azure-pipelines-micro.yml

Fix more compiler errors
  src/tools/ResultsComparer/MultipleInputsComparer.cs
Due: none

Remove ImageMagick benchmarks
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeTga.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeWebp.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeTga.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeTiff.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeWebp.cs
  src/benchmarks/real-world/ImageSharp/LoadResizeSave/LoadResizeSaveStressRunner.cs
Due: azure-pipelines-micro.yml

Remove benchmark for Colorful
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToCieLabConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToHunterLabConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToLmsConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToRgbConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/RgbWorkingSpaceAdapt.cs
Due: azure-pipelines-micro.yml

Remove System.Drawing
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeBmp.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeGif.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodePng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeTiff.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeBmp.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeGif.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodePng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/DecodeJpeg_Aggregate.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/DecodeJpeg_ImageSpecific.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/EncodeJpeg.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/LoadResizeSave_ImageSpecific.cs
  src/benchmarks/real-world/ImageSharp/Codecs/MultiImageBenchmarkBase.cs
  src/benchmarks/real-world/ImageSharp/General/GetSetPixel.cs
Due: azure-pipelines-micro.yml

Remove some other benchmarks
  src/benchmarks/real-world/ImageSharp/Format/Jpeg/Components/Encoder/YCbCrForwardConverterBenchmark.cs
  src/benchmarks/real-world/ImageSharp/General/Adler32Benchmark.cs
  src/benchmarks/real-world/ImageSharp/General/Crc32Benchmark.cs
  src/benchmarks/real-world/ImageSharp/General/IO/BufferedStreams.cs
  src/benchmarks/real-world/ImageSharp/LoadResizeSave/LoadResizeSaveStressRunner.cs
Due: azure-pipelines-micro.yml

Copy TestUtilities
  src/benchmarks/real-world/ImageSharp/TestUtilities/TestDataGenerator.cs
  src/benchmarks/real-world/ImageSharp/TestUtilities/TestEnvironment.cs
  src/benchmarks/real-world/ImageSharp/TestUtilities/TestImages.cs
Due: azure-pipelines-micro.yml

Fix categories
  src/benchmarks/real-world/ImageSharp/ImageSharp.Benchmarks.csproj
  src/benchmarks/real-world/ImageSharp/Program.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Remove unneeded benchmarks:
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeTga.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeBmp.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeBmpMultiple.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeGif.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeGifMultiple.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodePng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/CmykColorConversion.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/ColorConversionBenchmark.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/DecodeJpeg_ImageSpecific.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/EncodeJpeg.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/EncodeJpegMultiple.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/GrayscaleColorConversion.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/LoadResizeSave_Aggregate.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/YccKColorConverter.cs
  src/benchmarks/real-world/ImageSharp/Codecs/MultiImageBenchmarkBase.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorEquality.cs
  src/benchmarks/real-world/ImageSharp/General/Array2D.cs
  src/benchmarks/real-world/ImageSharp/General/GetSetPixel.cs
  src/benchmarks/real-world/ImageSharp/LoadResizeSave/LoadResizeSaveStressBenchmarks.cs
  src/benchmarks/real-world/ImageSharp/LoadResizeSave/LoadResizeSaveStressRunner.cs
  src/benchmarks/real-world/ImageSharp/Processing/Crop.cs
Due: azure-pipelines-micro.yml

Remove Config files
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeBmp.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeFilteredPng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeGif.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodePng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeTga.cs
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeTiff.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeBmp.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeBmpMultiple.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeGif.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeGifMultiple.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeIndexedPng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodePng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeTga.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/DecodeJpeg_Aggregate.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/DecodeJpeg_ImageSpecific.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/EncodeJpegMultiple.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/IdentifyJpeg.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/LoadResizeSave_Aggregate.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/LoadResizeSave_ImageSpecific.cs
  src/benchmarks/real-world/ImageSharp/Config.HwIntrinsics.cs
  src/benchmarks/real-world/ImageSharp/Config.cs
  src/benchmarks/real-world/ImageSharp/General/CopyBuffers.cs
  src/benchmarks/real-world/ImageSharp/General/Vectorization/UInt32ToSingle.cs
  src/benchmarks/real-world/ImageSharp/General/Vectorization/WidenBytesToUInt32.cs
  src/benchmarks/real-world/ImageSharp/Processing/BokehBlur.cs
  src/benchmarks/real-world/ImageSharp/Processing/Crop.cs
  src/benchmarks/real-world/ImageSharp/Processing/DetectEdges.cs
  src/benchmarks/real-world/ImageSharp/Processing/Diffuse.cs
  src/benchmarks/real-world/ImageSharp/Processing/GaussianBlur.cs
  src/benchmarks/real-world/ImageSharp/Processing/HistogramEqualization.cs
  src/benchmarks/real-world/ImageSharp/Processing/Resize.cs
  src/benchmarks/real-world/ImageSharp/Processing/Rotate.cs
  src/benchmarks/real-world/ImageSharp/Processing/Skew.cs
Due: azure-pipelines-micro.yml

Delete SIMD based divide/multiply for now:
  src/benchmarks/real-world/ImageSharp/General/Vectorization/Divide.cs
  src/benchmarks/real-world/ImageSharp/General/Vectorization/Multiply.cs
  src/benchmarks/real-world/ImageSharp/General/Vectorization/SIMDBenchmarkBase.cs
  src/benchmarks/real-world/ImageSharp/Program.cs
Due: azure-pipelines-micro.yml

Delete one more benchmark
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeTiff.cs
Due: azure-pipelines-micro.yml

Add reflection invoke benchmarks
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Use fixed date for benchmarks instead of UtcNow
  src/benchmarks/micro/libraries/System.Runtime/Perf.DateTime.cs
Due: azure-pipelines-micro.yml

Update BDN version
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Fix dispose implementation
  src/benchmarks/micro/Serializers/Xml_FromStream.cs
  src/benchmarks/micro/Serializers/Xml_ToStream.cs
Due: azure-pipelines-micro.yml

Fixes https://github.com/dotnet/performance/issues/2444
  src/benchmarks/gc/src/exec/env/get_host_info.cpp
Due: azure-pipelines-gc.yml

Fixes https://github.com/dotnet/performance/issues/2444 (#2566)
  src/benchmarks/gc/src/exec/env/get_host_info.cpp
Due: azure-pipelines-gc.yml

Update BDN version (#2565)
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Benchmarks for DateTime`.Day`/`.Month`/`.Year`/`.DayOfYear` (#2549)
  src/benchmarks/micro/libraries/System.Runtime/Perf.DateTime.cs
Due: azure-pipelines-micro.yml

Fixup Brotli compression tests
  src/benchmarks/micro/libraries/System.IO.Compression/Brotli.cs
  src/benchmarks/micro/libraries/System.IO.Compression/CompressionStreamPerfTestBase.cs
Due: azure-pipelines-micro.yml

Add weekly trigger for secrets update
  .vault-config/dotnet-perf-keyvault.yaml
  azure-pipelines.yml
Due: none

PR feedback
  .config/settings.json
  azure-pipelines.yml
Due: none

First step in secret management (#2556)
  .config/dotnet-tools.json
  .config/settings.json
  .vault-config/dotnet-perf-keyvault.yaml
  azure-pipelines.yml
Due: none

Fix SasAutoFiler secret
  .vault-config/dotnet-perf-keyvault.yaml
Due: none

Change time for testing
  azure-pipelines.yml
Due: none

Fix secret error (#2568)
  .vault-config/dotnet-perf-keyvault.yaml
  azure-pipelines.yml
Due: none

Adjust timer and fix indent
  azure-pipelines.yml
Due: none
