Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/sdk-perf-jobs.yml
    parameters:
  ...

Remove schedule for release/6.0 branch (#4762)
  azure-pipelines.yml
Due: azure-pipelines.yml

Add benchmarks for ZipFile Create and Extract. Add an extra test zip file containing the files inside the existing TestData folder.
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.IO.Compression/TestInputZipFile.zip
  src/benchmarks/micro/libraries/System.IO.Compression/ZipFileTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert the temporary ignoring of NU1510 which is causing an error on pruning dependencies.
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[prototype] setup dotnet new android measurements
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "First pass at adding perfetto support for the android runs for local testing. Still need to add copy of the file to the upload dir if running in helix."
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

naming unified + buildConfiguration renamed to buildType as buildConfiguration is already a well known term that refers to whether it is compiled in Release or Debug
  eng/pipelines/register-build-jobs.yml
  eng/pipelines/runtime-perf-build-jobs.yml
  eng/pipelines/templates/register-build-job.yml
  eng/pipelines/templates/upload-build-artifacts-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

new perf builds pipeline (#4750)
  eng/pipelines/register-build-jobs.yml
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/runtime-perf-build-jobs.yml
  eng/pipelines/templates/register-build-job.yml
  eng/pipelines/templates/upload-build-artifacts-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fixed malformed link
  docs/README.md
Due: none

Remove rpolayout remnant
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fixed malformed link (#4771)
  docs/README.md
Due: none

Remove rpolayout remnant (#4773)
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

First pass at adding perfetto support for the android runs for local testing. Still need to add copy of the file to the upload dir if running in helix.
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

add perfetto config
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Cleanup for PR.
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Refactor setup of Android performance testing - Use latest .NET sdk and Android SDK from dotnet10 feed - Setup `dotnet new android` for CoreCLR
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Make sure to reset persist.trace.enable if necessary.
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Add perfetto to android-startup-scenarios doc.
  docs/android-startup-scenarios.md
Due: none

add arm64 support to init.sh and extend util.py
  src/scenarios/init.sh
  src/scenarios/shared/util.py
Due: azure-pipelines.yml

remove unused function + add comments
  scripts/run_performance_job.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Accept both ActivityManager and ActivityTaskManager as reports for TTID and TTFD
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

add cpu & verbose config type for linux tracing
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
Due: none

add x86 get_cpu_architecture support
  src/scenarios/init.sh
Due: azure-pipelines.yml

Add perfetto pkills to make sure perfetto is not running before we start and to kill as a finally command if we failed before the normal kill spot.
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

remove conditional compilation
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/GC.Infrastructure.Core.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
Due: none

Update src/scenarios/shared/util.py
  src/scenarios/shared/util.py
Due: azure-pipelines.yml

Add Android Startup Perfetto trace support (#4776)
  docs/android-startup-scenarios.md
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Add arm64 support for scenarios scripts (#4778)
  src/scenarios/init.sh
  src/scenarios/shared/util.py
Due: azure-pipelines.yml

Ensure binlogs are copied to helix root + don't upload combined report json to perf lab
  scripts/benchmarks_ci.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Put binlogs in root rather than folder
  scripts/benchmarks_ci.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Ensure binlogs are copied to helix root and don't upload combined report to perf lab (#4795)
  scripts/benchmarks_ci.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add GCTool Command to GC Infra
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuite.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/CommandLineTool.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/DotNet.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/DotNetApp.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TaskRunner/ReliabilityFrameworkTest/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/TestingScript.ps1.txt
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/TestingScript.sh.txt
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/finalization.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/loh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/non_induced.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/poh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

add RF create suite config file.
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFrameworkTestCreateSuite.yaml
Due: none

Code perfection
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/CommandLineTool.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/DotNet.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/DotNetApp.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TaskRunner/ReliabilityFrameworkTest/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
Due: none

Code perfection
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestCreateTestSuite.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/CommandLineTool.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/Common.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/DotNet.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Functionality/DotNetApp.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Utilities.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
Due: none

Format optimization
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/finalization.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/loh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/poh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
Due: none

upload latest build template added + cleanups
  eng/pipelines/templates/register-build-job.yml
  eng/pipelines/upload-latest-build.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Modify parameter
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
Due: none

upload ReliabilityFrameworkTestCreateSuite.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFrameworkTestCreateSuite.yaml
Due: none

AddCreateTestSuiteCommandToGCInfra
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestCreateTestSuite.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Utilities.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/TestingScript.ps1.txt
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/TestingScript.sh.txt
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/finalization.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/loh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/non_induced.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/poh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
