Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - release/6.0
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 22H2
  ...

Fix prerequisites script building
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix wasm args building
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix directory creation and prevent pip reinstalls
  scripts/ci_setup.py
  scripts/dotnet.py
  scripts/performance/common.py
  scripts/performance/logger.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix trailing space on wasm args
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

[maui] track workload versions with Maestro
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Add Maui Versions to Version.Details.xml for the mainline maui versions.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

More various fixes
  scripts/ci_setup.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

WIP Continue: Switched to using local Version.Details.xml for the workload version, but still working on figuring out a good solution for the band version.
  src/scenarios/shared/mauisharedpython.py
Due: none

Fix file copy into root
  scripts/ci_setup.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fixed notebooks for Dynamic Events
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/GCDynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/DataManager.dib
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

Reverted to default
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
Due: none

Fix FailOnTestFailure value
  eng/performance/helix.proj
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml

Add zip file of BenchmarkDotNet.Artifacts directory to Helix Upload Root (#4325)
  scripts/benchmarks_ci.py
Due: azure-pipelines-micro.yml

Use managed identity to download PDN
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Make dir before downloading
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Update docs
  docs/benchmarking-workflow-dotnet-runtime.md
  scripts/benchmarks_local.py
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Due: azure-pipelines-micro.yml

[release/7.0] Use managed identity to download PDN (#4331)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Revert "[release/7.0] Use managed identity to download PDN (#4331)"
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Revert "[release/7.0] Use managed identity to download PDN (#4331)" (#4334)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Revert "Revert "[release/7.0] Use managed identity to download PDN (#4331)" (…"
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Add OpenTelemetry capabilities to python scripts (#4063)
  scripts/benchmarks_ci.py
  scripts/ci_setup.py
  scripts/dotnet.py
  scripts/micro_benchmarks.py
  scripts/performance/logger.py
  scripts/performance/tracer.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Recommit: [release/7.0] Use managed identity to download PDN
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

add blank lines
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

minor change
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

update doc as per markdown linting rules
  eng/common/template-guidance.md
Due: azure-pipelines-micro.yml

Switch to using Version.Details.xml to determine which version to use for maui rollback file generation, matching either default (generated from sdk version) or a hardcoded version.
  eng/Version.Details.xml
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Update how we get the version from the azure-pipelines.yml for 9.0 maui and update 8.0 maui to not use a specific version at all.
  azure-pipelines.yml
  scripts/run_performance_job.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml

Attempt to fix pipeline error.
  azure-pipelines.yml
Due: none

Setup testing.
  azure-pipelines.yml
Due: none

Use correct python executable inside venv
  scripts/run_performance_job.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/util.py
Due: azure-pipelines-micro.yml

Put "echo on" on windows, not linux
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Addressed feedback.
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/GCDynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

Use correct python executable inside venv for perf tests on Windows (#4339)
  scripts/run_performance_job.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/util.py
Due: azure-pipelines-micro.yml

Revert "Setup testing."
  azure-pipelines.yml
Due: none

Use net8.0 for scenarios libraries
  .vscode/settings.json
  src/tools/ScenarioMeasurement/Directory.Build.props
Due: none

Fixed notebooks for Dynamic Events and included them in the API (#4330)
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/GCDynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/Notebooks/DataManager.dib
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

Remove unnecessary mono rollback entries and added a printout of the rollback to make viewing it during a run easier.
  src/scenarios/shared/mauisharedpython.py
Due: none

Use net8.0 for scenarios libraries (#4342)
  .vscode/settings.json
  src/tools/ScenarioMeasurement/Directory.Build.props
Due: none

Enable log verbosity on seutp build commands
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Use ubuntu-latest for ubuntu-arm64-ampere
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
