Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

Fix ident
  src/scenarios/mauiios/pre.py
Due: azure-pipelines.yml

Update to use AsmResolver Dev branch.
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update to use BDN before potential break.
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Third times the charm.
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

...
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

.6
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Handle case of null BytesAllocatedPerOperation in the json
  src/tools/ResultsComparer/DataTransferContracts.cs
  src/tools/ResultsComparer/MultipleInputsComparer.cs
Due: azure-pipelines.yml

Handle case of null BytesAllocatedPerOperation in the json (#5074)
  src/tools/ResultsComparer/DataTransferContracts.cs
  src/tools/ResultsComparer/MultipleInputsComparer.cs
Due: azure-pipelines.yml

Fix Windows Helix work item exit code and prerequisite error handling
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

If we would use the python version 3.13t, don't, instead use the non-thread-free version so we can successfully install all of the windows packages.
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup testing.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Try running without any semicolons to prevent line breaks.
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Setup testing."
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update MAUI iOS samples to .NET 11 workloads and add CoreCLR interpreter support (#5030)
  eng/Version.Details.xml
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
  scripts/channel_map.py
  scripts/dotnet.py
  scripts/run_performance_job.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Don't use thread-free python version 3.13t on Windows (#5077)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add set PYTHONPATH as its own line
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix Windows Helix work item exit code and prerequisite error handling (#5075)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add bootstrap authentication for CertHelper using client.pem from HELIX_CONFIG_ROOT
  src/tools/CertHelper/Constants.cs
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/LocalCert.cs
  src/tools/CertHelperTests/CertRotatorTests.csproj
  src/tools/CertHelperTests/KeyVaultCertTests.cs
  src/tools/CertHelperTests/LocalCertTests.cs
Due: azure-pipelines.yml

Add bootstrap authentication for CertHelper using client.pem from HELIX_CONFIG_ROOT (#5078)
  src/tools/CertHelper/Constants.cs
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/LocalCert.cs
  src/tools/CertHelperTests/CertRotatorTests.csproj
  src/tools/CertHelperTests/KeyVaultCertTests.cs
  src/tools/CertHelperTests/LocalCertTests.cs
Due: azure-pipelines.yml

Fix command syntax for creating virtual environment
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix command syntax for creating virtual environment (#5082)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Modify unique name generation in upload.py
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Delete scripts/tests/test_benchmarks_ci.py
  scripts/tests/test_benchmarks_ci.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Modify unique name generation in upload.py (#5083)
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Avoid duplicate file copies when artifacts or binlogs directories are within Helix upload root (#5084)
  scripts/benchmarks_ci.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Capitalize Debug (debug -> Debug)
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add banner for non-release build config
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Simplify non-release build banner generation
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add azurelinux3.cobalt.arm64.perf queue to dotnet perf slow pipeline and private sdk testing runs.
  eng/pipelines/runtime-slow-perf-jobs.yml
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add missed job.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add more missing jobs.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup sdk testing.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove nativeaot_scenario sdk jobs as they would need to cross compile.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Testing change
  eng/pipelines/runtime-slow-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the install_prerequisites information for tdnf.
  eng/performance/Scenarios.Common.props
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Test
  eng/pipelines/runtime-slow-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add osDistro argument for AL3
  eng/pipelines/runtime-slow-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add Maui Nuget config to mobile scenarios that install maui but build android/ios projects so they succeed in installing Maui as well.
  src/scenarios/netandroid/pre.py
  src/scenarios/netios/pre.py
Due: azure-pipelines.yml

Fix CertHelper to write diagnostics to stderr instead of stdout
  src/tools/CertHelper/KeyVaultCert.cs
  src/tools/CertHelper/Program.cs
Due: azure-pipelines.yml

Fix blaozr pizza app breaking change.
  src/scenarios/blazorpizza/src/BlazingPizza.Client/Shared/LoginDisplay.razor
  src/scenarios/blazorpizza/src/BlazingPizza.Client/Shared/LoginDisplay.razor.cs
  src/scenarios/blazorpizzaaot/src/BlazingPizza.Client/Shared/LoginDisplay.razor
  src/scenarios/blazorpizzaaot/src/BlazingPizza.Client/Shared/LoginDisplay.razor.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
