Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml

Snapshot semiworking but kinda broken pre.py that builds for later investigation.
  src/scenarios/bdnandroid/precreate.py
Due: none

Snapshot of working with app, starting to add json EnvVar replacement.
  src/scenarios/bdnandroid/precreate.py
  src/scenarios/bdnandroid/test.py
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
Due: none

Try using xharnesscommand one more time.
  src/scenarios/shared/androidinstrumentation.py
Due: none

Revert "Try using xharnesscommand one more time."
  src/scenarios/shared/androidinstrumentation.py
Due: none

Try installing with adb rather than xharness.
  src/scenarios/shared/androidinstrumentation.py
Due: none

Make the PerfLabExporter public to allow BDN runs not using the recommended config to be able to use the exporter (specifically android in this case.
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
Due: azure-pipelines-micro.yml

App is building, now debug testing failures.
  src/scenarios/shared/androidinstrumentation.py
Due: none

Move the android instrumentation run/test work to a python helper file to more closely match the other normal scenarios wrapper setup.
  src/scenarios/shared/androidinstrumentation.py
  src/scenarios/shared/runner.py
Due: none

Use safer retrieval of the environment variables for the report json refactoring step.
  src/scenarios/shared/androidinstrumentation.py
Due: none

Remove unused precreate.py file and performance benchmark run.
  azure-pipelines.yml
  src/scenarios/bdnandroid/precreate.py
Due: none

Update CrankConfiguration.yaml
  src/benchmarks/gc/scenarios/CrankConfiguration.yaml
Due: none

Block AddContext to net6.0 and net7.0, and use TypeInfoResolver for Net8.0+. (#2954)
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/ColdStartSerialization.cs
Due: azure-pipelines-micro.yml

Move mobile iOS Maui scenarios to perf repo (#2942)
  azure-pipelines.yml
  eng/Versions.props
  eng/performance/build_machine_matrix.yml
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiios/test.py
  src/scenarios/mauiiospodcast/post.py
  src/scenarios/mauiiospodcast/pre.py
  src/scenarios/mauiiospodcast/test.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml

Use default analyzer loader in Roslyn benchmarks (#2952)
  src/benchmarks/real-world/Roslyn/CompilerBenchmarks.csproj
  src/benchmarks/real-world/Roslyn/CoreClrAnalyzerAssemblyLoader.cs
  src/benchmarks/real-world/Roslyn/Helpers.cs
  src/benchmarks/real-world/Roslyn/StageBenchmarks.cs
Due: azure-pipelines-micro.yml

Added new build machine and specification for pixel and galaxy, and setup test for the galaxy queue.
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Fixed issue with tc and added more scenarios
  src/benchmarks/gc/scenarios/CrankConfiguration.yaml
Due: none

Fix syntax error.
  src/benchmarks/gc/scenarios/CrankConfiguration.yaml
Due: none

Move mobile iOS Maui scenarios to perf repo (Release7.0) (#2942)
  azure-pipelines.yml
  eng/Versions.props
  eng/performance/build_machine_matrix.yml
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiios/test.py
  src/scenarios/mauiiospodcast/post.py
  src/scenarios/mauiiospodcast/pre.py
  src/scenarios/mauiiospodcast/test.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml

Backport mauiMobile testing to net6.0 branch.
  azure-pipelines.yml
  eng/Versions.props
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  src/scenarios/mauiblazorios/post.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiblazorios/test.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiiospodcast/post.py
  src/scenarios/mauiiospodcast/pre.py
  src/scenarios/mauiiospodcast/test.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml

Add MauiiOS to manual runs for testing.
  azure-pipelines.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Cleanup testing runs.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Skip sign check.
  src/scenarios/mauishared/mauisharedpython.py
  src/scenarios/shared/mauisharedpython.py
Due: none

Cleanup for PR.
  src/scenarios/shared/runner.py
Due: none

Remove MemoryConsumptionBuild and make all python using this file version skip sign check.
  eng/performance/scenarios.yml
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml

Add Datetime import.
  src/scenarios/shared/runner.py
Due: none

Add missing assignment for AndroidInstrumentation.
  src/scenarios/shared/runner.py
Due: none

Useful ToString for Counter class.
  src/tools/Reporting/Reporting/Counter.cs
Due: azure-pipelines-micro.yml

More precise SOD measurement for NativeAOT.
  src/scenarios/emptyconsolenativeaot/pre.py
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Useful ToString for Counter class. (#2959)
  src/tools/Reporting/Reporting/Counter.cs
Due: azure-pipelines-micro.yml

More precise SOD measurement for NativeAOT. (#2960)
  src/scenarios/emptyconsolenativeaot/pre.py
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Add Android BenchmarkDotnet Scenario (#2955)
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/scenarios/bdnandroid/post.py
  src/scenarios/bdnandroid/pre.py
  src/scenarios/bdnandroid/test.py
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/androidinstrumentation.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml

Updated tagb to 500gb
  src/benchmarks/gc/scenarios/CrankConfiguration.yaml
Due: none

Update CrankConfiguration.yaml (#2956)
  src/benchmarks/gc/scenarios/CrankConfiguration.yaml
Due: none

Fix runner.py iOS functionality.
  src/scenarios/shared/runner.py
Due: none

Do not include dbg (and pdb) files (though keep producing them to have vanilla experience) into final measurements.
  src/scenarios/emptyconsolenativeaot/pre.py
Due: none

Do not include dbg (and pdb) files (though keep producing them to have vanilla experience) into final measurements. (#2962)
  src/scenarios/emptyconsolenativeaot/pre.py
Due: none

Add helixworkitemroot as a callable function in common.py.
  scripts/performance/common.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml

Undo changes for testing.
  azure-pipelines.yml
Due: none

Add iOS Maui Mobile tests to release/6.0, backport of #2942 (#2966)
  azure-pipelines.yml
  eng/Versions.props
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  scripts/performance/common.py
  src/scenarios/mauiblazorios/post.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiblazorios/test.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiiospodcast/post.py
  src/scenarios/mauiiospodcast/pre.py
  src/scenarios/mauiiospodcast/test.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml

Enhanced comment describing -ramb option.
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml
