Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

[wasm] Use TrimMode=partial for microbenchmarks (#2853)
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Due: azure-pipelines-micro.yml

Remove earlier changes to be even with upstream repo.
  src/benchmarks/gc/gc.pyproj
  src/benchmarks/gc/gc.sln
Due: none

[Release/6.0] Update Windows Public Queues (#2852)
  azure-pipelines.yml
Due: none

Backport changes made to main for final version.
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiandroid/test.py
  src/scenarios/mauiandroidpodcast/pre.py
  src/scenarios/mauiandroidpodcast/test.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorandroid/test.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/versionmanager.py
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

[Release/7.0] Add Maui Mobile Android Benchmarks (#2789)
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
  eng/performance/maui_scenarios_android.proj
  scripts/dotnet.py
  src/scenarios/mauiandroidpodcast/post.py
  src/scenarios/mauiandroidpodcast/pre.py
  src/scenarios/mauiandroidpodcast/test.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorandroid/test.py
  src/scenarios/mauishared/mauisharedpython.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/versionmanager.py
  src/tools/Reporting/Reporting.Tests/EnvironmentProviderMock.cs
  src/tools/Reporting/Reporting.Tests/ReporterTests.cs
  src/tools/Reporting/Reporting/EnvironmentProvider.cs
  src/tools/Reporting/Reporting/IEnvironment.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Backport of the release/7.0 changes made to add maui android mobile to those runs: https://github.com/dotnet/performance/commit/f910fe509c80ee5acf7485b78149f43f569872f4.
  azure-pipelines.yml
  eng/performance/maui_scenarios_android.proj
  scripts/dotnet.py
  src/scenarios/mauiandroidpodcast/post.py
  src/scenarios/mauiandroidpodcast/pre.py
  src/scenarios/mauiandroidpodcast/test.py
  src/scenarios/mauiblazorandroid/post.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorandroid/test.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/versionmanager.py
  src/tools/Reporting/Reporting.Tests/EnvironmentProviderMock.cs
  src/tools/Reporting/Reporting.Tests/ReporterTests.cs
  src/tools/Reporting/Reporting/EnvironmentProvider.cs
  src/tools/Reporting/Reporting/IEnvironment.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Add testing run.
  azure-pipelines.yml
Due: none

Copy necessary target and property files to support pre scenario all in one building.
  azure-pipelines.yml
  eng/performance/PreparePayloadWorkItems.targets
  eng/performance/Scenarios.Common.props
  eng/performance/blazor_scenarios.proj
  eng/performance/maui_scenarios_android.proj
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
  eng/performance/sdk_scenarios.proj
  src/scenarios/shared/precommands.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml

Remove testing run and reenable sdk_scenarios that where disabled for testing.
  azure-pipelines.yml
Due: none

Add missing call to setup_loggers.
  src/scenarios/paintdotnet/test.py
Due: none

Install WebView on the testing machine, not CI.
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/test.py
Due: none

Add RestorePackagesPath.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Is NuGetPackageRoot even needed?
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Add RestorePackagesPath. (#2859)
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Add missing call to setup_loggers. (#2858)
  src/scenarios/paintdotnet/test.py
Due: none

Add missing call to setup_loggers. (#2856)
  src/scenarios/paintdotnet/test.py
Due: none

Install WebView on the testing machine, not CI. (#2851)
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/test.py
Due: none

Install WebView on the testing machine, not CI. (#2860)
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/test.py
Due: none

Initial files for empty console app with NativeAOT.
  eng/performance/scenarios.proj
  src/scenarios/emptyconsolenativeaot/post.py
  src/scenarios/emptyconsolenativeaot/pre.py
  src/scenarios/emptyconsolenativeaot/test.py
Due: azure-pipelines-micro.yml

Update scenarios.proj to use the prepare scenarios properly.
  eng/performance/scenarios.proj
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Fix maui desktop scenario runs and make it so that they do not uninstall maui since we prepare the runs in the cloud.
  src/scenarios/mauiblazordesktop/post.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/test.py
  src/scenarios/mauidesktop/post.py
Due: none

Remove dotnet packs before sending payloads to helix.
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Initial files for empty console app with NativeAOT. (#2854)
  eng/performance/scenarios.proj
  src/scenarios/emptyconsolenativeaot/post.py
  src/scenarios/emptyconsolenativeaot/pre.py
  src/scenarios/emptyconsolenativeaot/test.py
Due: azure-pipelines-micro.yml

Force Nuget.Config overwrite so xcopy doesn't prompt for overwrite.
  eng/performance/scenarios.yml
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/test.py
  src/scenarios/mauidesktop/test.py
Due: azure-pipelines-micro.yml

Add Windows Arm64 runs
  azure-pipelines.yml
Due: none

Add logger setup for pre-runner.py setup information.
  src/scenarios/mauiblazordesktop/test.py
  src/scenarios/mauidesktop/test.py
Due: none

Setup better testing.
  azure-pipelines.yml
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Revert "Setup better testing."
  azure-pipelines.yml
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Add Windows Arm64 runs (#2864)
  azure-pipelines.yml
Due: none

Split NativeAOT into its own kind.
  azure-pipelines.yml
  eng/performance/nativeaot_scenarios.proj
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Split NativeAOT into its own kind. (#2865)
  azure-pipelines.yml
  eng/performance/nativeaot_scenarios.proj
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

[Release/6.0] Add Mobile Android Maui Scenarios (#2855)
  azure-pipelines.yml
  eng/performance/PreparePayloadWorkItems.targets
  eng/performance/Scenarios.Common.props
  eng/performance/blazor_scenarios.proj
  eng/performance/maui_scenarios_android.proj
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
  eng/performance/sdk_scenarios.proj
  scripts/dotnet.py
  src/scenarios/mauiandroidpodcast/post.py
  src/scenarios/mauiandroidpodcast/pre.py
  src/scenarios/mauiandroidpodcast/test.py
  src/scenarios/mauiblazorandroid/post.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/mauiblazorandroid/test.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/test.py
  src/scenarios/mauidesktop/post.py
  src/scenarios/mauidesktop/test.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/versionmanager.py
  src/tools/Reporting/Reporting.Tests/EnvironmentProviderMock.cs
  src/tools/Reporting/Reporting.Tests/ReporterTests.cs
  src/tools/Reporting/Reporting/EnvironmentProvider.cs
  src/tools/Reporting/Reporting/IEnvironment.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Run ILLink only on x64 (post-fix after #2864)
  azure-pipelines.yml
Due: none

Initial version of simulating request processing in servers.
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.csproj
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.sln
Due: azure-pipelines-gc.yml

Run ILLink only on x64 (post-fix after #2864) (#2870)
  azure-pipelines.yml
Due: none

SOD formatting
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Fix link in README
  README.md
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
