Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Update iOS CoreCLR job to use Interpreter code generation
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update conditions
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix condition branch
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

refactor installation of maui workload + logging
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines.yml

Refactor installation of maui workload + logging (#4985)
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines.yml

Update Maui Dependencies to latest working.
  NuGet.config
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Setup testing.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update Directory.Build.props
  docs/Directory.Build.props
Due: none

Update iOS CoreCLR job dependency to use checked build configuration
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Quote `--filter` strings
  docs/benchmarkdotnet.md
  docs/benchmarking-workflow-dotnet-runtime.md
  docs/crank-to-helix-workflow.md
  docs/microbenchmark-design-guidelines.md
  scripts/BENCHMARKS_LOCAL_README.md
  src/benchmarks/micro/README.md
  src/benchmarks/real-world/PowerShell.Benchmarks/PowerShell.Benchmarks.csproj
  src/tools/ResultsComparer/README.md
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Amend comment for accuracy
  docs/benchmarkdotnet.md
Due: none

Disable failing markdownlint rules
  .markdownlint.json
  .markdownlint.jsonc
Due: azure-pipelines.yml

Update XCode version.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Try different xcode path.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address PR feedback
  scripts/ci_setup.py
  scripts/performance/tracer.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert "Setup testing."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Apply suggestions from code review
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable failing markdownlint rules (#4995)
  .markdownlint.json
  .markdownlint.jsonc
Due: azure-pipelines.yml

Fix markdownlint issues
  .markdownlint.jsonc
  docs/benchmarkdotnet.md
  src/benchmarks/gc/GC.Infrastructure/Notebooks/README.md
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: azure-pipelines.yml

Exclude files from `markdownlint` check
  .markdownlintignore
  reports/net9to10/README.md
  reports/net9to10/linux-arm64-ampere_improvement_report.md
  reports/net9to10/linux-arm64-ampere_regression_report.md
  reports/net9to10/linux-mono-tiger_improvement_report.md
  reports/net9to10/linux-mono-tiger_regression_report.md
  reports/net9to10/linux-monoaot-ampere_improvement_report.md
  reports/net9to10/linux-monoaot-ampere_regression_report.md
  reports/net9to10/linux-wasm-tiger_improvement_report.md
  reports/net9to10/linux-wasm-tiger_regression_report.md
  reports/net9to10/linux-wasmaot-viper_improvement_report.md
  reports/net9to10/linux-wasmaot-viper_regression_report.md
  reports/net9to10/linux-x64-tiger_improvement_report.md
  reports/net9to10/linux-x64-tiger_regression_report.md
  reports/net9to10/windows-x64-tiger_improvement_report.md
  reports/net9to10/windows-x64-tiger_regression_report.md
Due: azure-pipelines.yml

Refactor `markdownlint` workflow
  .github/workflows/markdownlint.yml
Due: azure-pipelines.yml

Update Maui Dependencies to latest working versions (#4991)
  NuGet.config
  eng/Version.Details.xml
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Implement benchmarks for runtime member info with the same parent class in a HashSet
  src/benchmarks/micro/runtime/System.Reflection/RuntimeEventInfo.cs
  src/benchmarks/micro/runtime/System.Reflection/RuntimeFieldInfo.cs
  src/benchmarks/micro/runtime/System.Reflection/RuntimeMethodInfo.cs
  src/benchmarks/micro/runtime/System.Reflection/RuntimePropertyInfo.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Ensure the dynamic assembly can be unloaded and the hashset is returned to prevent dead code elimination
  src/benchmarks/micro/runtime/System.Reflection/RuntimeEventInfo.cs
  src/benchmarks/micro/runtime/System.Reflection/RuntimeFieldInfo.cs
  src/benchmarks/micro/runtime/System.Reflection/RuntimeMethodInfo.cs
  src/benchmarks/micro/runtime/System.Reflection/RuntimePropertyInfo.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove unnecessary using directive
  src/benchmarks/micro/runtime/System.Reflection/RuntimeMethodInfo.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

enable NativeAOT for all MAUI scenarios
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

keep blazor disabled
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Improve Performance of SVE microbenchmarks (#4973)
  src/benchmarks/micro/sve/Partition.cs
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Run iOS performance measurements on CoreCLR (#4984)
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Enable Android NativeAOT MAUI runs (#5000)
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable tests that consistently fail in the VM queues for performance-ci runs, but keep them for internal runs.
  eng/performance/scenarios.proj
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

.NET projects cleanup + set minimum dependency to net472 for microbenchmarks (#4982)
  eng/pipelines/sdk-perf-jobs.yml
  scripts/channel_map.py
  scripts/run_performance_job.py
  src/Directory.Build.props
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/README.md
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/ExclusionFilter.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/PartitionFilterTests.cs
  src/tools/CertHelperTests/CertRotatorTests.csproj
  src/tools/Reporting/Reporting.Tests/Reporting.Tests.csproj
  src/tools/Reporting/Reporting/Build.cs
  src/tools/Reporting/Reporting/Counter.cs
  src/tools/Reporting/Reporting/Os.cs
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/Reporting/Reporting/Reporting.csproj
  src/tools/Reporting/Reporting/Run.cs
  src/tools/Reporting/Reporting/Test.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Revert get_msbuild_property, add pyrightconfig.json
  .vscode/settings.json
  pyrightconfig.json
  scripts/benchmarks_local.py
  scripts/build_runtime_payload.py
  scripts/performance/common.py
  scripts/performance/tracer.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix tracer errors
  pyrightconfig.json
  scripts/performance/logger.py
  scripts/performance/tracer.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable tests that consistently fail in the VM queues for performance-ci runs, but keep them for internal runs. (#5001)
  eng/performance/scenarios.proj
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Python warning + code cleanup (#4981)
  .vscode/settings.json
  pyrightconfig.json
  requirements.txt
  scripts/benchmarks_ci.py
  scripts/benchmarks_local.py
  scripts/benchmarks_monthly.py
  scripts/benchmarks_monthly_upload.py
  scripts/build_runtime_payload.py
  scripts/channel_map.py
  scripts/ci_setup.py
  scripts/dotnet.py
  scripts/micro_benchmarks.py
  scripts/performance/common.py
  scripts/performance/logger.py
  scripts/performance/tracer.py
  scripts/run_performance_job.py
  scripts/send_to_helix.py
  scripts/upload.py
  src/scenarios/shared/codefixes.py
  src/scenarios/shared/crossgen.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
  src/scenarios/shared/testtraits.py
  src/scenarios/shared/versionmanager.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Refactor runtime iOS performance measurements - clearer naming of codegen/runtime variants - remove non strip symbols variants
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/upload-build-artifacts-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add feed for dotnet maui 9.0.111.
  NuGet.config
Due: azure-pipelines.yml

Add feed for dotnet maui 9.0.111. (#5009)
  NuGet.config
Due: azure-pipelines.yml
