Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
  ...

Adjust timer and fix indent (#2569)
  azure-pipelines.yml
Due: none

Added a fix for Win10 build break for the get_host_info
  src/benchmarks/gc/src/exec/env/get_host_info.cpp
Due: azure-pipelines-gc.yml

Added a fix for Win10 build break for the get_host_info (#2571)
  src/benchmarks/gc/src/exec/env/get_host_info.cpp
Due: azure-pipelines-gc.yml

sort
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
Due: azure-pipelines-micro.yml

Maui win UI startup testing (#2393)
  eng/performance/scenarios.proj
  scripts/dotnet.py
  src/scenarios/mauiblazordesktop/post.py
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauiblazordesktop/src/Replacement.Index.razor.cs
  src/scenarios/mauiblazordesktop/test.py
  src/scenarios/mauidesktop/post.py
  src/scenarios/mauidesktop/pre.py
  src/scenarios/mauidesktop/test.py
  src/scenarios/shared/precommands.py
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/WinUIBlazorParser.cs
  src/tools/ScenarioMeasurement/Startup/WinUIParser.cs
Due: azure-pipelines-micro.yml

review feedback
  src/benchmarks/real-world/ImageSharp/Codecs/DecodeFilteredPng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeBmp.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeGif.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeIndexedPng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodePng.cs
  src/benchmarks/real-world/ImageSharp/Codecs/EncodeTga.cs
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/DecodeJpeg_ImageSpecific.cs
  src/benchmarks/real-world/ImageSharp/ImageSharp.Benchmarks.csproj
  src/benchmarks/real-world/ImageSharp/TestUtilities/TestImages.cs
Due: azure-pipelines-micro.yml

add resize and deleted some other
  src/benchmarks/real-world/ImageSharp/Codecs/Jpeg/DecodeJpeg.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToCieLabConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToHunterLabConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToLmsConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/ColorspaceCieXyzToRgbConvert.cs
  src/benchmarks/real-world/ImageSharp/Color/RgbWorkingSpaceAdapt.cs
  src/benchmarks/real-world/ImageSharp/ImageSharp.Benchmarks.csproj
  src/benchmarks/real-world/ImageSharp/Images/Input/Jpg/baseline/Hiyamugi.jpg
  src/benchmarks/real-world/ImageSharp/Images/Input/Jpg/baseline/Snake.jpg
  src/benchmarks/real-world/ImageSharp/Images/Input/Jpg/baseline/jpeg400jfif.jpg
  src/benchmarks/real-world/ImageSharp/Images/Input/Jpg/baseline/winter444_interleaved.jpg
  src/benchmarks/real-world/ImageSharp/Images/Input/Jpg/progressive/winter420_noninterleaved.jpg
  src/benchmarks/real-world/ImageSharp/Processing/Resize.cs
  src/benchmarks/real-world/ImageSharp/TestUtilities/TestImages.cs
Due: azure-pipelines-micro.yml

Remove array alloc for most benchmarks
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Add reflection invoke benchmarks (#2561)
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Update src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
Due: azure-pipelines-micro.yml

remove dispose
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
Due: azure-pipelines-micro.yml

Add F# Compiler Service to scenarios project
  eng/performance/scenarios.proj
  src/scenarios/fsharpcompilerservice/pre.py
Due: azure-pipelines-micro.yml

update
  src/scenarios/fsharpcompilerservice/pre.py
  src/scenarios/fsharpcompilerservice/test.py
Due: none

Made code compatible with NET7
  src/scenarios/fsharpcompilerservice/pre.py
  src/scenarios/fsharpcompilerservice/src/AbstractIL/ilwritepdb.fs
  src/scenarios/fsharpcompilerservice/src/Driver/CompilerImports.fs
  src/scenarios/fsharpcompilerservice/src/Driver/CompilerOptions.fs
  src/scenarios/fsharpcompilerservice/src/Driver/FxResolver.fs
  src/scenarios/fsharpcompilerservice/src/Driver/ParseAndCheckInputs.fs
  src/scenarios/fsharpcompilerservice/src/Driver/fsc.fs
  src/scenarios/fsharpcompilerservice/src/Interactive/fsi.fs
  src/scenarios/fsharpcompilerservice/src/Legacy/LegacyHostedCompilerForTesting.fs
  src/scenarios/fsharpcompilerservice/src/Service/FSharpCheckerResults.fs
  src/scenarios/fsharpcompilerservice/src/Service/FSharpParseFileResults.fs
  src/scenarios/fsharpcompilerservice/src/Service/ServiceParsedInputOps.fs
  src/scenarios/fsharpcompilerservice/src/Service/service.fs
  src/scenarios/fsharpcompilerservice/src/Utilities/illib.fs
Due: none

Added startupmetric, added F# Compiler to SDK scenarios
  eng/performance/sdk_scenarios.proj
  src/scenarios/fsharpcompilerservice/test.py
Due: azure-pipelines-micro.yml

Valid startupmetric value
  src/scenarios/fsharpcompilerservice/test.py
Due: none

[wasm] Preserve members with ILLinker, issue: https://github.com/dotnet/performance/issues/2563
  src/benchmarks/micro/ILLink.Descriptors.Serialization.xml
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml

cleanup
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

Add 7.0-rc1 to channel_map, to fix builds on runtime/release/7.0-rc1 branch
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Update src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

fix
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
Due: azure-pipelines-micro.yml

Add 7.0-rc1 to channel_map, to fix builds on runtime/release/7.0-rc1 branch (#2576)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

[wasm] Fix failures due to illinker not preserving enough (#2574)
  scripts/ci_setup.py
  src/benchmarks/micro/ILLink.Descriptors.Serialization.xml
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml

temporarily disable failing BigInteger benchmark
  src/benchmarks/micro/libraries/System.Runtime.Numerics/Perf.BigInteger.cs
Due: azure-pipelines-micro.yml

temporarily disable failing BigInteger benchmark (#2578)
  src/benchmarks/micro/libraries/System.Runtime.Numerics/Perf.BigInteger.cs
Due: azure-pipelines-micro.yml

Update benchmarks_monthly.py
  scripts/benchmarks_monthly.py
Due: none

Remove base diff (#2558)
  src/tools/ResultsComparer/MultipleInputsComparer.cs
  src/tools/ResultsComparer/MultipleInputsOptions.cs
  src/tools/ResultsComparer/Program.cs
Due: none

Update benchmarks_monthly.py to include rc1 (#2579)
  scripts/benchmarks_monthly.py
Due: none

remove duplication
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
Due: azure-pipelines-micro.yml

Added the GC microbenchmark data for Preview 7
  src/benchmarks/gc/data/README.md
  src/benchmarks/gc/data/net 7.0 - Preview 7/MicrobenchmarkResults.csv
Due: none

Removed F# Compiler Service from scenarios
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Initial linker benchmark work
  eng/Versions.props
  src/benchmarks/real-world/ILLink/BasicBenchark.cs
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/benchmarks/real-world/ILLink/MSBuildBenchmark.cs
  src/benchmarks/real-world/ILLink/Program.cs
  src/benchmarks/real-world/ILLink/SampleProject/HelloWorld.template.csproj
  src/benchmarks/real-world/ILLink/SampleProject/Program.cs
  src/benchmarks/real-world/ILLink/Utilities.cs
Due: azure-pipelines-micro.yml

Clean up a bit
  src/benchmarks/real-world/ILLink/BasicBenchmark.cs
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/benchmarks/real-world/ILLink/MSBuildBenchmark.cs
  src/benchmarks/real-world/ILLink/Program.cs
  src/benchmarks/real-world/ILLink/Utilities.cs
Due: azure-pipelines-micro.yml

More cleanup
  src/benchmarks/real-world/ILLink/BasicBenchmark.cs
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/benchmarks/real-world/ILLink/MSBuildBenchmark.cs
  src/benchmarks/real-world/ILLink/Program.cs
  src/benchmarks/real-world/ILLink/Utilities.cs
Due: azure-pipelines-micro.yml

Remove extra line and extra version property
  eng/Versions.props
  src/benchmarks/real-world/ILLink/Utilities.cs
Due: azure-pipelines-micro.yml

reduce providers count
  src/benchmarks/micro/libraries/Microsoft.Extensions.Configuration/ConfigurationBinderBenchmarks.cs
Due: azure-pipelines-micro.yml

Try to avoid no elements exception when calculating table width
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
