Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Consolidate build properties into csproj injection
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/run.py
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove old redundant scripts
  src/scenarios/mauiandroidinnerloop/run.cmd
  src/scenarios/mauiandroidinnerloop/run.sh
Due: azure-pipelines.yml

Add multi-iteration startup measurement
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Loop incremental build+deploy+startup N times
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/shared/runner.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Make ExclusionFilter public so external projects can use it
  src/harness/BenchmarkDotNet.Extensions/ExclusionFilter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BCS upload templates to use public $web container
  eng/pipelines/templates/register-build-job.yml
  eng/pipelines/templates/upload-build-artifacts-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Refactor: extract ANDROIDINNERLOOP into shared/androidinnerloop.py
  src/scenarios/shared/androidinnerloop.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Fix deferred imports in androidinnerloop.py
  src/scenarios/shared/androidinnerloop.py
Due: azure-pipelines.yml

Rename androidinnerloop.py to androidinnerloophelper.py
  src/scenarios/shared/androidinnerloophelper.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Refactor: improve ANDROIDINNERLOOP readability
  src/scenarios/shared/androidinnerloophelper.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Move helper functions into ANDROIDINNERLOOP block
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Move _run_incremental_iteration into ANDROIDINNERLOOP block
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Simplify ANDROIDINNERLOOP cleanup logic
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Update eng/pipelines/templates/upload-build-artifacts-job.yml
  eng/pipelines/templates/upload-build-artifacts-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Exclude wasm_coreclr and cobaltSveMicro perf jobs on release branches
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Also exclude R2R interpreter perf jobs on release branches
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Keep binlogs in TRACEDIR for Helix artifact upload
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Exclude wasm_coreclr and cobaltSveMicro perf jobs on release branches (#5175)
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add UAMI support to upload.py
  scripts/performance/constants.py
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add back santity check uploading with filtered branch name
  scripts/ci_setup.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add UAMI support to upload.py (#5176)
  scripts/ci_setup.py
  scripts/performance/constants.py
  scripts/run_performance_job.py
  scripts/upload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Replace toggle with append for incremental iterations
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/run.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Improve MAUI Android inner loop incremental measurements
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/run.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Remove obvious comments from copytree calls
  src/scenarios/shared/startup.py
Due: azure-pipelines.yml

Set SupportedOSPlatformVersion to 23 for Android deps
  src/scenarios/mauiandroidinnerloop/pre.py
Due: azure-pipelines.yml

Fix minSdkVersion: pass SupportedOSPlatformVersion=23 via /p:
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/run.py
Due: azure-pipelines.yml

Link tracking issue
  src/scenarios/mauiandroidinnerloop/run.py
Due: azure-pipelines.yml

Remove redundant comment
  src/scenarios/mauiandroidinnerloop/run.py
Due: azure-pipelines.yml

Quote `--filter` strings
  docs/benchmarkdotnet.md
  docs/benchmarking-workflow-dotnet-runtime.md
  docs/crank-to-helix-workflow.md
  docs/microbenchmark-design-guidelines.md
  scripts/BENCHMARKS_LOCAL_README.md
  src/benchmarks/micro/README.md
  src/benchmarks/real-world/PowerShell.Benchmarks/PowerShell.Benchmarks.csproj
  src/tools/ResultsComparer/README.md
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Amend comment for accuracy
  docs/benchmarkdotnet.md
Due: none

Fix python command for Linux Helix work items
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Avoid failures when `dpkg` is locked.
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Rename run.py → setup_helix.py and remove test invocation
  src/scenarios/mauiandroidinnerloop/setup_helix.py
Due: azure-pipelines.yml

Update .proj to chain setup_helix.py && test.py explicitly
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/mauiandroidinnerloop/setup_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Move MSBuild arg manipulation from setup_helix.py to .proj
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/mauiandroidinnerloop/setup_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Pass MSBuild args explicitly to test.py via --msbuild-args
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/mauiandroidinnerloop/setup_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove redundant comment
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable PublishReadyToRunStripDebugInfo/StripInliningInfo for iOS CoreCLR R2R
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Move env var exports from setup_helix.py to .proj PreCommands
  eng/performance/maui_scenarios_android_innerloop.proj
  src/scenarios/mauiandroidinnerloop/setup_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Quote semicolon-containing args to prevent bash command splitting
  eng/performance/maui_scenarios_android_innerloop.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml
