Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml

Added release/8.0-previewX channel maps for X 1-4.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Added release/8.0-previewX channel maps for X 1-4. (#2899)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Fix permission error when installing pip packages.
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Move repeated android setup and finish commands to an android helper file.
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/runner.py
Due: none

Run and memory parse complete, working on stubbing out the android setup and adding memory parser.
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
Due: none

Setup testing.
  azure-pipelines.yml
Due: none

First attempt at adding MemoryConsumptionTool.
  src/scenarios/shared/const.py
  src/scenarios/shared/memoryconsumption.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/testtraits.py
  src/tools/ScenarioMeasurement/MemoryConsumption/AndroidMemoryConsumption.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/IParser.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/LinuxTraceSession.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.csproj
  src/tools/ScenarioMeasurement/MemoryConsumption/ParserUtility.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/PerfCollect.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/ProfileParser.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/TraceSessionManager.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/TraceSourceManager.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/WindowsTraceSession.cs
Due: none

Add Memory Consumption Scenarios for currently supported apps.
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml

Fix permission error when installing pip packages. (#2902)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Revert "Setup testing."
  azure-pipelines.yml
Due: none

Fixed errors that were somehow missed during local testing.
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/runner.py
Due: none

Empty InstallPrerequisites variable for Windows so commands later properly expand.
  eng/performance/benchmark_jobs.yml
Due: azure-pipelines-micro.yml

Empty InstallPrerequisites variable for Windows so commands later properly expand. (#2907)
  eng/performance/benchmark_jobs.yml
Due: azure-pipelines-micro.yml

Use explicit ObjCopyName to select proper objcopy.
  src/scenarios/emptyconsolenativeaot/pre.py
Due: none

Use explicit ObjCopyName to select proper objcopy. (#2909)
  src/scenarios/emptyconsolenativeaot/pre.py
Due: none

Bump BDN version to 0.13.5 in ResultsComparer
  src/tools/ResultsComparer/ResultsComparer.csproj
Due: none

Switch nativeaot7.0 to 8.0
  azure-pipelines.yml
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Add IlcVerboseLogging
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Remove unneeded using clause, add comments.
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Add comment
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

First pass at adding Mono testing prereq, build, and test docs.
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

First pass at adding Mono testing prereq, build, and test docs. (#2922)
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Update markdownlint.yml
  .github/workflows/markdownlint.yml
Due: none

Use the proper scenario type.
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml

Build MemoryConsumption scenario before sending off the job.
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

add binary xml version to xml benchmarks (#2557)
  src/benchmarks/micro/Serializers/Xml_FromStream.cs
  src/benchmarks/micro/Serializers/Xml_ToStream.cs
Due: azure-pipelines-micro.yml

Add Android Memory Consumption testing capabilities. (#2877)
  eng/performance/maui_scenarios_android.proj
  eng/performance/scenarios.yml
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/const.py
  src/scenarios/shared/memoryconsumption.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/testtraits.py
  src/tools/ScenarioMeasurement/MemoryConsumption/AndroidMemoryParser.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/IParser.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/LinuxTraceSession.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.csproj
  src/tools/ScenarioMeasurement/MemoryConsumption/ParserUtility.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/PerfCollect.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/ProfileParser.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/TraceSessionManager.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/TraceSourceManager.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/WindowsTraceSession.cs
Due: azure-pipelines-micro.yml

First pass at adding the scenario files for iOS Maui in Perf Repo.
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiblazorios/test.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiiospodcast/post.py
  src/scenarios/mauiiospodcast/pre.py
  src/scenarios/mauiiospodcast/test.py
Due: none

Added iOS Maui Scenario and build machine definition.
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

First pass at maui_scenarios_ios.proj file. Does not include device startup.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Adressed code review feedback, added examples text file driving GCPerfSim through a busy phase and an idle phase, undid changes not intended to be checked in.
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.csproj
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.sln
  src/benchmarks/gc/src/exec/GCPerfSim/phases_req_svr.txt
Due: azure-pipelines-gc.yml

Fix Pipeline first run.
  eng/Versions.props
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/mauiiospodcast/pre.py
Due: azure-pipelines-micro.yml

Add support for reading MSTAT v2
  src/tools/ScenarioMeasurement/SizeOnDisk/MStatProcessor.cs
Due: none

Update README.md
  README.md
Due: none

Update README.md (#2933)
  README.md
Due: none

Switch nativeaot7.0 microbenchmarks to 8.0 (#2919)
  azure-pipelines.yml
  scripts/dotnet.py
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Remove ilc verbose logging from #2919.
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Remove ilc verbose logging from #2919. (#2934)
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Removed failing System.Drawing tests.
  src/benchmarks/micro/libraries/System.Drawing/Perf_Graphics_DrawBeziers.cs
  src/benchmarks/micro/libraries/System.Drawing/Perf_Graphics_Transforms.cs
  src/benchmarks/micro/libraries/System.Drawing/Perf_Image_Load.cs
Due: azure-pipelines-micro.yml
