Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  ...

Addressed feedback and added contextually named log files if the variables are specified
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ASPNetBenchmarks.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
Due: none

Fixed the reporting of the GCPerfSim runs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
Due: none

Fixed computation of Gen2 Blocking and BGCs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
Due: none

Added the ASP.NET Benchmark Analysis Script
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
Due: none

Events via LTTng custom provider forwarding
  .gitignore
  eng/performance/scenarios.yml
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder.sln
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/LTTngForwardingEventListener.cs
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/Native.cs
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder.csproj
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/StartupHook.cs
  src/tools/PerfLabGenericEventSourceLTTngProvider/PerfLabGenericEventSourceLTTngProvider.c
  src/tools/PerfLabGenericEventSourceLTTngProvider/PerfLabGenericEventSourceLTTngProvider.h
  src/tools/PerfLabGenericEventSourceLTTngProvider/build.sh
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.csproj
  src/tools/ScenarioMeasurement/PowerConsumption/PowerConsumption.csproj
  src/tools/ScenarioMeasurement/Startup/LinuxTraceSession.cs
  src/tools/ScenarioMeasurement/Startup/PerfCollect.cs
  src/tools/ScenarioMeasurement/Startup/PerfLabValues.cs
  src/tools/ScenarioMeasurement/Startup/Startup.csproj
  src/tools/ScenarioMeasurement/Startup/TimeToMain2Parser.cs
  src/tools/ScenarioMeasurement/Startup/TraceEventParsers/PerfLabGenericEventSourceLTTngProviderParser.cs
  src/tools/ScenarioMeasurement/Startup/TraceSessionManager.cs
  src/tools/ScenarioMeasurement/Startup/WindowsTraceSession.cs
  src/tools/ScenarioMeasurement/Util/ProcessHelper.cs
Due: azure-pipelines-micro.yml

Enable scenarios on 22.04.
  azure-pipelines.yml
Due: none

Feedback.
  src/tools/ScenarioMeasurement/Startup/TraceEventParsers/PerfLabGenericEventSourceLTTngProviderParser.cs
Due: none

Use O2 optimization.
  src/tools/PerfLabGenericEventSourceLTTngProvider/build.sh
Due: none

EventListener that listens for the events we care about and then emits them via own LTTng tracepoint provider that works against the updated ABI (#3170)
  .gitignore
  azure-pipelines.yml
  eng/performance/scenarios.yml
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder.sln
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/LTTngForwardingEventListener.cs
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/Native.cs
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder.csproj
  src/tools/PerfLabGenericEventSourceForwarder/PerfLabGenericEventSourceForwarder/StartupHook.cs
  src/tools/PerfLabGenericEventSourceLTTngProvider/PerfLabGenericEventSourceLTTngProvider.c
  src/tools/PerfLabGenericEventSourceLTTngProvider/PerfLabGenericEventSourceLTTngProvider.h
  src/tools/PerfLabGenericEventSourceLTTngProvider/build.sh
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.csproj
  src/tools/ScenarioMeasurement/PowerConsumption/PowerConsumption.csproj
  src/tools/ScenarioMeasurement/Startup/LinuxTraceSession.cs
  src/tools/ScenarioMeasurement/Startup/PerfCollect.cs
  src/tools/ScenarioMeasurement/Startup/PerfLabValues.cs
  src/tools/ScenarioMeasurement/Startup/Startup.csproj
  src/tools/ScenarioMeasurement/Startup/TimeToMain2Parser.cs
  src/tools/ScenarioMeasurement/Startup/TraceEventParsers/PerfLabGenericEventSourceLTTngProviderParser.cs
  src/tools/ScenarioMeasurement/Startup/TraceSessionManager.cs
  src/tools/ScenarioMeasurement/Startup/WindowsTraceSession.cs
  src/tools/ScenarioMeasurement/Util/ProcessHelper.cs
Due: azure-pipelines-micro.yml

Fixed the reporting of the GCPerfSim runs in the Repro Steps (#3305)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
Due: none

SizeOnDisk: fix up version replacement for dotnet.native, and dotnet.runtime js files
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

SizeOnDisk: fix up version replacement for dotnet.native, and dotnet.runtime js files (#3309)
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

[wasm] Fix build broken by recent update to tfm=net9.0 on runtime
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
  src/benchmarks/micro/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml

Added the name of the file and the log file extension
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ASPNetBenchmarks.CommandBuilder.cs
Due: none

[wasm] Override packs for blazor scenarios
  src/scenarios/blazor/Directory.Build.targets
  src/scenarios/blazoraot/Directory.Build.targets
  src/scenarios/blazorminapp/Directory.Build.targets
  src/scenarios/blazorminappaot/Directory.Build.targets
  src/scenarios/blazorpizza/Directory.Build.targets
  src/scenarios/blazorpizzaaot/Directory.Build.targets
Due: none

Added the analysis notebook
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
Due: none

Frozen collection benchmarks (#3089)
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsFalse.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsKeyFalse.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsKeyTrue.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsTrue.cs
  src/benchmarks/micro/libraries/System.Collections/Contains/ContainsTrueComparer.cs
  src/benchmarks/micro/libraries/System.Collections/Create/CtorFromCollection.cs
  src/benchmarks/micro/libraries/System.Collections/Frozen/Perf_Frozen.cs
  src/benchmarks/micro/libraries/System.Collections/Frozen/Perf_FrozenDictionary_String.cs
  src/benchmarks/micro/libraries/System.Collections/Iterate/IterateForEach.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueFalse.cs
  src/benchmarks/micro/libraries/System.Collections/TryGetValue/TryGetValueTrue.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Fix TargetsWindowsParam on non-Windows.
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

[wasm] Move WasmOverridePacks.targets to build-common, and update blazor targets
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
  src/scenarios/blazor/Directory.Build.props
  src/scenarios/blazor/Directory.Build.targets
  src/scenarios/blazoraot/Directory.Build.props
  src/scenarios/blazoraot/Directory.Build.targets
  src/scenarios/blazorminapp/Directory.Build.props
  src/scenarios/blazorminapp/Directory.Build.targets
  src/scenarios/blazorminappaot/Directory.Build.props
  src/scenarios/blazorminappaot/Directory.Build.targets
  src/scenarios/blazorpizza/Directory.Build.targets
  src/scenarios/blazorpizzaaot/Directory.Build.props
  src/scenarios/blazorpizzaaot/Directory.Build.targets
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml

[wasm] Override packs only when using workloads
  src/scenarios/blazor/Directory.Build.targets
  src/scenarios/blazoraot/Directory.Build.targets
  src/scenarios/blazorminapp/Directory.Build.targets
  src/scenarios/blazorminappaot/Directory.Build.targets
  src/scenarios/blazorpizza/Directory.Build.targets
  src/scenarios/blazorpizzaaot/Directory.Build.targets
Due: none

[wasm] Fix build broken by recent update to assembly versions -> 9.0.0 (#3311)
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
  src/scenarios/blazor/Directory.Build.props
  src/scenarios/blazor/Directory.Build.targets
  src/scenarios/blazoraot/Directory.Build.props
  src/scenarios/blazoraot/Directory.Build.targets
  src/scenarios/blazorminapp/Directory.Build.props
  src/scenarios/blazorminapp/Directory.Build.targets
  src/scenarios/blazorminappaot/Directory.Build.props
  src/scenarios/blazorminappaot/Directory.Build.targets
  src/scenarios/blazorpizza/Directory.Build.targets
  src/scenarios/blazorpizzaaot/Directory.Build.props
  src/scenarios/blazorpizzaaot/Directory.Build.targets
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml

Fix TargetsWindowsParam on non-Windows. (#3315)
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Adjusted the csv files to be without spaces and modified the Linux and Generic runs
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-All.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks-Linux.csv
  src/benchmarks/gc/GC.Infrastructure/Configurations/ASPNetBenchmarks/ASPNetBenchmarks.csv
Due: none

Updated README to reflect changes
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Updated documentation
  src/benchmarks/gc/GC.Infrastructure/docs/ASPNETBenchmarks.md
Due: none

Fixed md liniting issues
  src/benchmarks/gc/GC.Infrastructure/README.md
  src/benchmarks/gc/GC.Infrastructure/docs/ASPNETBenchmarks.md
Due: none

Fixed up the notebook to work for both windows and linux
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
Due: none

Added time, fixed compiler error and removed dead code
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Removed redundant Console write
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Clarify naming with .NET Android rather than Xamarin Android.
  eng/performance/maui_scenarios_android.proj
  src/scenarios/netandroid/post.py
  src/scenarios/netandroid/pre.py
  src/scenarios/netandroid/test.py
Due: azure-pipelines-micro.yml

Add missing documentation lines for command-line arguments
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Added back the dead code with explanations and configured writing the time taken to a file.
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Minor updates per feedback.
  src/scenarios/netandroid/pre.py
Due: none

Add missing documentation lines for command-line arguments (#3323)
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Add perf report walkthrough doc
  docs/perfreport-walkthrough.md
Due: none

GCPerfSim: implement Item finalization
  src/benchmarks/gc/src/exec/GCPerfSim/GCPerfSim.cs
Due: azure-pipelines-gc.yml

Add Xamarin android default app run to maui_android runs. (#3302)
  eng/performance/maui_scenarios_android.proj
  src/scenarios/netandroid/post.py
  src/scenarios/netandroid/pre.py
  src/scenarios/netandroid/test.py
Due: azure-pipelines-micro.yml

Update scenarios.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Disable startup meaasurements
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Fixed merge conflicts
  src/benchmarks/gc/GCPerfSim/GCPerfSim.cs
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
