Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

Add .NET 12 feeds and channel mapping
  NuGet.config
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add .NET 12 feeds and channel mapping (#5299)
  NuGet.config
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Ensure CoreCLR WASM R2R images are produced
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Validate resolved WASM runtime packs
  scripts/tests/test_wasm_coreclr_r2r.py
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Support regular SDK WASM R2R builds
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Align ILLink with the WASM toolchain cohort
  scripts/build_runtime_payload.py
  scripts/tests/test_wasm_coreclr_r2r.py
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add CoreCLR WASM R2R performance lane
  eng/pipelines/runtime-wasm-perf-jobs.yml
  scripts/micro_benchmarks.py
  scripts/run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Align CoreCLR WASM toolchain package versions
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Exclude invalid Jil WASM R2R output
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use trimmed staging for WASM R2R benchmarks
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update CoreCLR WASM prerequisite test
  scripts/tests/test_run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Acquire coherent nightly WASM workloads
  docs/benchmarking-workflow-dotnet-runtime.md
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/benchmarks_ci.py
  scripts/dotnet.py
  scripts/run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix BenchmarkDotNet documentation link
  docs/benchmarkdotnet.md
Due: none

Add CoreCLR WASM R2R performance lane (#5297)
  eng/pipelines/runtime-wasm-perf-jobs.yml
  scripts/build_runtime_payload.py
  scripts/micro_benchmarks.py
  scripts/run_performance_job.py
  scripts/tests/test_run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use fallback feed for MAUI NuGet config pinning
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Limit internal workload validation to Android and iOS
  azure-pipelines.yml
Due: azure-pipelines.yml

Restore full pipeline after workload validation
  azure-pipelines.yml
Due: azure-pipelines.yml

Use the selected NuGet config for MAUI feed resolution
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Repeat two-platform internal workload validation
  azure-pipelines.yml
Due: azure-pipelines.yml

Remove temporary pipeline limits after queuing validation
  azure-pipelines.yml
Due: azure-pipelines.yml

Address nightly WASM review feedback
  docs/benchmarkdotnet.md
  scripts/dotnet.py
  scripts/run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add ZipArchive metadata read benchmarks
  Directory.Build.targets
  src/Directory.Build.targets
  src/benchmarks/micro/libraries/System.IO.Compression/ZipArchive.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BDN nightly version and async setup/cleanup/ArgumentsSource.
  eng/Versions.props
  src/benchmarks/micro/Program.cs
  src/benchmarks/micro/libraries/System.Net.Http/Perf.SocketsHttpHandler.cs
  src/benchmarks/micro/libraries/System.Net.Http/Perf.WinHttpHandler.cs
  src/benchmarks/micro/libraries/System.Net.Security/SslStreamTests.Protocols.cs
  src/benchmarks/micro/libraries/System.Net.Security/SslStreamTests.cs
  src/benchmarks/real-world/Roslyn/CompilerBenchmarks.csproj
  src/harness/BenchmarkDotNet.Extensions/Polyfills/AsyncEnumerable.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fixes and docs update.
  docs/benchmarkdotnet.md
  docs/benchmarking-workflow-dotnet-runtime.md
  src/benchmarks/micro/Program.cs
  src/benchmarks/micro/libraries/System.Net.Security/SslStreamTests.Protocols.cs
  src/harness/BenchmarkDotNet.Extensions/MonoAotLLVM/MonoAotLLVMGenerator.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use Windows syntax for WASM package sources
  scripts/run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix MAUI NuGet config pinning when workload feeds fall back (#5302)
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines.yml

Use Windows path for WASM dotnet payload
  scripts/run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Scope nightly WASM workload setup
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Adopt standalone Helix monitoring for SDK performance CI
  .config/dotnet-tools.json
  azure-pipelines.yml
  docs/sdk-scenarios.md
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Keep SDK monitor variables in one template guard
  azure-pipelines.yml
Due: azure-pipelines.yml

Keep the main performance channel on the .NET 11 SDK
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use workload no-cache option
  scripts/dotnet.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Complete SDK Helix monitor public support and Linux startup
  azure-pipelines.yml
  docs/sdk-scenarios.md
  eng/common/dotnet.sh
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Keep SDK performance matrix legs distinct in Helix monitoring
  azure-pipelines.yml
  docs/sdk-scenarios.md
Due: azure-pipelines.yml

Always include the SDK performance Helix monitor
  azure-pipelines.yml
  docs/sdk-scenarios.md
Due: azure-pipelines.yml

Keep the main performance channel on the .NET 11 SDK (#5308)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix WASM tool framework version rollover
  scripts/build_runtime_payload.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix WASM tool framework version rollover (#5310)
  scripts/build_runtime_payload.py
  scripts/tests/test_wasm_coreclr_r2r.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
