Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Convert build time metrics from milliseconds to seconds
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
Due: azure-pipelines.yml

Update binlog path check for build time measurements (#4846)
  src/scenarios/shared/runner.py
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
Due: azure-pipelines.yml

common class for server run command build
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ASPNetBenchmarks.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ServerRun.CommandBuilder.cs
Due: none

AddAnalyzeAndAggregateCommand to GC
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestAnalyze.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/CommandLineTool.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/Debugging.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTest.Aggregate.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTest.Analyze.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAggregateCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

Update Versions.props
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update Windows.10 open queues to Windows.11 open queues as pipelines are saying that the Windows.10 open queues are scheduled for removal 05/13/25.
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

remove commandinvoker, using process class
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/CommandLineTool.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/Debugging.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTest.Aggregate.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTest.Analyze.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAggregateCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAnalyzeCommand.cs
Due: none

Disable net462 and nativeaot8/9 public ci testing until we have a chance to properly fix the flow issue they are hitting as they are most of tests keeping us from green ci.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use the if false instead of commenting to ensure syntax highlighting keeps working for the section if other changes are made.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Disable net462 and nativeaot8/9 public ci testing (#4853)
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Supress SYSLIB5003 warning
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add build time measurements for MAUI Android and iOS scenarios
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove sve tests from unsupported versions of .NET (<9.0)
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

SVE microbenchmarks with string operations (#4841)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the amount of time to run the devicememoryconsumption tests on android.
  eng/performance/maui_scenarios_android.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Updated pipelines for dotnet-runtime-perf-build, runtime-wasm-perf, and dotnet-performance/performance-ci pipelines to use 1ES templates based on the tool autoconverted yaml and runtime repo setup.
  azure-pipelines.yml
  eng/pipelines/register-build-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

rename GenerateKeyValuePairListForParameters and fix bugs in OverrideKeyValuePairList
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/GCPerfSim.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ServerRun.CommandBuilder.cs
Due: none

Update .NET SDK daily builds table link
  docs/android-startup-scenarios.md
Due: none

PR feedback
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

Update .NET SDK daily builds table link (#4863)
  docs/android-startup-scenarios.md
Due: none

Switch to supporting looking up at multiple repo urls when retrieving the commit date.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Switch to supporting looking up at multiple repo urls when retrieving the commit date. (#4866)
  scripts/dotnet.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add AndroidCoreCLR JIT Static Linking scenarios
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add linkingType parameter to performance job configuration
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Dynamic linking is default
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Handle dynamic linking type correctly
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Refactor linkingType handling to default to empty string
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix linkingType handling
  eng/pipelines/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update binlog path
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix traces path
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix copy command
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[Mobile] Add build time and static linking size measurements for mobile (#4857)
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add linking type parameter to performance job configuration
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Lowercase linking type
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

[Android] Add linking type parameter to performance job configuration (#4870)
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update VMImage for windows to Windows-2025.
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove most references to the perflab upload token, including secret names and const references for it. (#4873)
  eng/pipelines/templates/run-performance-job-script-step.yml
  helix.yml
  scripts/benchmarks_ci.py
  scripts/performance/constants.py
  scripts/run_performance_job.py
  scripts/upload.py
  src/scenarios/shared/androidinstrumentation.py
  src/scenarios/shared/devicepowerconsumption.py
  src/scenarios/shared/memoryconsumption.py
  src/scenarios/shared/sod.py
  src/scenarios/shared/startup.py
  src/scenarios/shared/util.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml
