Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - release/6.0
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 22H2
  ...

Use ubuntu build container for ubuntu arm64 builds
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Break off the rollback generation and the dict to json file so they can be called directly for runtime maui version stuff.
  src/scenarios/shared/mauisharedpython.py
Due: none

Enable log verbosity on seutp build commands (#4347)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Ensure ubuntu arm64 pipeline runs use the ubuntu dotnet prereqs container (#4348)
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Update TraceEvent to 3.1.13
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/DynamicEventTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/GC.Analysis.API.UnitTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GC.Analysis.API.csproj
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/CPUExamples.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/GCAnalysisExamples.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/VolatilityReport.ipynb
Due: none

revert .mjs renaming
  docs/benchmarking-workflow-dotnet-runtime.md
  scripts/benchmarks_local.py
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Due: azure-pipelines-micro.yml

Remove requests import from the mauisharedpython.py for runtime runability support.
  src/scenarios/shared/mauisharedpython.py
Due: none

Specifiy TraceEvent version in DataManager.dib
  src/benchmarks/gc/GC.Infrastructure/Notebooks/DataManager.dib
Due: none

Revert "Add setup for RLCSE experiment (#3975)"
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

Remove Rlcse experiment (#4353)
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

Update TraceEvent to 3.1.13 (#4349)
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/DynamicEventTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/GC.Analysis.API.UnitTests.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/GC.Analysis.API.csproj
  src/benchmarks/gc/GC.Infrastructure/Notebooks/ASPNetBenchmarkAnalysis.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/DataManager.dib
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/CPUExamples.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Examples/GCAnalysisExamples.ipynb
  src/benchmarks/gc/GC.Infrastructure/Notebooks/VolatilityReport.ipynb
Due: none

feedback
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Update per feedback.
  src/scenarios/shared/mauisharedpython.py
Due: none

Update per feedback, pt. 2.
  scripts/run_performance_job.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml

Reduce F# real world benchmarks
  src/benchmarks/real-world/FSharp/Program.fs
Due: azure-pipelines-micro.yml

notebook gcperfsim from infra
  src/benchmarks/gc/GC.Infrastructure/Notebooks/DataManager.dib
Due: none

Update Maui version flows (#4321)
  azure-pipelines.yml
  eng/Version.Details.xml
  scripts/run_performance_job.py
  src/scenarios/shared/mauisharedpython.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

skip in YAML also
  azure-pipelines.yml
Due: none

Revert "Update dependencies from https://github.com/dotnet/maui build 9.0.0-preview.7.24381.14+azdo.9974970 (#4361)"
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Revert "Update dependencies from https://github.com/dotnet/maui build 9.0.0-preview.7.24381.14+azdo.9974970 (#4361)" (#4364)
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Disable startup scenarios on Ubuntu
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Add .NET 9 support to SDK Scenarios
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml

Fix unit test for OSX
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Presentation/MarkdownReportBuilder.cs
Due: none

WIP: Support emitting array in dynamic event
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.UnitTests/DynamicEventTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/DynamicEvents.cs
Due: none

Update iOS test building mac image to use MacOS 14 instead of 13 for the newer version of xcode.
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Disable startup scenarios on Ubuntu (#4366)
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Add .NET 9 support to SDK Scenarios (#4368)
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml

[wasm] Update steps to run the benchmarks against local runtime build (#4333)
  docs/benchmarking-workflow-dotnet-runtime.md
  eng/common/template-guidance.md
Due: azure-pipelines-micro.yml

Reduce F# real world benchmarks (#4358)
  azure-pipelines.yml
  src/benchmarks/real-world/FSharp/Program.fs
Due: azure-pipelines-micro.yml

Update iOS test building mac image to use MacOS 14 instead of 13 for the newer version of xcode. (#4371)
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

More F# microbenchmarks
  src/benchmarks/micro-fsharp/Equality/Arrays.fs
  src/benchmarks/micro-fsharp/Equality/BasicTypes.fs
  src/benchmarks/micro-fsharp/Equality/FSharpCoreFunctions.fs
  src/benchmarks/micro-fsharp/MicrobenchmarksFSharp.fsproj
Due: none

Update MicrobenchmarksFSharp.fsproj
  src/benchmarks/micro-fsharp/MicrobenchmarksFSharp.fsproj
Due: none

Fix unit test for OSX (#4369)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core.UnitTests/Presentation/MarkdownReportBuilder.cs
Due: none

Created CountBy02LinqMethodX, ..., CountBy04LinqMethodX benchmarks for 10_000, 100, 1, 0 iterations.
  src/benchmarks/micro/runtime/Linq/Linq.cs
Due: azure-pipelines-micro.yml

Update xcode-select version from 15.0 -> 15.4.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Update xcode-select version from 15.0 -> 15.4. (#4383)
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

draft
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

undo some metrics examples
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

fix for colors
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

change a default
  src/benchmarks/gc/GC.Infrastructure/Notebooks/Reports.dib
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
