Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Create separate path setting for windows and non-windows.
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

3153 perf scenarios startup tool build failing (#3159)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Minor cleanup in the example usage. Fixed typo, --repo-storage-dir -> --repo-storage-path, and added quotes around filter arguments.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add osx as a supported OS
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Only one PerfLab.cs across repository
  src/scenarios/windowsformslarge/pre.py
  src/scenarios/windowsformslarge/src/Events.cs
Due: none

Only one PerfLab.cs across repository (#3160)
  src/scenarios/windowsformslarge/pre.py
  src/scenarios/windowsformslarge/src/Events.cs
Due: none

Add release/8.0-rc(1/2) to the channel map to prepare for RC.
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

Add basic local testing script that builds and runs benchmarks (#3142)
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add release/8.0-rc(1/2) to the channel map to prepare for RC. (#3161)
  scripts/channel_map.py
Due: azure-pipelines-micro.yml

New TimeToMain2 measurement for LTTng on Ubuntu 22.04 workaround (future work) (and a little bit of refactoring).
  src/scenarios/emptyconsolenativeaot/pre.py
  src/scenarios/emptyconsolenativeaot/test.py
  src/scenarios/emptyconsoletemplate/pre.py
  src/scenarios/emptyconsoletemplate/test.py
  src/scenarios/emptyvbconsoletemplate/pre.py
  src/scenarios/emptyvbconsoletemplate/test.py
  src/scenarios/shared/precommands.py
  src/scenarios/staticconsoletemplate/pre.py
  src/scenarios/staticconsoletemplate/test.py
  src/scenarios/staticdeps/PerfLab.cs
  src/scenarios/staticdeps/PerfLab.fs
  src/scenarios/staticdeps/PerfLab.vb
  src/scenarios/staticfsconsoletemplate/pre.py
  src/scenarios/staticfsconsoletemplate/src/staticfsconsoletemplate.fsproj
  src/scenarios/staticfsconsoletemplate/test.py
  src/scenarios/staticvbconsoletemplate/pre.py
  src/scenarios/staticvbconsoletemplate/test.py
  src/tools/ScenarioMeasurement/PowerConsumption/PerfCollect.cs
  src/tools/ScenarioMeasurement/Startup/GenericStartupParser.cs
  src/tools/ScenarioMeasurement/Startup/PerfLabValues.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/TimeToMain2Parser.cs
  src/tools/ScenarioMeasurement/Startup/WinUIBlazorParser.cs
Due: none

Remove orphaned comment
  src/scenarios/shared/precommands.py
Due: none

Better condition
  src/tools/ScenarioMeasurement/Startup/TimeToMain2Parser.cs
Due: none

Add MagicConstant to "prevent" collisions.
  src/scenarios/staticdeps/PerfLab.cs
  src/scenarios/staticdeps/PerfLab.fs
  src/scenarios/staticdeps/PerfLab.vb
  src/tools/ScenarioMeasurement/Startup/PerfLabValues.cs
Due: none

Fix -W append and skip sign checking for Maui bits.
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/mauisharedpython.py
Due: none

Setup testing.
  azure-pipelines.yml
Due: none

Revert "Setup testing."
  azure-pipelines.yml
Due: none

Fix Android bug and Maui builds (#3163)
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/mauisharedpython.py
Due: none

Explicit attribute.
  src/scenarios/staticdeps/PerfLab.cs
  src/scenarios/staticdeps/PerfLab.fs
  src/scenarios/staticdeps/PerfLab.vb
Due: none

Replace hash with VERSION.
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Fix: The value cannot be an empty string.
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Feedback.
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Add DI Factory_3Injected to measure against Factory_3Explicit
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ActivatorUtilitiesBenchmark.cs
Due: azure-pipelines-micro.yml

[wasm] Replace hash with VERSION. (#3165)
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
Due: none

Add `-bl:` argument to the restore command line
  scripts/dotnet.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

Perf: Workaround a nuget restore issue for MicroBenchmarks.csproj
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Add `-bl:` argument to the restore command line (#3167)
  scripts/dotnet.py
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

* New TimeToMain2 measurement for LTTng on Ubuntu 22.04 workaround (future work) (and a little bit of refactoring). (#3146)
  src/scenarios/emptyconsolenativeaot/pre.py
  src/scenarios/emptyconsolenativeaot/test.py
  src/scenarios/emptyconsoletemplate/pre.py
  src/scenarios/emptyconsoletemplate/test.py
  src/scenarios/emptyvbconsoletemplate/pre.py
  src/scenarios/emptyvbconsoletemplate/test.py
  src/scenarios/shared/precommands.py
  src/scenarios/staticconsoletemplate/pre.py
  src/scenarios/staticconsoletemplate/test.py
  src/scenarios/staticdeps/PerfLab.cs
  src/scenarios/staticdeps/PerfLab.fs
  src/scenarios/staticdeps/PerfLab.vb
  src/scenarios/staticfsconsoletemplate/pre.py
  src/scenarios/staticfsconsoletemplate/src/staticfsconsoletemplate.fsproj
  src/scenarios/staticfsconsoletemplate/test.py
  src/scenarios/staticvbconsoletemplate/pre.py
  src/scenarios/staticvbconsoletemplate/test.py
  src/tools/ScenarioMeasurement/PowerConsumption/PerfCollect.cs
  src/tools/ScenarioMeasurement/Startup/GenericStartupParser.cs
  src/tools/ScenarioMeasurement/Startup/PerfLabValues.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Startup/TimeToMain2Parser.cs
  src/tools/ScenarioMeasurement/Startup/WinUIBlazorParser.cs
Due: none

Small cleanup
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Address feedback to fix the build, from @cincuranet
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml

Add dependency for Maestro.
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Small cleanup (#3169)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Add dependency for Maestro. (#3173)
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Dependency for extensions.
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Dependency for extensions. (#3174)
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Add DI Factory_3Injected to measure against Factory_3Explicit (#3166)
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ActivatorUtilitiesBenchmark.cs
Due: azure-pipelines-micro.yml

Remove temporary fix changes.
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Fix ILLink Maestro definitions.
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Fix ILLink Maestro definitions. (#3178)
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml
