Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines.yml:
  schedules:
  - cron: 0 */4 * * *
    displayName: Every 4 hour build
    branches:
      include:
      - master
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: RS5
  ...

[Docs] the perfcollect doc link should point to dotnet/runtime, not dotnet/coreclr
  docs/profiling-workflow-dotnet-runtime.md
Due: none

[Docs] the perfcollect doc link should point to dotnet/runtime, not dotnet/coreclr (#1611)
  docs/profiling-workflow-dotnet-runtime.md
Due: none

Add C# ports of the JetStream poker and segmentation benchmarks (#1564)
  src/benchmarks/micro/Categories.cs
  src/benchmarks/micro/runtime/JetStream/Compat.cs
  src/benchmarks/micro/runtime/JetStream/Poker/poker.cs
  src/benchmarks/micro/runtime/JetStream/Segmentation/segmentation.cs
Due: azure-pipelines.yml

Low memory consumption CPU Samples Analysis in Jupyter.
  src/benchmarks/gc/jupyter_notebook.py
  src/benchmarks/gc/src/analysis/analyze_cpu_samples.py
  src/benchmarks/gc/src/analysis/managed-lib/Analysis.cs
Due: azure-pipelines-gc.yml, azure-pipelines.yml

Roslyn benchmark updates (#1607)
  src/benchmarks/real-world/Roslyn/CompilerBenchmarks.csproj
  src/benchmarks/real-world/Roslyn/Helpers.cs
  src/benchmarks/real-world/Roslyn/StageBenchmarks.cs
Due: azure-pipelines.yml

Added remaining documentation of the latest CPU Samples changes.
  src/benchmarks/gc/README.md
  src/benchmarks/gc/docs/jupyter_notebook.md
  src/benchmarks/gc/jupyter_notebook.py
  src/benchmarks/gc/src/analysis/analyze_cpu_samples.py
Due: azure-pipelines-gc.yml, azure-pipelines.yml

Fixed linter.
  src/benchmarks/gc/docs/bench_file.md
  src/benchmarks/gc/jupyter_notebook.py
  src/benchmarks/gc/src/analysis/analyze_cpu_samples.py
Due: azure-pipelines-gc.yml, azure-pipelines.yml

Update Nuget.config
  NuGet.config
Due: azure-pipelines.yml

Update YAML and channel map
  azure-pipelines.yml
  scripts/channel_map.py
Due: azure-pipelines.yml

Update YAML and channel map (#1614)
  azure-pipelines.yml
  scripts/channel_map.py
Due: azure-pipelines.yml

Update scheduled branch
  azure-pipelines.yml
Due: azure-pipelines.yml

Update scheduled branch (#1615)
  azure-pipelines.yml
Due: azure-pipelines.yml

Add trigger for release/3.1.4xx
  azure-pipelines.yml
Due: azure-pipelines.yml

Add trigger for release/3.1.4xx (#1617)
  azure-pipelines.yml
Due: azure-pipelines.yml

add CreateEntry and AddThenRemove_ExpirationTokens benchmarks
  src/benchmarks/micro/libraries/Microsoft.Extensions.Caching.Memory/MemoryCacheTests.cs
Due: azure-pipelines.yml

add CreateEntry and AddThenRemove_ExpirationTokens benchmarks (#1618)
  src/benchmarks/micro/libraries/Microsoft.Extensions.Caching.Memory/MemoryCacheTests.cs
Due: azure-pipelines.yml

Activate mirroring
  azure-pipelines.yml
Due: azure-pipelines.yml

Activate mirroring (#1620)
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix wrong SOH Size Range.
  src/benchmarks/gc/src/commonlib/bench_file.py
Due: azure-pipelines-gc.yml, azure-pipelines.yml

Remove Extension and Activity tests
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/Microsoft.Extensions.Caching.Memory/MemoryCacheTests.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ActivatorUtilitiesBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/GetServiceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/IEnumerableGetServiceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ScopeValidationBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ServiceProviderEngineBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/TimeToFirstServiceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Http/FakeClientHandler.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Http/FakeLoggerProvider.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/EventSourceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/LogValuesBenchmarks.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/LoggingBenchmarkBase.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/LoggingOverheadBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/ScopesOverheadBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Primitives/StringSegmentBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Primitives/StringValuesBenchmark.cs
  src/benchmarks/micro/libraries/System.Diagnostics/Perf_Activity.cs
Due: azure-pipelines.yml

Remove Extension and Activity tests (#1622)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/Microsoft.Extensions.Caching.Memory/MemoryCacheTests.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ActivatorUtilitiesBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/GetServiceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/IEnumerableGetServiceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ScopeValidationBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ServiceProviderEngineBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/TimeToFirstServiceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Http/FakeClientHandler.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Http/FakeLoggerProvider.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/EventSourceBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/LogValuesBenchmarks.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/LoggingBenchmarkBase.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/LoggingOverheadBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Logging/ScopesOverheadBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Primitives/StringSegmentBenchmark.cs
  src/benchmarks/micro/libraries/Microsoft.Extensions.Primitives/StringValuesBenchmark.cs
  src/benchmarks/micro/libraries/System.Diagnostics/Perf_Activity.cs
Due: azure-pipelines.yml

Change version of System.Threading.Channels
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines.yml

Change version of System.Threading.Channels (#1624)
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines.yml

Remove manual run type
  azure-pipelines.yml
Due: azure-pipelines.yml

Remove manual run type (#1625)
  azure-pipelines.yml
Due: azure-pipelines.yml

update link to Scenarios
  README.md
Due: none

update link to Scenarios (#1626)
  README.md
Due: none

Correct a wrong file name
  src/benchmarks/gc/jupyter_notebook.py
Due: azure-pipelines.yml

reorder channels, fixes #1628
  scripts/channel_map.py
Due: azure-pipelines.yml

reorder channels, fixes #1628 (#1631)
  scripts/channel_map.py
Due: azure-pipelines.yml

Expanding WriteJson benchmarks.
  src/benchmarks/micro/Serializers/DataGenerator.cs
  src/benchmarks/micro/libraries/System.Text.Json/Serializer/WriteJson.cs
Due: azure-pipelines.yml

Formatting.
  src/benchmarks/micro/Serializers/DataGenerator.cs
Due: azure-pipelines.yml

Correct a wrong file name (#1542)
  src/benchmarks/gc/jupyter_notebook.py
Due: azure-pipelines.yml

add OpenClose and OpenCloseAsync benchmarks
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines.yml

use the number of returned bytes to stop the Read benchmarks when entire file content was read
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines.yml

add overloads for Read|Write with CancellationToken
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines.yml

add CopyToFile benchmarks (the exisitng CopyTo benchmark writes to Stream.Null)
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines.yml

rewrite the benchmarks
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines.yml

make sure every benchmark has as many files as needed
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines.yml

add Lock and Unlock benchmarks
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.FileStream.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines.yml: any file but: docs, eng/common/README.md, src/benchmarks/micro/Serializers/README.md, src/benchmarks/micro/README.md, src/benchmarks/real-world/JitBench/README.md, src/benchmarks/real-world/Microsoft.ML.Benchmarks/Input/README.md, src/tools/ResultsComparer/README.md, README.md
