Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml

Fixing Syntax of the GC Pipeline Yaml (#4489)
  azure-pipelines.yml
  gc-azure-pipelines.yml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/FunctionalTests.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.NotebookTests/Utils.cs
Due: none

lint compilation errors fixed
  docs/blazor-scenarios.md
  docs/crossgen-scenarios.md
  eng/common/template-guidance.md
Due: azure-pipelines-micro.yml

more links to documentation pages added to the signpost
  docs/README.md
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/README.md
Due: none

Update the xcode we select to use to be Xcode 16 to support the latest Maui workload versions.
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Setup testing.
  azure-pipelines.yml
Due: none

Revert "Setup testing."
  azure-pipelines.yml
Due: none

Update Maui related versions.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Reapply "Setup testing."
  azure-pipelines.yml
  src/scenarios/shared/mauisharedpython.py
Due: none

Reapply "Setup testing."
  azure-pipelines.yml
Due: none

Pass argument into scenarios to enable uploading results (#4485)
  eng/performance/blazor_scenarios.proj
  eng/performance/maui_scenarios.proj
  eng/performance/maui_scenarios_android.proj
  eng/performance/maui_scenarios_ios.proj
  eng/performance/nativeaot_scenarios.proj
  eng/performance/scenarios.proj
  eng/performance/scenarios_affinitized.proj
  eng/performance/sdk_scenarios.proj
  scripts/run_performance_job.py
  scripts/send_to_helix.py
  src/scenarios/shared/androidinstrumentation.py
  src/scenarios/shared/crossgen.py
  src/scenarios/shared/devicepowerconsumption.py
  src/scenarios/shared/memoryconsumption.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/sod.py
  src/scenarios/shared/startup.py
  src/scenarios/shared/testtraits.py
  src/scenarios/shared/util.py
Due: azure-pipelines-micro.yml

Update Nuget.Config and Version.Details.xml again.
  NuGet.config
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Revert "Reapply "Setup testing.""
  azure-pipelines.yml
  src/scenarios/shared/mauisharedpython.py
Due: none

Revert "Reapply "Setup testing.""
  azure-pipelines.yml
Due: none

Update xcode version for Maui iOS Builds and update Maui Versions (#4508)
  NuGet.config
  eng/Version.Details.xml
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

[S] Documentation signpost added (#4501)
  README.md
  docs/README.md
  docs/blazor-scenarios.md
  docs/crossgen-scenarios.md
  eng/common/template-guidance.md
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/README.md
Due: azure-pipelines-micro.yml

Cleanup Reporting.Reporter tool
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
  src/tools/Reporting/Reporting.Tests/EnvironmentProviderMock.cs
  src/tools/Reporting/Reporting.Tests/ReporterTests.cs
  src/tools/Reporting/Reporting/Build.cs
  src/tools/Reporting/Reporting/Counter.cs
  src/tools/Reporting/Reporting/EnvironmentExtensions.cs
  src/tools/Reporting/Reporting/EnvironmentProvider.cs
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/Reporting/Reporting/Run.cs
  src/tools/Reporting/Reporting/Test.cs
  src/tools/ScenarioMeasurement/MemoryConsumption/MemoryConsumption.cs
  src/tools/ScenarioMeasurement/PowerConsumption/PowerConsumption.cs
  src/tools/ScenarioMeasurement/SizeOnDisk/SizeOnDisk.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: azure-pipelines-micro.yml

Add some benchmarks for array deabstraction
  src/benchmarks/micro/runtime/DeAbstraction/Array.cs
Due: azure-pipelines-micro.yml

Add 9.0.0 feed to fix build failure for now.
  NuGet.config
  src/tools/NuGet.config
Due: none

Add some benchmarks for array deabstraction (#4522)
  src/benchmarks/micro/runtime/DeAbstraction/Array.cs
Due: azure-pipelines-micro.yml

Run updates and add windowsdesktop and aspnetcore dependencies.
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Remove NuGet.config because darc does not seem to support updating package mappings.
  src/tools/NuGet.config
Due: none

Revert "Remove NuGet.config because darc does not seem to support updating package mappings."
  src/tools/NuGet.config
Due: none

Remove NuGet.config because darc does not seem to support updating package mappings and disable the warning for not having package mappings.
  src/Directory.Build.props
  src/tools/NuGet.config
Due: none

Fix targetting for 9.0.0 packages. (#4523)
  NuGet.config
  eng/Version.Details.xml
  src/Directory.Build.props
  src/tools/NuGet.config
  src/tools/ScenarioMeasurement/Directory.Build.props
  src/tools/ScenarioMeasurement/Util/Util.csproj
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Fix missing dependency closing tag.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Fix missing dependency closing tag. (#4528)
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Removed no longer necessary Maui 8 package feeds and updated the iOS related rollback mappings back to default.
  NuGet.config
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Fix version parsing of versions without -alpha/preview/rc/rtm, etc.
  src/scenarios/shared/mauisharedpython.py
Due: none

Add no warn for the rest of the warnings from package source mapping in ScenariosMeasurements.
  src/tools/ScenarioMeasurement/Directory.Build.props
Due: none

Removed no longer necessary Maui 8 package feeds and rollback mappings (#4527)
  NuGet.config
  eng/Version.Details.xml
  src/scenarios/shared/mauisharedpython.py
  src/tools/ScenarioMeasurement/Directory.Build.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Add emsdk feed to fix blazor_scenarios.
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Add emsdk feed to fix blazor_scenarios. (#4541)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Update README.md
  README.md
Due: none

Update README.md (#4549)
  README.md
Due: none
