Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
  ...

setup mobile jobs
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

remove payload bin obj before zipping
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix exception handling in resource monitoring loop to continue on error
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Switch public build jobs to NetCore-Public pool with custom images
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Correct WasmMainJSPath to match changes in https://github.com/dotnet/BenchmarkDotNet/pull/2998.
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update Maui iOS scenario benchmarks to use CoreCLR default codegen
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Move responsibility for test-main to BDN.
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
  src/benchmarks/micro/MicroBenchmarks.Wasm.targets
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Switch public build jobs to NetCore-Public pool with custom images (#5113)
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix exception handling in resource monitoring loop to continue on error (#5115)
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Update Maui iOS scenario benchmarks to use CoreCLR default codegen (#5116)
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Switch private build jobs to NetCore1ESPool-Internal pool with custom images
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix startup scenario test failures on .NET 11 Preview 2
  src/scenarios/emptyconsolenativeaot/pre.py
  src/scenarios/emptyconsoletemplate/pre.py
  src/scenarios/shared/codefixes.py
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

remove whitespace
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

re-enable jobs
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add switch for coreclr per tests.
  scripts/micro_benchmarks.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add benchmarks for Zstandard (#4974)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.IO.Compression/Zstandard.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add MAUI --sample-content test app for iOS (#5117)
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/mauisamplecontentios/post.py
  src/scenarios/mauisamplecontentios/pre.py
  src/scenarios/mauisamplecontentios/test.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Gate WPF scenarios to internal runs due to CloseFailed on CI VMs
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add concurrent benchmarks for MemoryCache SizeLimit contention
  src/benchmarks/micro/libraries/Microsoft.Extensions.Caching.Memory/MemoryCacheSizeLimitContentionTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update BDN version to include associated BDN version.
  eng/Versions.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

create sve category and add it to existing sve micro benchmarks
  src/benchmarks/micro/Categories.cs
  src/benchmarks/micro/sve/AddReduction.cs
  src/benchmarks/micro/sve/Logarithm.cs
  src/benchmarks/micro/sve/MultiplyAdd.cs
  src/benchmarks/micro/sve/Partition.cs
  src/benchmarks/micro/sve/SquareRoot.cs
  src/benchmarks/micro/sve/StrCmp.cs
  src/benchmarks/micro/sve/StrIndexOf.cs
  src/benchmarks/micro/sve/StrLen.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Wire --wasm-coreclr through run_performance_job to benchmarks_ci
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Suppress CS9057 analyzer version mismatch for older SDKs
  src/Directory.Build.props
Due: azure-pipelines.yml

Remove test-main.js requirement from WASM payload build
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address PR feedback: add empty-results tests, skip report on failure
  src/tools/Reporting/Reporting.Tests/ReporterTests.cs
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Make WasmOverridePacks.targets support both Mono and CoreCLR packs
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines.yml

Install CoreCLR browser-wasm runtime pack into dotnet packs
  scripts/build_runtime_payload.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Setup testing.
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update the WasmRuntimePackPrefix to support CoreCLR.
  src/scenarios/build-common/WasmOverridePacks.targets
Due: azure-pipelines.yml

Fix startup scenario test failures on .NET 11 Preview 2 (#5119)
  eng/performance/scenarios.proj
  src/scenarios/emptyconsolenativeaot/pre.py
  src/scenarios/emptyconsoletemplate/pre.py
  src/scenarios/shared/codefixes.py
  src/tools/Reporting/Reporting.Tests/ReporterTests.cs
  src/tools/Reporting/Reporting/Reporter.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add CoreCLR WASM benchmark support.
  eng/pipelines/runtime-wasm-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update docs and infrastructure to target .NET 11.0 private builds
  docs/benchmarking-workflow-dotnet-runtime.md
  docs/profiling-workflow-dotnet-runtime.md
  global.net11.json
  src/benchmarks/micro/README.md
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix Arcade/Helix SDK versions in global.net11.json to 11.0.0-beta
  global.net11.json
Due: azure-pipelines.yml

Remove global.net11.json - not needed
  global.net11.json
Due: azure-pipelines.yml

Fix markdownlint CI: bump Node.js 16 to 20 and actions to v4
  .github/workflows/markdownlint.yml
Due: azure-pipelines.yml

Fix pre-existing doc issues spotted by reviewer
  docs/benchmarking-workflow-dotnet-runtime.md
  src/benchmarks/micro/README.md
Due: azure-pipelines-micro.yml

Disable MD060 table-column-style rule (new in markdownlint 0.36+)
  .markdownlint.jsonc
Due: azure-pipelines.yml

Fix doubled quotes on --bdn-arguments in MonoAOT/Interpreter/JIT docs
  docs/benchmarking-workflow-dotnet-runtime.md
Due: none

Add binary data and non-ASCII alternation benchmarks for LeadingStrings
  src/benchmarks/micro/libraries/System.Text.RegularExpressions/Perf.Regex.Industry.LeadingStrings.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update docs and infrastructure to target .NET 11.0 private builds (#5125)
  .github/workflows/markdownlint.yml
  .markdownlint.jsonc
  docs/benchmarking-workflow-dotnet-runtime.md
  docs/profiling-workflow-dotnet-runtime.md
  src/benchmarks/micro/README.md
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
