Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
  ...

Remove unused pr.yml (#2631)
  eng/performance/pr.yml
Due: azure-pipelines-micro.yml

Fix links for public builds. (#2632)
  README.md
Due: none

Remove .NET 5 links, because it's no longer officially supported
  README.md
Due: none

Address feedback
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Remove .NET 5 links, because it's no longer officially supported (#2635)
  README.md
Due: none

Add ability to fetch an internal build
  scripts/benchmarks_ci.py
  scripts/benchmarks_monthly.py
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Remove printing of secrets, add --azure-feed-url argument
  scripts/benchmarks_ci.py
  scripts/benchmarks_monthly.py
  scripts/dotnet.py
  scripts/performance/common.py
Due: azure-pipelines-micro.yml

Add ability to fetch an internal RC2 build using a secret "--internal-build-key" argument fetched from a keyvault (#2638)
  scripts/benchmarks_ci.py
  scripts/benchmarks_monthly.py
  scripts/dotnet.py
  scripts/performance/common.py
Due: azure-pipelines-micro.yml

Bumped BDN version.
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Use latest docker containers
  azure-pipelines.yml
Due: none

Fix parameter passing into dotnet.build.
  src/scenarios/shared/precommands.py
Due: none

Basic linker benchmarks (#2581)
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  src/benchmarks/real-world/ILLink/BasicBenchmark.cs
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/benchmarks/real-world/ILLink/MSBuildBenchmark.cs
  src/benchmarks/real-world/ILLink/Program.cs
  src/benchmarks/real-world/ILLink/SampleProject/.gitignore
  src/benchmarks/real-world/ILLink/SampleProject/HelloWorld.template.csproj
  src/benchmarks/real-world/ILLink/SampleProject/Program.cs
  src/benchmarks/real-world/ILLink/Utilities.cs
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Fix parameter passing into dotnet.build. (#2643)
  src/scenarios/shared/precommands.py
Due: none

Try only installing maui-windows workload.
  azure-pipelines.yml
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauidesktop/pre.py
Due: none

Setup testing job in correct place.
  azure-pipelines.yml
Due: none

Use latest docker containers (#2642)
  azure-pipelines.yml
Due: none

fix the build
  src/harness/BenchmarkDotNet.Extensions/DiffableDisassemblyExporter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Revert "Add Parameter Filter (#2314)"
  .gitignore
  src/benchmarks/micro/Program.cs
  src/harness/BenchmarkDotNet.Extensions/CommandLineOptions.cs
  src/harness/BenchmarkDotNet.Extensions/ParameterFilter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Keep updated .gitignore.
  .gitignore
Due: none

Bumped BDN version (#2639)
  src/benchmarks/micro/Program.cs
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/CommandLineOptions.cs
  src/harness/BenchmarkDotNet.Extensions/DiffableDisassemblyExporter.cs
  src/harness/BenchmarkDotNet.Extensions/ParameterFilter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
Due: azure-pipelines-micro.yml

Don't run Maui Desktop for arm runs as they are not fully supported: https://github.com/xamarin/xamarin-android/blob/main/Documentation/guides/WindowsOnArm64.md (currently needs manual work around).
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Revert "Try only installing maui-windows workload."
  src/scenarios/mauiblazordesktop/pre.py
  src/scenarios/mauidesktop/pre.py
Due: none

Remove the added testing scenario.
  azure-pipelines.yml
Due: none

[MAUI] Remove Maui desktop tests from Arm (#2652)
  eng/performance/scenarios.proj
Due: azure-pipelines-micro.yml

Create the file system test directory if it does not exist.
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs
Due: azure-pipelines-micro.yml

Update BDN to 0.13.2.1950.
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Set BDN version in FSharp tests to full version, and make a single spot to hold the version of BDN.
  eng/Versions.props
  src/benchmarks/real-world/FSharp/FSharp.fsproj
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Update BDN to 0.13.2.1950. (#2655)
  eng/Versions.props
  src/benchmarks/real-world/FSharp/FSharp.fsproj
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
Due: azure-pipelines-micro.yml

Squash.
  eng/performance/PreparePayloadWorkItems.targets
  eng/performance/blazor_scenarios.proj
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml

Reduce randomness of invoke benchmarks (#2602)
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Create the file system test directory if it does not exist. (#2654)
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs
Due: azure-pipelines-micro.yml

Add Environment namespace to fix specialfolderoptions not found.
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs
Due: azure-pipelines-micro.yml

Add Environment namespace to fix specialfolderoptions not found. (#2658)
  src/benchmarks/micro/libraries/System.IO.FileSystem/Perf.File.cs
Due: azure-pipelines-micro.yml

Setup testing. pt.1
  azure-pipelines.yml
  eng/performance/sdk_scenarios.proj
  src/scenarios/shared/startup.py
Due: azure-pipelines-micro.yml

Try logging the number of counters found to see if that is where the F# failures are coming from.
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: none

Only test the failing job.
  azure-pipelines.yml
Due: none

Prepare scenarios before sending to Helix (#2641)
  eng/performance/PreparePayloadWorkItems.targets
  eng/performance/blazor_scenarios.proj
  eng/performance/scenarios.proj
  eng/performance/scenarios.yml
  eng/performance/sdk_scenarios.proj
Due: azure-pipelines-micro.yml

Update scenario type to be actual one being used.
  src/scenarios/fsharpcompilerservice/test.py
Due: none

Add more logging to debug F#.
  src/scenarios/shared/startup.py
  src/tools/ScenarioMeasurement/Startup/ProcessTimeParser.cs
  src/tools/ScenarioMeasurement/Startup/Startup.cs
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml
