Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

azure-pipelines-gc.yml:
  jobs:
  - template: /eng/performance/gc_jobs.yml
    parameters:
      osName: windows
      osVersion: RS5
      architecture: x64
      pool: Hosted VS2017
      kind: scenarios
      queue: Windows.10.Amd64.ClientRS5.Open

azure-pipelines-micro.yml:
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/benchmark_jobs.yml
      parameters:
        osName: windows
        osVersion: 21H1
        kind: micro
        architecture: x64
        pool:
          vmImage: windows-2019
        machinePool: Open
  ...

azure-pipelines-scenarios.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  jobs:
  - ${{ if eq(variables['System.TeamProject'], 'public') }}:
    - template: /eng/performance/scenarios.yml
      parameters:
        osName: windows
        osVersion: 21H1
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 */12 * * *
    displayName: Every 12 hours build
    branches:
      include:
      - main
    always: true
  - cron: 0 21 * * THU
    displayName: Weekly Build
    branches:
      include:
      - main
    always: true
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  ...

Add missing argument to script
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix bugs
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix command line parsing
  src/harness/BenchmarkDotNet.Extensions/PerfLabCommandLineOptions.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

enable collecting dump for gcperfsim-functional test (#4910)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimFunctionalCommand.cs
Due: none

Abstract out payload building
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Minor fixes
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Abstracting out more parts
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Some more cleanup/fixes
  scripts/benchmarks_ci.py
  scripts/run_performance_job.py
  src/harness/BenchmarkDotNet.Extensions/PerfLabCommandLineOptions.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove csproj changes (kept in separate branch)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/Program.cs
  src/harness/BenchmarkDotNet.Extensions/BenchmarkDotNet.Extensions.csproj
  src/harness/BenchmarkDotNet.Extensions/BenchmarkManifest.cs
  src/harness/BenchmarkDotNet.Extensions/CommandLineOptions.cs
  src/harness/BenchmarkDotNet.Extensions/ExclusionFilter.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabCommandLineOptions.cs
  src/harness/BenchmarkDotNet.Extensions/PerfLabExporter.cs
  src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs
  src/harness/BenchmarkDotNet.Extensions/TestNameFilter.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/CommandLineOptionsTests.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add some documentation/cleanup
  .gitignore
  .vscode/settings.json
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove python/yml changes (now in a separate PR)
  .vscode/settings.json
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  requirements.txt
  scripts/benchmarks_ci.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update target framework for microbenchmarks
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
Due: azure-pipelines.yml

Add benchmark for ImmutableArrayExtensions
  src/benchmarks/micro/libraries/System.Linq/ImmutableArrayExtensions.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

update microbenchmarks base config and remove hard code
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
Due: none

Remove an invalid coherency parent
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Remove an invalid coherency parent (#4916)
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Update src/benchmarks/micro/libraries/System.Linq/ImmutableArrayExtensions.cs
  src/benchmarks/micro/libraries/System.Linq/ImmutableArrayExtensions.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Rename ImmutableArrayExtensions.cs to Perf.ImmutableArrayExtensions.cs
  src/benchmarks/micro/libraries/System.Linq/Perf.ImmutableArrayExtensions.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Address PR comments
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Allow for building helix payloads directly from build artifacts in python (#4911)
  .gitignore
  .vscode/settings.json
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  requirements.txt
  scripts/benchmarks_ci.py
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Fix duplicated test name in Perf.TypeName and update validation (#4898)
  src/benchmarks/micro/libraries/System.Reflection.Metadata/Perf.TypeName.cs
  src/harness/BenchmarkDotNet.Extensions/UniqueArgumentsValidator.cs
  src/tools/Reporting/Reporting/Reporter.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

replace traceName with key
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
Due: none

add mcp server
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API.sln
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/AspNetBenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GC.Infrastructure.MCPServer.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GCPerfsim.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Microbenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Program.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Run.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/GCPerfSim/GCPerfSimCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Change registry key and check administrator role for Windows
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Program.cs
Due: none

Ensure cross build param is passed when creating core root
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Ensure cross build param is passed when creating core root (#4919)
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/build_runtime_payload.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

AddAnalyzeAndAggregateCommand to GC infra. (#4848)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestAnalyze.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAggregateCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

resolve issues in PR#4848
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAggregateCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestAnalyzeCommand.cs
Due: none

Add create test suite command to gc infra. (#4803)
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFrameworkTestCreateSuite.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestCreateTestSuite.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Utilities.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/TestingScript.ps1.txt
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/TestingScript.sh.txt
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/finalization.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/loh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/non_induced.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/ReliabilityFramework/poh.config
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/GC.Infrastructure.csproj
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

return output path for llm to load and parse results
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/AspNetBenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/GCPerfsim.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Microbenchmarks.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.MCPServer/Run.cs
Due: none

Use short name RF for ReliabilityFramework and structure the console logs
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFrameworkTestCreateSuite.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTest.CreateTestSuite.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestCreateSuites.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/ReliabilityFrameworkTestCreateTestSuite.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFCreateSuitesCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/ReliabilityFrameworkTestAggregateCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/ReliabilityFrameworkTestAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFrameworkTest/ReliabilityFrameworkTestCreateTestSuiteCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

Updated Darc Dependencies to latest where possible.
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Add latest android windows sdk version.
  eng/Version.Details.xml
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Disable non-android tests.
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Manually add missing android reference.
  NuGet.config
Due: azure-pipelines.yml

Revert "Disable non-android tests."
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Update darc dependencies (#4925)
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

fix addressed issues in PR#4803
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFCreateSuitesCommand.cs
Due: none

Use short name for Relibility Framework
  src/benchmarks/gc/GC.Infrastructure/Configurations/ReliabilityFrameworkTestCreateSuite.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFAnalyze.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/RFCreateSuites.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFAggregateCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ReliabilityFramework/RFAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Program.cs
Due: none

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc
