Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Fix arm64 on Ubuntu build.
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Command formatting
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Move runs to 22.04 queues
  azure-pipelines.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Update condition for artifact path
  eng/performance/benchmark_jobs.yml
Due: azure-pipelines-micro.yml

Cleanup some comments, add reinstall-dotnet for benchmark building dotnet version, and prepare for moving to two paths for running benchmarks.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Split benchmark running and arg generation into multi-commit and single commit runs as Wasm scenarios only support one test set at a time via command line.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add hybrid globalization perf jobs for Maui scenarios
  azure-pipelines.yml
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  eng/performance/send-to-helix.yml
Due: azure-pipelines-micro.yml

Run only Maui iOS scenarios
  azure-pipelines.yml
Due: none

Add hybrid globalization command
  eng/performance/maui_scenarios_ios.proj
  src/scenarios/shared/precommands.py
Due: azure-pipelines-micro.yml

Conditionally pass --hybrid-globalization param
  eng/performance/maui_scenarios_ios.proj
Due: azure-pipelines-micro.yml

Update job name
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Update properties
  eng/performance/maui_scenarios_ios.proj
  eng/performance/scenarios.yml
  eng/performance/send-to-helix.yml
Due: azure-pipelines-micro.yml

Fix typo
  eng/performance/send-to-helix.yml
Due: azure-pipelines-micro.yml

Revert disabled jobs
  azure-pipelines.yml
Due: none

Fix lint
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Move runs to 22.04 queues (#3258)
  azure-pipelines.yml
  eng/performance/benchmark_jobs.yml
  eng/performance/build_machine_matrix.yml
Due: azure-pipelines-micro.yml

Updated the heap hard limit for the large page scenarios
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
Due: none

Added feedback.
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
Due: none

Improved the overall asp.net benchmark analysis
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksAnalyzeCommand.cs
Due: none

Remove duplicate strings causing ; to enter as a new line.
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

Remove duplicate strings causing ; to enter as a new line. (#3268)
  scripts/ci_setup.py
Due: azure-pipelines-micro.yml

Command formatting (#3259)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Fix arm64 on Ubuntu build. (#3260)
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Update prereqs area for correctness, and added commit to single BDN run artifacts.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Added a fix for missing formats and missing names
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/CommandBuilders/ASPNetBenchmarks.CommandBuilder.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Presentation.cs
Due: none

Updated the heap hard limit for the large page scenarios (#3264)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
Due: none

Improved the overall asp.net benchmark analysis (#3266)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksAnalyzeCommand.cs
Due: none

Support processor groups in the affinity assertions
  src/benchmarks/gc/src/commonlib/bench_file.py
Due: azure-pipelines-gc.yml

Remove wrong comment.
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Make the ILLink benchmark much more realistic
  src/benchmarks/real-world/ILLink/BasicBenchmark.cs
Due: azure-pipelines-micro.yml

Rename WasmWasm to WasmInterpreter.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Remove wrong comment. (#3276)
  scripts/dotnet.py
Due: azure-pipelines-micro.yml

Revert "Temporarily increase timeouts for perf jobs, because of limited capacity in "ubuntu.1804.amd64.tiger.perf" queue. (#3205)"
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Revert "Temporarily increase timeouts for perf jobs, because of limited capacity in "ubuntu.1804.amd64.tiger.perf" queue. (#3205)" (#3279)
  eng/performance/benchmark_jobs.yml
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Resolve PR conflict
  eng/performance/scenarios.yml
Due: azure-pipelines-micro.yml

Added an override nuget feed for some packages that don't exist in our eng feeds
  src/benchmarks/gc/GC.Infrastructure/NuGet.config
Due: none

Added more documentation for running notebooks and message that we'll be deprecating the python infra
  src/benchmarks/gc/GC.Infrastructure/Notebooks/README.md
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Update src/benchmarks/gc/GC.Infrastructure/README.md
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none
