Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml

Ensure sys.exit is called in run_performance_job.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Update the wasmnet10_0 runtime to include the underscore following the latest BDN update.
  scripts/micro_benchmarks.py
Due: azure-pipelines-micro.yml

Standardize xharness_adb calls and use it everywhere in place of the old adb calls. Along with some other smaller cleanup.
  eng/Version.Details.xml
  eng/performance/maui_scenarios_android.proj
  src/scenarios/bdnandroid/pre.py
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/androidinstrumentation.py
  src/scenarios/shared/devicepowerconsumption.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/util.py
Due: azure-pipelines-micro.yml, azure-pipelines-scenarios.yml

Revert RunCommand back to its original state as we should be able to get runs working with minimal or no changes to it.
  scripts/performance/common.py
  src/scenarios/shared/androidhelper.py
Due: azure-pipelines-micro.yml

Fix missing xharnesscommand import.
  src/scenarios/shared/androidhelper.py
Due: none

Fix improper list() usage
  scripts/upload.py
Due: azure-pipelines-micro.yml

Yaml testing changes
  azure-pipelines.yml
  scripts/upload.py
Due: azure-pipelines-micro.yml

Make RunCommand verbose
  scripts/upload.py
Due: azure-pipelines-micro.yml

Fix incorrect runcommand call in instrumented runs, also setup logcat to be printed out in the case of failure during memory consumption tests.
  src/scenarios/shared/androidinstrumentation.py
  src/scenarios/shared/runner.py
Due: none

Update BDN version to support more net10.0 testing. (#4622)
  eng/Versions.props
  scripts/micro_benchmarks.py
  src/benchmarks/real-world/ILLink/ILLinkBenchmarks.csproj
  src/benchmarks/real-world/Roslyn/CompilerBenchmarks.csproj
  src/benchmarks/real-world/Roslyn/Helpers.cs
  src/benchmarks/real-world/Roslyn/StageBenchmarks.cs
Due: azure-pipelines-micro.yml

Undo some testing changes.
  src/scenarios/shared/runner.py
Due: none

Reset azure-pipelines.yml file testing changes.
  azure-pipelines.yml
Due: none

Reset 2 missed azure-pipelines.yml file testing changes.
  azure-pipelines.yml
Due: none

Fix missed testing change per feedback.
  src/scenarios/bdnandroid/pre.py
Due: none

Fixed up the events
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/DynamicEvents/GCDynamicEvents.cs
Due: none

Testing
  azure-pipelines.yml
Due: none

Update hardcoded xHarness version and adb call flow (#4635)
  eng/performance/maui_scenarios_android.proj
  scripts/performance/common.py
  src/scenarios/bdnandroid/pre.py
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/androidinstrumentation.py
  src/scenarios/shared/devicepowerconsumption.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/util.py
Due: azure-pipelines-micro.yml

Add feature to RunCommand to not echo stdout
  scripts/performance/common.py
  scripts/upload.py
Due: azure-pipelines-micro.yml

Move all runtime jobs to performance repository
  eng/performance/templates/run-performance-job.yml
  eng/performance/templates/runtime-ios-scenarios-perf-jobs.yml
  eng/performance/templates/runtime-perf-job.yml
  eng/performance/templates/runtime-perf-jobs.yml
  eng/performance/templates/runtime-perf-slow-jobs.yml
  eng/performance/templates/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml

Fix cross repository template reference
  eng/performance/templates/runtime-ios-scenarios-perf-jobs.yml
  eng/performance/templates/runtime-perf-jobs.yml
  eng/performance/templates/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml

Ensure runtime-perf-job.yml uses repository reference
  eng/performance/templates/runtime-ios-scenarios-perf-jobs.yml
  eng/performance/templates/runtime-perf-jobs.yml
  eng/performance/templates/runtime-perf-slow-jobs.yml
  eng/performance/templates/runtime-wasm-perf-jobs.yml
Due: azure-pipelines-micro.yml

Ensure runtime is cloned first as it cleans the directory
  eng/performance/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml

Port changes from dotnet/runtime
  eng/performance/templates/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml

Fix template conditions
  eng/performance/templates/run-performance-job.yml
  eng/performance/templates/runtime-perf-slow-jobs.yml
Due: azure-pipelines-micro.yml

Fix template condition
  eng/performance/templates/runtime-perf-slow-jobs.yml
Due: azure-pipelines-micro.yml

Set correct path to performance repository
  eng/performance/templates/run-performance-job.yml
Due: azure-pipelines-micro.yml

Move pipelines to separate directory
  azure-pipelines.yml
  eng/pipelines/runtime-ios-scenarios-perf-jobs.yml
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/runtime-perf-slow-jobs.yml
  eng/pipelines/runtime-wasm-perf-jobs.yml
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  eng/pipelines/templates/download-artifact-step.yml
  eng/pipelines/templates/download-specific-artifact-step.yml
  eng/pipelines/templates/run-performance-job-script-step.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/run-scenarios-job.yml
  eng/pipelines/templates/runtime-perf-job.yml
  eng/pipelines/templates/send-to-helix-step.yml
Due: azure-pipelines-micro.yml

Fix incorrect template for download artifact step
  eng/pipelines/templates/runtime-perf-job.yml
Due: azure-pipelines-micro.yml

Fix unbalanced parentheses
  azure-pipelines.yml
Due: none

Fix more unbalanced parentheses
  azure-pipelines.yml
Due: none

Fix indentation
  eng/pipelines/sdk-perf-jobs.yml
Due: azure-pipelines-micro.yml

Add benchmarking for whitespace detection in strings
  src/benchmarks/micro/libraries/System.Memory/ReadOnlySpan.cs
Due: azure-pipelines-micro.yml

Update IsWhiteSpaceArguments
  src/benchmarks/micro/libraries/System.Memory/ReadOnlySpan.cs
Due: azure-pipelines-micro.yml

Remove pragma and fixup tests
  src/tools/CertHelper/Constants.cs
  src/tools/CertHelper/IX509Store.cs
  src/tools/CertHelper/Program.cs
  src/tools/CertHelperTests/KeyVaultCertTests.cs
Due: none

Update moq version
  src/tools/CertHelperTests/CertRotatorTests.csproj
  src/tools/CertHelperTests/KeyVaultCertTests.cs
Due: none

Remove testing changes
  azure-pipelines.yml
Due: none

Remove a few more testing changes
  azure-pipelines.yml
Due: none

Remove last testing change
  azure-pipelines.yml
Due: none

Add simple logging
  src/tools/CertHelper/CertHelper.csproj
  src/tools/CertHelper/Program.cs
Due: none

Remove unnecessary string yields in ReadOnlySpan.cs
  src/benchmarks/micro/libraries/System.Memory/ReadOnlySpan.cs
Due: azure-pipelines-micro.yml
