Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any file but: docs, **/*.md, gc-azure-pipelines.yml, src/benchmarks/gc

Fix brittle matrix comparison test
  src/tools/ResultsComparer.Tests/ProgramTests.cs
Due: azure-pipelines.yml

Restore culture after invoking ResultsComparer
  src/tools/ResultsComparer.Tests/ProgramTests.cs
Due: azure-pipelines.yml

Potential fix for pull request finding
  src/benchmarks/micro/libraries/System.Runtime/Perf.String.cs
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add CSV benchmarks for string.Split (#4659)
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Runtime/Perf.String.cs
  src/benchmarks/micro/libraries/System.Runtime/TestData/500_cities.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/THIRD-PARTY-NOTICES.TXT
  src/benchmarks/micro/libraries/System.Runtime/TestData/TMEDTREND_PUBLIC_240528.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/ai_inventory.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/date_table.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/motor_fuel_sales.csv
  src/benchmarks/micro/libraries/System.Runtime/TestData/tri_2012_nd.csv
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Bump Newtonsoft.Json for tooling tests
  src/tools/Reporting/Directory.Packages.props
  src/tools/ResultsComparer/Directory.Packages.props
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Temporarily disable cobalt perf jobs (machines offline)
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Use net10 MicroBenchmarks in harness tests
  eng/pipelines/sdk-perf-jobs.yml
  src/tests/harness/BenchmarkDotNet.Extensions.Tests/BenchmarkDotNet.Extensions.Tests.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Temporarily disable cobalt perf jobs (machines offline) (#5208)
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Try Mac.iPhone.13.Perf queue for iOS inner loop
  eng/pipelines/templates/build-machine-matrix.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Add SDK version capture + diagnostics to mauiandroidinnerloop
  src/scenarios/mauiandroidinnerloop/pre.py
  src/scenarios/mauiandroidinnerloop/setup_helix.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Address copilot review notes
  src/scenarios/shared/runner.py
  src/scenarios/shared/startup.py
Due: azure-pipelines.yml

Log rollback_maui.json contents on Helix machine
  src/scenarios/mauiandroidinnerloop/setup_helix.py
Due: azure-pipelines.yml

Disable NuGet package pruning to keep Microsoft.Extensions.* assemblies app-local
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

add iterations section for end-2-end config and set for microbenchmarks when creating suites
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/InputConfiguration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/Microbenchmarks.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/Microbenchmarks.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/CreateSuiteCommand.cs
Due: none

add metric filter for gcperfsim test (#5186)
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/GCPerfSim/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/LowVolatilityRuns.yaml
Due: none

Fix GC pipeline
  gc-azure-pipelines.yml
Due: none

Switch to NetCore-Public with ImageOverride
  gc-azure-pipelines.yml
Due: none

Temporary change to trigger the GC pipeline
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Update gc-azure-pipelines.yml
  gc-azure-pipelines.yml
Due: none

Disable NuGet package pruning to keep Microsoft.Extensions.* assemblies app-local (#5209)
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Try to use the vmImage again
  gc-azure-pipelines.yml
Due: none

Add missing .NET 11
  gc-azure-pipelines.yml
Due: none

Switch tests to core unit tests
  gc-azure-pipelines.yml
Due: none

add json-trace map and implement AnalyzeForBenchmark
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultsAnalyzer.cs
Due: none

Try to fix the test task by explicitly specifying .NET 8.0 framework
  gc-azure-pipelines.yml
Due: none

Fix indent tab and build config
  gc-azure-pipelines.yml
Due: none

Remove temporary change in .cs file
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
Due: none

Fix GC pipeline (#5210)
  gc-azure-pipelines.yml
Due: none

Add explicit PackageReferences for transitive Microsoft.Extensions.* abstractions
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Remove stale Android cold startup helper
  src/scenarios/shared/androidhelper.py
Due: azure-pipelines.yml

Migrate MAUI Android Inner Loop startup measurement to logcat polling
  src/scenarios/shared/androidhelper.py
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Switch MAUI Android Inner Loop to 'dotnet run -p:WaitForExit=false'
  src/scenarios/shared/runner.py
Due: azure-pipelines.yml

Re-enable Cobalt perf runs
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Also add Microsoft.Extensions.Configuration.Abstractions explicit ref
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Re-enable Cobalt perf runs (#5212)
  eng/pipelines/runtime-perf-jobs.yml
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Also add Microsoft.Extensions.Caching.Abstractions explicit ref
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Shield SDK resolver from upstream global.json with paths entry
  scripts/dotnet.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Strip sdk.paths instead of writing empty global.json
  scripts/dotnet.py
Due: azure-pipelines-micro.yml, azure-pipelines.yml

Calculate comparison result by benchmark name, rename classes and adjust namespaces
  src/benchmarks/gc/GC.Infrastructure/GC.Analysis.API/Statistics.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/BdnJsonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetricComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/GCTraceMetrics.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkComparisonResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResult.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultComparison.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResults.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Analysis/Microbenchmarks/MicrobenchmarkResultsAnalyzer.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Json.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Json/JsonOutput.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Markdown.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Presentation/Microbenchmarks/Presentation.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkAnalyzeCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/Microbenchmark/MicrobenchmarkCommand.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/MicrobenchmarksToRun.txt
Due: none

Apply suggestions from code review
  src/benchmarks/micro/MicroBenchmarks.csproj
Due: azure-pipelines-micro.yml, azure-pipelines.yml
