Repository dotnet/performance: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-gc.yml, azure-pipelines-micro.yml, azure-pipelines-scenarios.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-gc.yml: any of: src/benchmarks/gc/__main__.py, src/benchmarks/gc/src, but not: src/benchmarks/gc/docs, src/benchmarks/gc/.gitignore, src/benchmarks/gc/README.md, src/benchmarks/gc/jupyter_notebook.py
  azure-pipelines-micro.yml: any of: src/benchmarks/micro, src/benchmarks/real-world, src/harness, src/tools/Reporting, scripts, eng, but not: scripts/benchmarks_monthly.py
  azure-pipelines-scenarios.yml: any of: eng/Version.Details.xml
  azure-pipelines.yml: any of: eng/Version.Details.xml

Update README to point to the machines available from ASP.NET. (#3814)
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Removed trailing spaces to fix md linting
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Support runCategories and csproj in benchmark_jobs.yml
  eng/performance/benchmark_jobs.yml
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix typo in yaml
  eng/performance/benchmark_jobs.yml
Due: azure-pipelines-micro.yml

Try surround csproj path with quotes to keep backslash
  eng/performance/benchmark_jobs.yml
Due: azure-pipelines-micro.yml

Convert target csproj path to target OS path
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Add benchmark to verify performance of dependency injection container validation on build
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ScopeValidationOnBuildBenchmark.cs
Due: azure-pipelines-micro.yml

Type.GetType benchmarks
  src/benchmarks/micro/libraries/System.Runtime/Perf.Type.cs
Due: azure-pipelines-micro.yml

Fix performance directory issues
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Fix SYSTEM_ACCESSTOKEN not being propagated
  eng/performance/send-to-helix.yml
Due: azure-pipelines-micro.yml

Re-enable 8.0 device Maui tests (#3873)
  azure-pipelines.yml
  global.net8.json
Due: none

Add binlog output when building all scenario dotnet projects
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Update 2004 -> 2204
  helix.yml
Due: none

benchmarks that use the overload that accepts assembly and type resolvers
  src/benchmarks/micro/libraries/System.Runtime/Perf.Type.cs
Due: azure-pipelines-micro.yml

Update scripts/run_performance_job.py
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Consolidate yaml/script/proj logic into a single python script that is reusable across all contexts (#3806)
  .gitignore
  eng/performance/Scenarios.Common.props
  eng/performance/benchmark_jobs.yml
  eng/performance/blazor_scenarios.proj
  eng/performance/helix.proj
  eng/performance/scenarios.yml
  eng/performance/send-to-helix.yml
  helix.yml
  requirements.txt
  scripts/benchmarks_local.py
  scripts/benchmarks_monthly.py
  scripts/benchmarks_monthly_upload.py
  scripts/ci_setup.py
  scripts/performance/common.py
  scripts/performance_setup.py
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Due: azure-pipelines-micro.yml

Update requirements.txt
  requirements.txt
Due: none

Set _BuildConfig earlier
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Type.GetType benchmarks (#3880)
  src/benchmarks/micro/libraries/System.Runtime/Perf.Type.cs
Due: azure-pipelines-micro.yml

Use null for static method 'obj'
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Moved get_mono_corerun duplicated logic to its own function and updated the artifact path to include the framework version being run so you can run net9.0 and then net8.0.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add additional benchmarks for reflection's FieldInfo get\set (#3863)
  src/benchmarks/micro/runtime/System.Reflection/Invoke.cs
Due: azure-pipelines-micro.yml

Check for Empty ASP.NET Benchmark Filters + Documentation (#3870)
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/ASPNetBenchmarks/AspNetBenchmarksCommand.cs
  src/benchmarks/gc/GC.Infrastructure/README.md
Due: none

Add benchmark to verify performance of dependency injection container validation on build (#3878)
  src/benchmarks/micro/libraries/Microsoft.Extensions.DependencyInjection/ScopeValidationOnBuildBenchmark.cs
Due: azure-pipelines-micro.yml

Fix bug with leftover dotnet_mono files.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Update dependencies.
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Update JupyterLab dependency from 1.2.21 -> 3.6.7.
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Set _BuildConfig earlier (#3903)
  scripts/run_performance_job.py
Due: azure-pipelines-micro.yml

Initial fix for Wasm local script builds.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Update JupyterLab dependency from 1.2.21 -> 3.6.7. (#3916)
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Update dependencies. (#3915)
  src/benchmarks/gc/src/requirements.txt
Due: azure-pipelines-gc.yml

Move wasm-tools install so that it is always installed when running wasm jobs.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add support for pre and post wasm -> browser folder move.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Remove the EMSDK setup as it is already automatic and update the test-main.js file find for both wasm and browser directory paths.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Don't include parsed_args.framework in the artifact storage path, we shouldn't need it as the problem was due to dotnet_mono conflicts.
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml

Add VSTest Adapter
  eng/Versions.props
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/Properties/AssemblyInfo.cs
Due: azure-pipelines-micro.yml

Added the new benchmark based types that enable the Benchmark provider
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/LowVolatilityRuns.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/GCPerfSim/Normal_Server.yaml
  src/benchmarks/gc/GC.Infrastructure/Configurations/Run.yaml
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/Configurations/GCPerfSim.Configuration.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure.Core/TraceCollection/TraceCollector.cs
  src/benchmarks/gc/GC.Infrastructure/GC.Infrastructure/Commands/RunCommand/BaseSuite/LowVolatilityRuns.yaml
Due: none

Add TensorPrimitives benchmarks.
  src/benchmarks/micro/MicroBenchmarks.csproj
  src/benchmarks/micro/libraries/System.Numerics.Tensors/Perf_BinaryIntegerTensorPrimitives.cs
  src/benchmarks/micro/libraries/System.Numerics.Tensors/Perf_FloatingPointTensorPrimitives.cs
  src/benchmarks/micro/libraries/System.Numerics.Tensors/Perf_NumberTensorPrimitives.cs
  src/harness/BenchmarkDotNet.Extensions/ValuesGenerator.cs
Due: azure-pipelines-micro.yml

Fix WASM benchmarks_local generation (#3935)
  scripts/benchmarks_local.py
Due: azure-pipelines-micro.yml
